{% extends "crashstats_base.html" %}
{% block page_title %}{{ signature }} - Signature report - Mozilla Crash Reports{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'select2' %}
    {% stylesheet 'metricsgraphics' %}
    {% stylesheet 'search' %}
    {% stylesheet 'accordion' %}
    {% stylesheet 'signature_report' %}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>Signature report for <em>{{ signature }}</em></h2>
    </div>

    <section id="search-form">
        <a href="#" class="toggle-filters show">Show</a>
        <h4>Search filters</h4>

        <form method="get" action="{{ url('signature:signature_report') }}"
            data-fields-url="{{ url('supersearch.search_fields') }}?exclude=signature"
            data-signature="{{ signature }}"
        >
            <button type="submit" id="search-button">Search</button>
            <button class="new-line">new line</button>
            <fieldset id="search-params-fieldset"></fieldset>

            <div class="clear"></div>
        </form>
    </section>

    <nav id="panels-nav">
        <ul class="tabs">
            <li><a href="#summary" class="summary" data-tab-name="summary">Summary</a></li>
            <li><a href="#aggregations" class="aggregations" data-tab-name="aggregations">Aggregations</a></li>
            <li><a href="#reports" class="reports" data-tab-name="reports">Reports</a></li>
            <li><a href="#graphs" class="graphs" data-tab-name="graphs">Graphs</a></li>
            <li><a href="#bugzilla" class="bugzilla" data-tab-name="bugzilla">Bugzilla</a></li>
            <li><a href="#comments" class="comments" data-tab-name="comments">Comments</a></li>
            <li><a href="#correlations" class="correlations" data-tab-name="correlations">Correlations</a></li>
            <li><a href="#graph" class="graph" data-tab-name="graph">Build Graph</a></li>
        </ul>
    </nav>

    <!-- Loading panel.
        Shows a loading bar, is displayed by default when the page is
        loading initial data.
    -->
    <section class="panel tab-panel" id="loading-panel">
        <header class="title">
            <h2>Loading&hellip;</h2>
        </header>

        <div class="body">
            <div class="loader"></div>
        </div>
    </section>
</div>
{% endblock %}


{% block site_js %}
    {{ super() }}

<script>
var SOURCE_URLS = {
    'summary': "{{ url('signature:signature_summary') }}",
    'aggregations': "{{ url('signature:signature_report') }}aggregation/",
    'reports': "{{ url('signature:signature_reports') }}",
    'graphs': "{{ url('signature:signature_report') }}graphs/",
    'bugzilla': "{{ url('signature:signature_bugzilla') }}",
    'comments': "{{ url('signature:signature_comments') }}",
    'correlations': "{{ url('signature:signature_correlations') }}",
    'graph': "{{ url('signature:signature_report') }}graphdata/",
};
var BASE_URL = location.protocol + '//' + location.host;
var FIELDS = {{ fields | json_dumps }};
var CHANNELS = {{ channels | json_dumps }};
var COLUMNS = {{ columns | json_dumps }};
var SORT = "{{ sort | join(',') }}";
var DEFAULT_CHANNEL = '{{ channel }}';
</script>

{% javascript 'd3' %}
{% javascript 'jquery_ui' %}
{% javascript 'jquery_tablesorter' %}
{% javascript 'select2' %}
{% javascript 'accordion' %}
{% javascript 'dynamic_form' %}
{% javascript 'socorro_utils' %}
{% javascript 'bugzilla' %}
{% javascript 'metricsgraphics' %}
{% javascript 'correlation' %}
{% javascript 'signature_report' %}
{% endblock %}
