{% for app_name, app_state in recursive_state_filter(state, root_app) %}
  {% if loop.first %}
  <ol>
  {% endif %}
  <li class="app {% if app_state.last_error %}errored{% endif %}">
    <h4>{{ app_name }}</h4>
    <table>
      <tr>
        <th>First run</th>
        <td>{{ app_state.first_run|js_date }}</td>
      </tr>
      <tr>
        <th>Next run</th>
        <td>{{ app_state.next_run|js_date }}</td>
      </tr>
      <tr>
        <th>Last success</th>
        <td>
          {% if app_state.last_success %}
            {{ app_state.last_success|js_date }}
          {% else %}no previous success{% endif %}
        </td>
      </tr>
      <tr>
        <th>Last run</th>
        <td>{{ app_state.last_run|js_date }}</td>
      </tr>
      {% if app_state.last_error %}
      <tr>
        <th>Error count</th>
        <td>{{ app_state.error_count }}</td>
      </tr>
      {% if request.user.is_active %}
      <tr>
        <th>Error type</th>
        <td>{{ app_state.last_error.type }}</td>
      </tr>
      <tr>
        <th>Error value</th>
        <td>{{ app_state.last_error.value }}</td>
      </tr>
      <tr>
        <th>Traceback</th>
        <td>{{ app_state.last_error.traceback }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="2">Error details hidden when not logged in</td>
      </tr>
      {% endif %}
      {% endif %}
    </table>
    {% set root_app = app_name %}
    {% include "crashstats/_crontabber_apps.html" %}
  </li>
  {% if loop.last %}
  </ol>
  {% endif %}
{% endfor %}
