{% extends "crashstats_base.html" %}


{% block page_title %}Crontabber State{% endblock %}


{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link media="screen" href="{{ static('crashstats/css/flora/flora.css') }}" type="text/css" rel="stylesheet">
  <link media="screen" href="{{ static('crashstats/css/flora/flora.tablesorter.css') }}" type="text/css" rel="stylesheet">
  <link media="screen" href="{{ static('crashstats/css/crontabber_state.css') }}" type="text/css" rel="stylesheet">
  {% endcompress %}
{% endblock %}


{% block site_js %}
  {{ super() }}
  {% compress js %}
  <script src="{{ static('crashstats/js/jquery/plugins/ui/jquery.tablesorter.min.js') }}"></script>
  <script src="{{ static('crashstats/js/moment.min.js') }}"></script>
  <script src="{{ static('crashstats/js/underscore-min.js') }}"></script>
  <script src="{{ static('crashstats/js/d3.min.js') }}"></script>
  <script src="{{ static('crashstats/js/sankey.js') }}"></script>
  <script src="{{ static('crashstats/js/socorro/crontabber_state.js') }}"></script>
  {% endcompress %}
{% endblock %}


{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>Crontabber State</h2>
    </div>

    <div class="panel">
        <div class="title">
            As of {{ last_updated|js_date }}
        </div>
        <div id="crontabber-chart" class="body">
        </div>
    </div>

    <div class="panel">
        <div class="title">
            Job Specifics
        </div>
        <div id="crontabber-table" class="body">
        </div>
    </div>

</div>
{% endblock %}
