{% extends "crashstats_base.html" %}

{% macro pagination(hangreport) %}
      <div class="pagination">
        <span class="totalItems">{{ hangreport.totalCount }}</span> Results
        {% if current_page > 1 %}
        <a href="?duration={{ duration }}&amp;page={{ current_page - 1 }}">&larr; Prev</a>
        {% endif %}
        {% for page in range(1, hangreport['totalPages'] + 1) %}
          {% if page == hangreport['currentPage'] %}
            <strong>{{ page }}</strong>
          {% else %}
            <a href="?duration={{ duration }}&amp;page={{ page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
        {% if hangreport.totalPages > current_page %}
        <a href="?duration={{ duration }}&amp;page={{ current_page + 1 }}">Next &rarr;</a>
        {% endif %}
      </div>
{%- endmacro %}

{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>Hang Report for <span class="current-product">{{ product }}</span><span class="current-version">{{ version }}</span></h2>
      <ul class="options">
          <li><a href="" class="selected">By Product/Version</a></li>
      </ul>
      <ul class="options">
        <li><a href="?duration=3" {% if duration == 3 %}class="selected"{% endif%}>3 days</a></li>
        <li><a href="?duration=7" {% if duration == 7 %}class="selected"{% endif%}>7 days</a></li>
        <li><a href="?duration=14" {% if duration == 14 %}class="selected"{% endif%}>14 days</a></li>
      </ul>
  </div>

  <div class="panel">
    <div class="body notitle">
      {{ pagination(hangreport) }}
      <table id="signatureList" class="tablesorter data-table">
        <thead>
          <tr>
            <th class="header">Browser Signature</th>
            <th class="header">Plugin Signature</th>
            <th class="header">Flash Version</th>
            <th class="header">OOID</th>
            <th class="header">Report Day</th>
          </tr>
        </thead>
        <tbody>
        {% for report in hangreport.hangReport %}
        <tr>
          <td>
            <a href="{{ url('crashstats.report_list') }}?date={{ report.report_day }}&amp;signature={{ report.browser_signature|urlencode }}&amp;version={{ product }}%3A{{ version }}" class="signature signature-preview">{{ report.browser_signature }}</a>
          </td>
          <td>
            <a href="{{ url('crashstats.report_list') }}?date={{ report.report_day }}&amp;signature={{ report.plugin_signature|urlencode }}&amp;version={{ product }}%3A{{ version }}" class="signature signature-preview">{{ report.plugin_signature }}</a>
          </td>
          <td>{{ report.flash_version }}</td>
          <td>
            <a href="{{ url('crashstats.report_index', report.uuid) }}">{{ report.uuid }}</a>
          </td>
          <td>
            {{ report.report_day }}
          </td>
        </tr>
        {% endfor %}
        <tbody>
      </table>
      {{ pagination(hangreport) }}

    </div>
  </div>
</div>
{% endblock %}
