{% extends "crashstats_base.html" %}
{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>Hang Report for <span class="current-product">{{ product }}</span><span class="current-version">{{ version }}</span></h2>
      <ul class="options">
          <li><a href="" class="selected">By Product/Version</a></li>
      </ul>
      <ul class="options">
      {% for d in request.possible_days %}
          <li><a href="?days={{ d }}" {% if days == d %} class="selected" {% endif %}>{{ d }} days</a></li>
      {% endfor %}
      </ul>
  </div>

  <div class="panel">
    <div class="body notitle">
      {{ pagination(hangreport) }}
      <table id="signatureList" class="tablesorter data-table">
        <thead>
          <tr>
            <th class="header">Browser Signature</th>
            <th class="header">Plugin Signature</th>
            <th class="header">Flash Version</th>
            <th class="header">OOID</th>
            <th class="header">Report Day</th>
          </tr>
        </thead>
        <tbody>
        {% for report in hangreport.hangReport %}
        <tr>
          <td>
            <a href="{{ url('crashstats.report_list') }}?date={{ report.report_day }}&amp;signature={{ report.browser_signature|urlencode }}&amp;version={{ product }}%3A{{ version }}&amp;range_value={{ duration }}&amp;range_units={{ days }}" class="signature signature-preview">{{ report.browser_signature }}</a>
          </td>
          <td>
            <a href="{{ url('crashstats.report_list') }}?date={{ report.report_day }}&amp;signature={{ report.plugin_signature|urlencode }}&amp;version={{ product }}%3A{{ version }}&amp;range_value={{ duration }}&amp;range_units={{ days }}" class="signature signature-preview">{{ report.plugin_signature }}</a>
          </td>
          <td>{{ report.flash_version }}</td>
          <td>
            <a href="{{ url('crashstats.report_index', report.uuid) }}">{{ report.uuid }}</a>
          </td>
          <td>
            {{ report.report_day }}
          </td>
        </tr>
        {% endfor %}
        <tbody>
      </table>
      {{ pagination(hangreport) }}

    </div>
  </div>
</div>
{% endblock %}
