{% extends "crashstats_base.html" %}
{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>Hang Report for <span class="current-product">{{ product }}</span><span class="current-version">{{ version }}</span></h2>
      <ul class="options">
          <li><a href="/hangreport/byversion/{{ product }}/{{ version }}" class="selected">By Product/Version</a></li>
      </ul>
      <ul class="options">
        <li><a href="/hangreport/byversion/{{ product }}/{{ version }}?duration=3" {% if duration == 3 %}class="selected"{% endif%}>3 days</a></li>
        <li><a href="/hangreport/byversion/{{ product }}/{{ version }}?duration=7" {% if duration == 7 %}class="selected"{% endif%}>7 days</a></li>
        <li><a href="/hangreport/byversion/{{ product }}/{{ version }}?duration=14" {% if duration == 14 %}class="selected"{% endif%}>14 days</a></li>
      </ul>
  </div>
  
  <div class="panel">
    <div class="body notitle">
      <div class="pagination">
        <span class="totalItems">{{ hangreport.totalCount }}</span> Results
        {% for page in range(1, hangreport.totalPages) %}
        {% if page == hangreport.currentPage %}<strong>{{ page }}</strong>{% else %}<a href="/hangreport/byversion/{{ product }}/{{ version }}?duration={{ duration }}&page={{ page }}">{{ page }}</a>{% endif %}
        {% endfor %}
      </div>
      <table id="signatureList" class="tablesorter data-table">
        <thead>
          <tr>
            <th class="header">Browser Signature</th>
            <th class="header">Plugin Signature</th>
            <th class="header">Flash Version</th>
            <th class="header">OOID</th>
            <th class="header">Report Day</th>
          </tr>
        </thead>
        <tbody>
        {% for report in hangreport.hangReport %}
        <tr>
          <td>
            <a href="/report/list?date={{ report.report_day }}&signature={{ report.browser_signature }}&version={{ product }}:{{ version }}" class="signature signature-preview">{{ report.browser_signature }}</a>
          </td>
          <td>
            <a href="/report/list?date={{ report.report_day }}&signature={{ report.plugin_signature }}&version={{ product }}:{{ version }}" class="signature signature-preview">{{ report.plugin_signature }}</a>
          </td>
          <td>{{ report.flash_version }}</td>
          <td>
            <a href="/report/index/{{ report.uuid }}">{{ report.uuid }}</a>
          </td>
          <td>
            {{ report.report_day }}
          </td>
        </tr>
        {% endfor %}
        <tbody>
      </table>
  
      <div class="pagination">
        <span class="totalItems">{{ hangreport.totalCount }}</span> Results
        {% for page in range(1, hangreport.totalPages) %}
        {% if page == hangreport.currentPage %}<strong>{{ page }}</strong>{% else %}<a href="/hangreport/byversion/{{ product }}/{{ version }}?duration={{ duration }}&page={{ page }}">{{ page }}</a>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
