{% extends "crashstats_base.html" %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>{{ product }} Crash Data</h2>
        <ul class="options">
        {% for d in request.possible_days %}
            <li><a href="?days={{ d }}" {% if days == d %} class="selected" {% endif %}>{{ d }} days</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="panel">
        <div class="title">
            <h2>Crashes per 100  Active Daily Users</h2>
        </div>

        <div class="body">
            <div id="adu-chart"></div>
        </div>
    </div>

    <div class="panel">
        <div class="title">
            <h2>Crash Reports</h2>
        </div>

        <div class="body">
            <div id="release_channels">
            {% for r in currentversions|groupby('product') %}
                {% if r[0] == product %}
                    {% for v in r[1] %}
                        {% if versions[0] == v.version %}
                <div class="release_channel">
                    <h4>{{ r[0] }} {{ v.version }}</h4>
                    <ul>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version) }}?days={{ days }}">Top Crashers</a></li>
                      <li><a href="{{ url('crashstats.topchangers', r[0], v.version) }}?days={{ days }}">Top Changers</a></li>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version, 'plugin') }}?days={{ days }}">Top Plugin Crashers</a></li>
                    </ul>
                </div>
                        {% elif versions|count > 1 and v.featured %}
                <div class="release_channel">
                    <h4>{{ r[0] }} {{ v.version }}</h4>
                    <ul>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version) }}?days={{ days }}">Top Crashers</a></li>
                      <li><a href="{{ url('crashstats.topchangers', r[0], v.version) }}?days={{ days }}">Top Changers</a></li>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version, 'plugin') }}?days={{ days }}">Top Plugin Crashers</a></li>
                    </ul>
                </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        <br class="clear" />
    </div>
    </div>
    <br class="clear" />
    </div>

{% endblock %}
{% block site_js %}
  {{ super() }}
  <!--[if IE]><script type="text/javascript" src="{{ static('js/flot-0.7/excanvas.pack.js') }}"></script><![endif]-->
  {% compress js %}
  <script src="{{ static('crashstats/js/flot-0.7/jquery.flot.pack.js') }}"></script>
  <script src="{{ static('crashstats/js/socorro/daily.js') }}"></script>
  {% endcompress %}
  <script>
    var data = {{ graph_data | safe }};
  </script>
{% endblock %}

