{% extends "crashstats_base.html" %}
{% block site_js %}
  {{ super() }}
  <!--[if IE]><script type="text/javascript" src="{{ static('js/flot-0.7/excanvas.pack.js') }}"></script><![endif]-->
  {% compress js %}
  <script src="{{ static('crashstats/js/flot-0.7/jquery.flot.pack.js') }}"></script>
  <script src="{{ static('crashstats/js/socorro/daily.js') }}"></script>
  {% endcompress %}
  <script>
    var data = {{ graph_data | safe }};
  </script>
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>{{ product }} Crash Data</h2>
         <ul class="options">
                <li><a href="?duration=3" {% if duration == 3 %} class="selected" {% endif %}>3 days</a></li>
                <li><a href="?duration=7" {% if duration == 7 %} class="selected" {% endif %}>7 days</a></li>
                <li><a href="?duration=14" {% if duration == 14 %} class="selected" {% endif %}>14 days</a></li>
            </ul>
    </div>

    <div class="panel">
        <div class="title">
            <h2>Crashes per 100  Active Daily Users</h2>
        </div>

        <div class="body">
            <div id="adu-chart"></div>
        </div>
    </div>

    <div class="panel">
        <div class="title">
            <h2>Crash Reports</h2>
        </div>

        <div class="body">
            <div id="release_channels">
            {% for r in currentversions|groupby('product') %}
                {% if r[0] == product %}
                    {% for v in r[1] %}
                        {% if version == v.version %}
                <div class="release_channel border_right">
                    <h4>{{ r[0] }} {{ v.version }}</h4>
                    <ul>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version, duration) }}">Top Crashers</a></li>
                      <li><a href="{{ url('crashstats.topchangers', r[0], v.version) }}?duration={{ duration }}">Top Changers</a></li>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version, duration, 'plugin') }}">Top Plugin Crashers</a></li>
                    </ul>
                </div>
                        {% elif not version and v.featured %}
                <div class="release_channel  border_right">
                    <h4>{{ r[0] }} {{ v.version }}</h4>
                    <ul>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version, duration) }}">Top Crashers</a></li>
                      <li><a href="{{ url('crashstats.topchangers', r[0], v.version, duration) }}">Top Changers</a></li>
                      <li><a href="{{ url('crashstats.topcrasher', r[0], v.version, duration, 'plugin') }}">Top Plugin Crashers</a></li>
                    </ul>
                </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        <br class="clear" />
    </div>
    </div>
    <br class="clear" />
    </div>

{% endblock %}
