{% extends "crashstats_base.html" %}
{% block content %}
<div id="mainbody">
    <script type="text/javascript">
var socSearchFormModel = {{ params_json|safe }};
var prodVersMap = {{ products_json|safe }};
    </script>

    <div class="version-nav query_removemargin">
        <form id="searchform" action="{{ url('crashstats.query') }}">
        <fieldset>

        <ul>
        <li><label class="basic" for="product">Product</label>
            <select id="product" name="product" size="8" multiple="multiple" class="primary">
            {% for product in products %}
                <option value="{{ product }}"{% if (product in params.products) %} selected{% endif %}>{{ product }}</option>
            {% endfor %}
            </select>
        </li>
        <li><label class="basic" for="version">Version: </label>
            <select id="version" name="version" size="8" multiple="multiple" class="primary">
                <option value='ALL:ALL'>All</option>
                <optgroup label="Featured Versions"></optgroup>
                <optgroup label="Older Versions"></optgroup>
            </select>
        </li>
        <li><label class="basic" for="platform">Operating System</label>
            <select id="platform" name="platform" size="8" multiple="multiple" class="primary">
            {% for platform in platforms %}
                <option value="{{ platform.code }}"{% if (platform.code in params.platforms) %} selected{% endif %}>{{ platform.name }}</option>
            {% endfor %}
            </select>
        </li>
        <li>
            <span class="basic label">
                <a href="#" id="advfiltertoggle" class="not-toggled">Advanced Filters</a>
            </span>

            <div id="advfilter">
                <p class="advanced">
                    <label for="range_value">For the period of </label>
                    <input type="text" id="range_value" name="range_value" value="{{ params.date_range_value }}" size="2">
                    <select id="range_unit" name="range_unit">
                        <option value="hours"{% if params.date_range_unit == 'hours' %} selected{% endif %}>Hours</option>
                        <option value="days"{% if params.date_range_unit == 'days' %} selected{% endif %}>Days</option>
                        <option value="weeks"{% if params.date_range_unit == 'weeks' %} selected{% endif %}>Weeks</option>
                    </select>
                    <span id="dateHelp">
                        <label for="date"> before </label>
                        <input type="text" name="date" id="date" size="20" title="This field must be formatted as MM/DD/YYYY HH:MM:SS" value="{{ params.end_date }}">
                        (UTC)
                    </span>
                </p>

                <p class="advanced">
                    <label for="query_type">Stack signature</label>
                    <input type="hidden" name="query_search" value="signature">
                    <select id="query_type" name="query_type">
                        <option value="is_exactly"{% if params.query_type == 'is_exactly' %} selected{% endif%}>is exactly</option>
                        <option value="contains"{% if params.query_type == 'contains' %} selected{% endif%}>contains</option>
                        <option value="starts_with"{% if params.query_type == 'starts_with' %} selected{% endif%}>starts with</option>
                    </select>
                    <input type="text" id="query" name="query" value="{{ params.query }}" size="25">
                </p>

                <p class="advanced">
                    <label for="reason">Crash Reason</label>
                    <input type="text" id="reason" name="reason" value="{{ params.reason }}" size="25">
                </p>

                <p class="advanced">
                    <label for="build_id">Build ID</label>
                    <input type="text" id="build_id" name="build_id" value="{{ params.build_id }}" size="14">
                </p>

                <p class="advanced">
                    <span class="label">Report Process:</span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="process_type" value="any" {% if params.process_type == 'any' %} checked{% endif %}>
                            Any
                        </label>
                    </span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="process_type" value="browser"{% if params.process_type == 'browser' %} checked{% endif %}>
                            Browser
                        </label>
                    </span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="process_type" value="plugin"{% if params.process_type == 'plugin' %} checked{% endif %}>
                            Plugins
                        </label>
                    </span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="process_type" value="content"{% if params.process_type == 'content' %} checked{% endif %}>
                            Content
                        </label>
                    </span>
                </p>

                <p class="advanced">
                    <span class="label">Report Type:</span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="hang_type" value="any"{% if params.hang_type == 'any' %} checked{% endif %}>
                            Any
                        </label>
                    </span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="hang_type" value="crash"{% if params.hang_type == 'crash' %} checked{% endif %}>
                            Crash
                        </label>
                    </span>
                    <span class="radio-item">
                        <label>
                            <input type="radio" name="hang_type" value="hang"{% if params.hang_type == 'hang' %} checked{% endif %}>
                            Hang
                        </label>
                    </span>
                </p>

                <p id="plugin-inputs" class="advanced">
                    <label for="plugin_field" >Search By Plugin</label>
                    <select id="plugin_field" name="plugin_field" >
                        <option value="filename"{% if params.plugin_field == 'filename' %} selected{% endif %}>Filename</option>
                        <option value="name"{% if params.plugin_field == 'name' %} selected{% endif %}>Name</option>
                    </select>
                    <select id="plugin_query_type" name="plugin_query_type" >
                        <option value="is_exactly"{% if params.plugin_query_type == 'is_exactly' %} selected{% endif%}>is exactly</option>
                        <option value="contains"{% if params.plugin_query_type == 'contains' %} selected{% endif%}>contains</option>
                        <option value="starts_with"{% if params.plugin_query_type == 'starts_with' %} selected{% endif%}>starts with</option>
                    </select>
                    <input type="text" id="plugin_query" name="plugin_query" value="{{ params.plugin_query }}" size="25">
                </p>
            </div><!-- /advfilter -->

            <button id="query_submit" type="submit">Filter Crash Reports</button>

            <div id="query_waiting" class="hidden">
                <p class="advanced">
                    <img src="{{ static('img/loading.png') }}" alt="Loading animation" />
                    <i>processing query, please wait...</i>
                </p>
            </div>
            </li>

            </ul>
            </fieldset>
        </form>
    </div>

    <div id="formspacer"> </div>

    {% if 'hits' in query %}
    <div class="page-heading">
        <h2>Query Results</h2>
    </div>

    <div class="panel">
        <div class="body notitle">
    {% if query.total > 0 %}
    <p>
    Results within {{ params.date_range_value }} {{ params.date_range_unit }} of {{ params.end_date }}, and the product is one of {{ ', '.join(params.products) }}, and the version is one of {{ ', '.join(params.versions) }} and the crashing process was of {{ params.process_type }} type (including unofficial release channels).</p>

    {{ pagination(query) }}

    <table id="signatureList" class="tablesorter data-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Signature</th>
                <th>#</th>
                <th>Win</th>
                <th>Mac</th>
                <th>Lin</th>
                <th class="bugzilla_numbers">Bugzilla IDs</th>
            </tr>
        </thead>
        <tbody>
            {% for hit in query.hits %}
            <tr>
                <td>{{ results_offset + loop.index }}</td>
                <td>
                    <a href="/report/list?signature={{ hit.signature|urlencode }}&amp;product={{ ','.join(params.products)|urlencode }}&amp;version={{ ','.join(params.versions)|urlencode }}&amp;platform={{ ','.join(params.platforms)|urlencode }}&amp;query_type={{ params.query_type|urlencode }}&amp;date={{ params.end_date|urlencode }}&amp;range_value={{ params.date_range_value|urlencode }}&amp;range_unit={{ params.date_range_unit|urlencode }}&amp;reason={{ params.reason|urlencode }}&amp;build_id={{ params.build_id|urlencode }}&amp;hang_type={{ params.hang_type|urlencode }}&amp;process_type={{ params.process_type|urlencode }}{% if params.hang_type == 'plugin' %}&amp;plugin_field={{ params.plugin_field|urlencode }}&amp;plugin_query_type={{ params.plugin_query_type|urlencode }}&amp;plugin_query={{ params.plugin_query|urlencode }}{%endif %}">
                        {{ hit.signature }}
                    </a>
                    <div class="signature-icons"></div>
                </td>
                <td>{{ hit.count }}</td>
                <td>{{ hit.is_windows }}</td>
                <td>{{ hit.is_mac }}</td>
                <td>{{ hit.is_linux }}</td>
                <td>
                  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=752164"
                     title="Find more information in Bugzilla"
                     class="bug-link" >752164</a>
                  <a href='#' title="Click to See all likely bug numbers"
                     class="bug_ids_more">More</a>
                  <div class="bug_ids_expanded_list">
                      <h3>Bugs for <code>{{ hit.signature }}</code></h3>
                      <ul class="bug_ids_expanded full_bug_ids popup">
                          <li>
                              <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=752164"
                                 title="Find more information in Bugzilla"
                                 class="bug-link" >752164</a>
                          </li>
                      </ul>
                 </div>
               </td>
             </tr>
         {% endfor %}
        </tbody>
    </table>

    {{ pagination(query) }}

    {% else %}
    <p>No results were found.</p>
    {% endif %}
    {% endif %}

        </div>
    </div>
</div>

{% endblock %}

{% block site_js %}
    {{ super() }}
    {% compress js %}

<script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/jquery.tooltip.min.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/ui/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/socorro/query.js') }}"></script>

    {% endcompress %}
{% endblock %}
