{% extends "crashstats_base.html" %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ static('crashstats/css/flora/flora.all.css') }}" media="screen" />
  {% endcompress %}
{% endblock %}

{% block content %}

<div id="mainbody">
  <div class="page-heading">
    <h2>{{ report.product }} {{ report.version }} Crash Report [@ {{ report.signature }} ]</h2>
  </div>

  <div class="panel">
    <div class="body notitle">
      <div id="sumo-link"><a href="http://support.mozilla.com/search?q={{ report.signature }}" title="Find more answers at support.mozilla.com!">Search Mozilla Support for Help</a></div>

      <div id="report-header-details">ID: <span>{{ report.uuid }}</span><br/> Signature: <span>{{ report.signature }}</span></div>
      <div id="report-index" class="flora">

      <ul class="ui-tabs-nav">
        <li><a href="#details"><span>Details</span></a></li>
        <li><a href="#modules"><span>Modules</span></a></li>
        <li><a href="#rawdump"><span>Raw Dump</span></a></li>
        <li><a href="#extensions"><span>Extensions</span></a></li>
        <li><a href="#comments"><span>Comments</span></a></li>
        <li><a href="#correlation"><span>Correlations</span></a></li>
      </ul>
      
      <div id="details">
        <table class="record data-table vertical">
          <tbody>
            <tr>
              <th>Signature</th>
              <td>
                {{ report.signature }}
                <a href="/report/list?signature={{ report.signature }}" class="sig-overview" title="View more reports of this type">More Reports</a>
                <a href="/query?advanced=1&amp;signature={{ report.signature }}" class="sig-search" title="Search for more reports of this type">Search</a>
              </td>
            </tr>
            <tr>
              <th>UUID</th>
              <td>{{ report.uuid }}</td>
            </tr>
            <tr>
              <th>Date Processed</th><td>{{ report.date_processed }}</td>
            </tr>
      
            <tr>
              <th>Uptime</th><td>{{ report.uptime }}</td>
            </tr>
            <tr>
              <th>Install Age</th>
              <td>{{ report.install_age }} since version was first installed.</td>
            </tr>
            <tr>
              <th>Install Time</th>
              <td>{{ report.install_time }}</td>
            </tr>
            <tr>
              <th>Product</th>
              <td>{{ report.product }}</td>
            </tr>
            <tr>
              <th>Version</th>
              <td>{{ report.version }}</td>
            </tr>
            <tr>
              <th>Build ID</th>
              <td>{{ report.build }}</td>
            </tr>
            <tr>
              <th>Release Channel</th>
              <td>{{ report.release_channel }}</td>
            </tr>
            <tr>
              <th>OS</th>
              <td>{{ report.os_name }}</td>
            </tr>
            <tr>
              <th>OS Version</th>
              <td>{{ report.os_version }}</td>
            </tr>
            <tr>
              <th>Build Architecture</th>
              <td>{{ report.cpu_name }}</td>
            </tr>
            <tr>
              <th>Build Architecture Info</th>
              <td>{{ report.cpu_info }}</td>
            </tr>
            <tr>
              <th>Crash Reason</th>
              <td>{{ report.reason }}</td>
            </tr>
            <tr>
              <th>Crash Address</th>
              <td>{{ report.address }}</td>
            </tr>
            <tr>
              <th>User Comments</th>
              <td></td>
            </tr>
            <tr>
              <th title="Notes added by the application's code during crash">App Notes</th>
              <td><pre>{{ report.app_notes }}</pre></td>
            </tr>
            <tr>
              <th title="Notes added by Socorro when accepting the crash report">Processor Notes</th>
              <td><pre>{{ report.processor_notes }}</td>
            </tr>
            <tr>
              <th>EMCheckCompatibility</th>
              <td></td>
            </tr>
            <tr>
              <th>Winsock LSP</th>
              <td><pre>{{ report.Winsock_LSP }}</pre></td>
            </tr>
            <tr><th>Adapter Vendor ID</th><td>FIXME</td></tr>
            <tr><th>Adapter Device ID</th><td>FIXME</td></tr>
          </tbody>
        </table>
      
        <div id="bugzilla" class="bugreporter">
          <p><strong>Bugzilla</strong> - Report this bug in
          {% for bug_product in [product, 'Core', 'Plugins', 'Toolkit'] %}
            <a href="https://bugzilla.mozilla.org/enter_bug.cgi?advanced=1&bug_severity=critical&keywords=crash&product={{ bug_product }}&op_sys={{ report.os_name }}&rep_platform={{ report.cpu_name }}&cf_crash_signature={{ report.signature }}&short_desc=crash in {{ report.signature }}&comment=This bug was filed from the Socorro interface and is %0Areport bp-{{ report.uuid }} .%0A ============================================================= %0A" target="_NEW">{{ bug_product }}</a>
          {% endfor %}
          </p>

          <h2>Related Bugs</h2>
          <div class="bug_ids_expanded_list">
            <ul class="bug_ids_expanded full_bug_ids full">
            {% for bug in bug_associations %}
              <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.bug_id }}"
                     title="Find more information in Bugzilla"
                     class="bug-link" >{{ bug.bug_id }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div><!-- /bugzilla -->

            <div id="frames">
              <h2>Crashing Thread</h2>
                <table class="data-table">
                  <thead>
                    <tr>
                      <th>Frame</th>
                      <th>Module</th>
                      <th class="signature-column">Signature</th>
                      <th>Source</th>
                    </tr>
                   </thead>
                   <tbody>
                   {% for frame in threads[crashing_thread] %}
                     <tr >
                       <td>{{ frame.number }}</td>
                       <td>{{ frame.module }}</td>
                       {% if frame.signature == '' %}
                       <td title="{{ frame.module }} @{{ frame.address}}">{{ frame.module }} @{{ frame.address }}</td>
                       {% else %}
                       <td title="{{ frame.signature }}">{{ frame.signature }}</td>
                       {% endif %}
                       <td>{{ frame.source }}</td>
                     </tr>
                     {% endfor %}
                   </tbody>
                 </table>

                 <p id="showallthreads" class="hidden"><a href="#allthreads">Show/hide other threads</a></p>
                 <div id="allthreads">
                 {% for thread in threads %}
                   <h2>Thread {{ thread }}</h2>
                   <table class="data-table">
                     <thead>
                       <tr>
                         <th>Frame</th>
                         <th>Module</th>
                         <th class="signature-column">Signature</th>
                         <th>Source</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for frame in threads.thread %}
                        <tr >
                          <td>{{ frame.number }}</td>
                          <td>{{ frame.module }}</td>
                          {% if frame.signature == '' %}
                          <td title="{{ frame.module }} @{{ frame.address}}">{{ frame.module }} @{{ frame.address }}</td>
                          {% else %}
                          <td title="{{ frame.signature }}">{{ frame.signature }}</td>
                          {% endif %}
                          <td>{{ frame.source }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endfor %}
                  </div>
                </div><!-- /frames -->
              </div><!-- /details -->

          <div id="modules" class="ui-tabs-hide">
            <table class="tablesorter data-table" id="modules-list">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Version</th>
                  <th>Debug Identifier</th>
                  <th>Debug Filename</th>
                </tr>
              </thead>
              <tbody>
                {% for module in modules %}
                <tr>
                  <td>{{ module.filename }}</td>
                  <td>{{ module.version }}</td>
                  <td>{{ module.debug_identifier }}</td>
                  <td>{{ module.debug_filename }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!-- /modules -->
      
      
          <div id="rawdump" class="ui-tabs-hide">
            <div class="code">
              {{ report.dump }}
            </div>
          </div><!-- /rawdump -->
      
          <div id="extensions" class="ui-tabs-hide">
            <table class="data-table">
              <thead>
                <tr>
                  <th>Extension</th>
                  <th>Extension Id</th>
                  <th>Version</th>
                  <th>Current?</th>
                </tr>
              </thead>
            <tbody>
            {% for extension in extensions %}
              <tr>
                <td><a href="{{ extension.name }}">{{ extension.name }}</a></td>
                <td>{{ extension.id }}</td>
                <td>{{ extension.version }}</td>
                <td><strong>{{ extension.current }}</strong></td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
          </div><!-- /extensions -->
          <div id="comments" class="ui-tabs-hide">
            <h2>Comments</h2>
              <p><em>No comments are available.</em></p>
          </div>
      
          <div id="correlation" class="ui-tabs-hide"><h2>Correlations for Firefox 15.0a1 Windows NT</h2>
            <p>Below are tables of correlation data generated by <a href="http://dbaron.org/mozilla/topcrash-modules">dbaron's scripts</a>. If this crash signature is
      a top crasher, then we should be able to load it from <a href="http://people.mozilla.com/crash_analysis/">the original text files</a>. Only the first 2MB of each Platform's output is loaded. If this screen has data from multiple product/version/platforms, the crashiest was picked (Firefox 15.0a1 Windows NT).</p>
            <ul>
              <li id="mod">
                <h3>Modules <a href="#modver" title="Skip Down to Module Versions">Next</a></h3>
                <div id="module_correlation">Loading <img src="{{ static('img/loading.png') }}" width="16" height="17" /></div>
              </li>
      
              <li id="modver">
                <h3>Modules by versions <a href="#add" title="Skip Down to Add-ons">Next</a>
                <a href="#mod" title="Skip Up to Modules">Previous</a></h3>
                <div id="moduleversion-panel"><button name="moduleversion" class="load-version-data">Load</button></div>
              </li>
      
              <li id="add">
                <h3>Add-ons <a href="#addver" title="Skip Down to Add-on Versions">Next</a>
                <a href="#modver" title="Skip Up to Module Versions">Previous</a></h3>
                <div id="addon_correlation">Loading <img src="{{ static('img/loading.png') }}" width="16" height="17" /></div>
              </li>
      
              <li id="addver">
                <h3>Add-ons by versions <a href="#cpu" title="Skip Down to CPU Cores">Next</a>
                <a href="#add" title="Skip Up to Add-ons">Previous</a></h3>
                <div id="addonversion-panel"><button name="addonversion" class="load-version-data">Load</button></div>
              </li>
      
              <li id="cpu">
                <h3>CPU Cores <a href="#addver" title="Skip Up to Add-on Versions">Previous</a></h3>
                <div id="cpu_correlation">Loading <img src="{{ static('img/loading.png') }}" width="16" height="17" /></div>
              </li>
            </ul>
        </div><!-- /correlation -->
      </div> <!-- /report-index -->
    </div>
  </div>
</div>
{% endblock %}
{% block site_js %}
  {{ super() }}
  {% compress js %}
  <script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/ui/jquery.ui.all.js') }}"></script>
  <script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/ui/jquery.tablesorter.min.js') }}"></script>
  <script type="text/javascript" src="{{ static('crashstats/js/socorro/bugzilla.js') }}"></script>
  <script type="text/javascript" src="{{ static('crashstats/js/socorro/report.js') }}"></script>
  <script type="text/javascript" src="{{ static('crashstats/js/socorro/correlation.js') }}"></script>
  {% endcompress %}
{% endblock %}
