{% extends "crashstats_base.html" %}

{% macro pagination(report_list) %}
      <div class="pagination">
        <span class="totalItems">{{ report_list.total }}</span> Results
        {% if current_page > 1 %}
        <a href="{{ url('crashstats.report_list') }}?version={{ product }}:{{ version }}&query_search=signature&query_type=contains&reason_type=contains&date={{ start_date }}&range_value=7&range_unit=days&hang_type=any&process_type=any&signature={{ signature }}&page={{ current_page - 1 }}">&larr; Prev</a>
        {% endif %}
        {% for page in range(1, total_pages + 1) %}
          {% if page == current_page %}
            <strong>{{ page }}</strong>
          {% else %}
            <a href="{{ url('crashstats.report_list') }}?version={{ product }}:{{ version }}&query_search=signature&query_type=contains&reason_type=contains&date={{ start_date }}&range_value=7&range_unit=days&hang_type=any&process_type=any&signature={{ signature }}&page={{ page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
        {% if total_pages > current_page %}
        <a href="{{ url('crashstats.report_list') }}?version={{ product }}:{{ version }}&query_search=signature&query_type=contains&reason_type=contains&date={{ start_date }}&range_value=7&range_unit=days&hang_type=any&process_type=any&signature={{ signature }}&page={{ current_page - 1 }}">Next &rarr;</a>
        {% endif %}
      </div>
{%- endmacro %}

{% block site_css %}
  {{ super() }}
  <style type="text/css">
   #buildid-outer {
     display: none;
   }
   .clear {
    clear: both;
   }
  </style>
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ static('crashstats/css/flora/flora.all.css') }}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ static('crashstats/css/signature_summary.css') }}" media="screen" />
  {% endcompress %}
{% endblock %}



{% block content %}
    <div id="mainbody">

    <div class="page-heading">
        <h2>Crash Reports for {{ signature }}</h2>
    <div>
    <ul class="options">
      {% for day in [3, 7, 14, 28] %}
      <li>
        <a href="{{ url('crashstats.report_list') }}?version={{product}}:{{version}}&query_search=signature&query_type=contains&reason_type=contains&date={{ start_date }}&range_value={{ day }}&range_unit=days&hang_type=any&process_type=any&signature={{ signature }}">{{ day }} days</a>
      </li>
      {% endfor %}
    </ul>
    </div>

</div>

<div class="panel">
    <div class="body notitle">

<p>
<p>
    Results within 7 days of {{ start_date }}, and the version is one of {{ product }}:{{ version }} and the crashing process was of any type (including unofficial release channels).</p>
</p>
<div id="report-list">
    <ul id="report-list-nav">
        <li><a href="#sigsummary"><span>Signature Summary</span></a></li>
        <li><a href="#graph"><span>Graph</span></a></li>
        <li><a href="#table"><span>Table</span></a></li>
        <li><a href="#reports"><span>Reports</span></a></li>
	<li><a href="#bugzilla"><span>Bugzilla ({{ bug_associations|count }})</span></a></li>
	<li><a href="#comments"><span>Comments ({{ comments|count }})</span></a></li>
        <li><a href="#correlation"><span>Correlations</span></a></li>
    </ul>

    <div id="sigsummary">
        <div id="sig-dashboard-body">
    <table id="pbos" class="sig-dashboard-tbl zebra">
        <thead>
            <tr>
                <th>Operating System</th>
                <th>Percentage</th>
                <th>Number Of Crashes</th>
            </tr>
        </thead>
        <tbody id="percentageByOsBody">

        </tbody>
    </table>

    <table id="rou" class="sig-dashboard-tbl zebra">
        <thead>
            <tr>
                <th>Uptime Range</th>
                <th>Percentage</th>
                <th>Number Of Crashes</th>
            </tr>
        </thead>
        <tbody id="uptimeRangeBody">

        </tbody>
    </table>

    <table class="sig-dashboard-tbl zebra">
        <thead>
            <tr>
                <th>Product</th>
                <th>Version</th>
                <th>Percentage</th>
                <th>Number Of Crashes</th>
            </tr>
        </thead>
        <tbody id="productVersionsBody">

        </tbody>
    </table>

    <table class="sig-dashboard-tbl zebra">
        <thead>
            <tr>
                <th>Architecture</th>
                <th>Percentage</th>
                <th>Number Of Crashes</th>
            </tr>
        </thead>
        <tbody id="architectureBody">

        </tbody>
    </table>

    <table class="sig-dashboard-tbl zebra">
        <thead>
            <tr>
                <th>Process Type</th>
                <th>Percentage</th>
                <th>Number Of Crashes</th>
            </tr>
        </thead>
        <tbody id="processTypeBody">

        </tbody>
    </table>

    <table class="sig-dashboard-tbl zebra">
        <thead>
            <tr>
                <th>Flash Version</th>
                <th>Percentage</th>
                <th>Number Of Crashes</th>
            </tr>
        </thead>
        <tbody id="flashVersionBody">

        </tbody>
    </table>
</div>
    </div>

    <div id="graph">
      <div class="crashes-by-platform">
        <h3 id="by_platform_graph">Crashes By Build Date</h3>
        <div id="graph-legend" class="crash-plot-label"></div>
        <div id="buildid-graph"></div>
      </div>
	  <h3>Hover over a point above the see the crash build date.</h3>
      <div class="clear"></div>
    </div>
    <div id="table">
        <table id="buildid-table" class="tablesorter data-table">
            <thead>
                <tr>
                    <th>Build ID</th>
                    <th>Crashes</th>                                            <th>Win</th>
                                            <th>Mac</th>
                                            <th>Lin</th>
                                    </tr>
            </thead>
            <tbody>
                                <tr>
	   <td class="human-buildid">2012051103</td>
                                        <td class="crash-count">
		    148 - 100.000%                    </td>
                                                                <td>
                            148 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012051014</td>
                                        <td class="crash-count">
		    184 - 100.000%                    </td>
                                                                <td>
                            184 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012051003</td>
                                        <td class="crash-count">
		    304 - 100.000%                    </td>
                                                                <td>
                            304 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012050903</td>
                                        <td class="crash-count">
		    582 - 100.000%                    </td>
                                                                <td>
                            582 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012050803</td>
                                        <td class="crash-count">
		    570 - 100.000%                    </td>
                                                                <td>
                            570 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012050703</td>
                                        <td class="crash-count">
		    748 - 100.000%                    </td>
                                                                <td>
                            748 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012050603</td>
                                        <td class="crash-count">
		    679 - 100.000%                    </td>
                                                                <td>
                            679 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012050503</td>
                                        <td class="crash-count">
		    791 - 100.000%                    </td>
                                                                <td>
                            791 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                                <tr>
	   <td class="human-buildid">2012050412</td>
                                        <td class="crash-count">
		    326 - 100.000%                    </td>
                                                                <td>
                            326 -
                            100.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                            <td>
                            0 -
                            0.000%                        </td>
                                    </tr>
                            </tbody>
        </table>
    </div>

    <div id="reports">

    {{ pagination(report_list) }}

    <table class="tablesorter data-table" id="reportsList">
    <thead>
        <tr>
            <th>Date</th>
            <th>Dup</th>
            <th>Product</th>
            <th>Version</th>
            <th>Build</th>
            <th>OS</th>
            <th>Build Arch</th>
            <th>Reason</th>
            <th>Address</th>
            <th>Crash Type</th>
            <th>Uptime</th>
            <th>Install Time</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
    {% for crash in report_list.hits %}
        <tr>
            <td class="report-date_processed">
                <a href="/report/index/{{ crash.uuid }}">{{ crash.date_processed }}</a>
                <div class="hang-pair"></div>
            </td>
            <td>{{ crash.duplicate_of }}</td>
            <td>{{ crash.product }}</td>
            <td>{{ crash.version }}</td>
            <td>{{ crash.build }}</td>
            <td>{{ crash.os_name }} {{ crash.os_version }}</td>
            <td>{{ crash.cpu_name }}</td>
            <td>{{ crash.reason }}</td>
            <td>{{ crash.address }}</td>
            <td>
                <div class="signature-icons">
                    <input type="hidden" name="url0" value="/report/hang_pairs/99ba73dd-34b6-48da-ab53-71b992120511" class="ajax_endpoint" />
                </div>
            </td>
            <td>{{ crash.uptime }}</td>
            <td>{{ crash.install_time }}</td>
            <td class="comments"> {{ user.comments }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {{ pagination(report_list) }}

    </div>

    <div id="bugzilla">
        <div class="bug_ids_expanded_list">
    <h3>Bugs for <code>{{ signature }}</code></h3>
    <ul class="bug_ids_expanded full_bug_ids full">
    {% for bug in bug_associations %}
      <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.bug_id }}"
             title="Find more information in Bugzilla"
             class="bug-link" >{{ bug.bug_id }}</a></li>
    {% endfor %}
    </ul>
</div>
       	    <h2>Related Crash Signatures:</h2>
       <div class="bug_ids_expanded_list">
    <h3>Bugs for <code>FIXME</code></h3>
    <ul class="bug_ids_expanded full_bug_ids full">
      FIXME related signatures go here
    </ul>
</div>
        <br class="cb" />
    </div>
	<div id="comments" class="ui-tabs-hide">
	     <h2>Comments</h2>
             {% for c in comments %}
               <p class="crash_comments">{{ c[0] }}
               <p class="crash_comments"><a href="{{ url('crashstats.report_index', c[1]) }}">Submitted: {{ c[2] }}</a></p>
               <hr>
             {% endfor %}
        </div>
<div id="correlation" class="ui-tabs-hide"><h2>Correlations for Firefox 15.0a1 Windows NT</h2>
	<p>Below are tables of correlation data generated by <a href="http://dbaron.org/mozilla/topcrash-modules">dbaron's scripts</a>. If this crash signature is
a top crasher, then we should be able to load it from <a href="http://people.mozilla.com/crash_analysis/">the original text files</a>. Only the first 2MB of each Platform's output is loaded. If this screen has data from multiple product/version/platforms, the crashiest was picked (Firefox 15.0a1 Windows NT).</p>
	<ul>
            <li id="mod"><h3>Modules <a href="#modver" title="Skip Down to Module Versions">Next</a></h3>
	<div id="module_correlation">Loading <img src="https://crash-stats.mozilla.com/img/loading.png" width="16" height="17" /></div></li>

            <li id="modver"><h3>Modules by versions <a href="#add" title="Skip Down to Add-ons">Next</a>
                <a href="#mod" title="Skip Up to Modules">Previous</a></h3>
                <div id="moduleversion-panel"><button name="moduleversion" class="load-version-data">Load</button></div></li>

            <li id="add"><h3>Add-ons <a href="#addver" title="Skip Down to Add-on Versions">Next</a>
                           <a href="#modver" title="Skip Up to Module Versions">Previous</a></h3>
	<div id="addon_correlation">Loading <img src="https://crash-stats.mozilla.com/img/loading.png" width="16" height="17" /></div></li>

            <li id="addver"><h3>Add-ons by versions <a href="#cpu" title="Skip Down to CPU Cores">Next</a>
                                       <a href="#add" title="Skip Up to Add-ons">Previous</a></h3>
                <div id="addonversion-panel"><button name="addonversion" class="load-version-data">Load</button></div></li>

            <li id="cpu"><h3>CPU Cores <a href="#addver" title="Skip Up to Add-on Versions">Previous</a></h3>
	<div id="cpu_correlation">Loading <img src="https://crash-stats.mozilla.com/img/loading.png" width="16" height="17" /></div></li>
        </ul>
        </div><!-- /correlation -->



        </div>
	    </div>
</div>


<!-- end content -->
    </div>
{% endblock %}

{% block site_js %}
  {{ super() }}
<script type="text/javascript">
    var json_path = "/signature_summary/json_data?range_value=7&range_unit=days&signature={{ signature }}&version=Firefox%3A15.0a1&date={{ start_date }}";
</script>

{% compress js %}
<script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/ui/jquery-ui-1.8.16.tabs.min.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/jquery/plugins/ui/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/flot-0.7/jquery.flot.pack.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/socorro/correlation.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/socorro/report_list.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/socorro/bugzilla.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/jquery/mustache.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/socorro/signature_summary.js') }}"></script>
<script type="text/javascript" src="{{ static('crashstats/js/socorro/socorro.dashboard.js') }}"></script>
{% endcompress %}

<script type="text/javascript">//<![CDATA[
      var SocReport = {
          base: '/correlation/ajax/',
	  path: '/Firefox/15.0a1/Windows%20NT/{{ signature }}/',
	  loading: 'Loading <img src="{{ static('img/loading.png') }}" width="16" height="17" />'
      };
//]]></script>

<script id="source" type="text/javascript">
//<![CDATA[
      $(document).ready(function() {
          var shouldDrawPlot = true,
          currentActiveTab = $("#report-list-nav").find("li.ui-tabs-selected");

	    $("#buildid-graph").width(1200);

      var drawPlot = function() {

      var buildIdGraph = $.plot($("#buildid-graph"),
             [			{ label: "Win",
		          data: [[0,326],[1,791],[2,679],[3,748],[4,570],[5,582],[6,304],[7,184],[8,148]],
			  color: "#27E"},	       			{ label: "Mac",
		          data: [[0,0],[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0]],
			  color: "#999"},	       			{ label: "Lin",
		          data: [[0,0],[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0]],
			  color: "#E50"}	        ],
             { // options

             	        // Crashes by development builds Frequency over build day
            lines: {
				show: true
			},
			points: {
				show: true
			},
	        xaxis: {
                labelWidth: 55,
				ticks: [[0,"05\/04"],[1,"05\/05"],[2,"05\/06"],[3,"05\/07"],[4,"05\/08"],[5,"05\/09"],[6,"05\/10"],[7,"05\/10"],[8,"05\/11"]]	        },
            yaxis: {
                min: 0,
            },
		    grid: { hoverable: true },
	        legend: {
				show: true,
				container: $("#graph-legend"),
				noColumns: 4
			}

	                  }
     );

		/* Hiding dates if they exceed a number > 20 to avoid overlap */
		if(buildIdGraph.getAxes().xaxis.ticks.length > 20) {
			$(".xAxis").hide();
		}

    }//drawPlot

    // If the last selected tab was the graph, we need to ensure that the graph
    // is plotted on document ready.
    if(shouldDrawPlot && currentActiveTab.find("a").attr("href") === "#graph") {
        drawPlot();
        shouldDrawPlot = false;
    }

    // if the last selected tab was not the graph, we need to ensure the graph
    // is plotted once the graph tab is clicked.
    $('#report-list').bind('tabsselect, tabsshow', function(event, ui) {
        if (shouldDrawPlot && $(ui.panel).attr('id') == "graph") {
            drawPlot();
            shouldDrawPlot = false;
        }
    });

	function showTooltip(x, y, contents) {
		$('<div id="graph-tooltip">' + contents + '</div>').css({
			top: y + 5,
			left: x + 5
		}).appendTo("body").fadeIn(200);
	}

	var previousPoint = null;

	$("#buildid-graph").bind("plothover", function (event, pos, item) {
		$("#x").text(pos.x.toFixed(2));
		$("#y").text(pos.y.toFixed(2));

		if (item) {

			if (previousPoint != item.dataIndex) {

				previousPoint = item.dataIndex;

				$("#graph-tooltip").remove();

				var x = item.datapoint[0].toFixed(2),
				y = item.datapoint[1].toFixed(2);

				showTooltip(item.pageX, item.pageY, "Crash build date: " + item.series.xaxis.ticks[previousPoint].label);
			}
		} else {
			$("#graph-tooltip").remove();
			previousPoint = null;
		}
	});
});
//]]>
</script>

{% endblock %}
