{% extends "crashstats_base.html" %}

{% block content %}

  <div id="mainbody">
    <div id="checking" class="pendingStatus">
      <form><input type="hidden" id="count" name="count" value="0" /></form>
      <h3>Please Wait...</h3>
      <p>Fetching this archived report will take 30 seconds to 5 minutes</p>
      <img src="{{ static('img/ajax-loader.gif') }}">
      <p id="next_attempt">Next attempt in <span id="counter" name="counter">30</span> seconds...</p>
      <p id="processing" class="pendingProcessing" style="display:none">Querying for archived report...</p>
    </div>

    <div id="fail" class="pendingStatus" style="display:none;">
      <h3>Oh Noes!</h3>
      <p>This archived report could not be located.</p>
    </div>

  </div>

{% endblock %}
  <script type="text/javascript" src="{{ static('crashstats/js/socorro/pending.js') }}"></script>
  <script type="text/javascript">
   document.onload = pendingReportTimer("{{ url('crashstats.report_pending', crash_id) }}");
  </script>
{% endblock %}
