{% extends "crashstats_base.html" %}
{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>
      Top Changers for {{ product }} {{ versions|join(', ') }} </h2>
    <ul class="options">
    {% if versions|count > 1 %}
      <li><a href="/products/{{ product }}/topchangers?duration=3" {% if duration == 3 %}class="selected"{% endif %}>3 days</a></li>
      <li><a href="/products/{{ product }}/topchangers?duration=7" {% if duration == 7 %}class="selected"{% endif %}>7 days</a></li>
      <li><a href="/products/{{ product }}/topchangers?duration=14" {% if duration == 14 %}class="selected"{% endif %}>14 days</a></li>
      <li><a href="/products/{{ product }}/topchangers?duration=28" {% if duration == 28 %}class="selected"{% endif %}>28 days</a></li>
    {% else %}
      <li><a href="/products/{{ product }}/versions/{{ versions[0] }}/topchangers?duration=3" {% if duration == 3 %}class="selected"{% endif %}>3 days</a></li>
      <li><a href="/products/{{ product }}/versions/{{ versions[0] }}/topchangers?duration=7" {% if duration == 7 %}class="selected"{% endif %}>7 days</a></li>
      <li><a href="/products/{{ product }}/versions/{{ versions[0] }}/topchangers?duration=14" {% if duration == 14 %}class="selected"{% endif %}>14 days</a></li>
      <li><a href="/products/{{ product }}/versions/{{ versions[0] }}/topchangers?duration=28" {% if duration == 28 %}class="selected"{% endif %}>28 days</a></li>
    {% endif %}
    </ul>
  </div>

  <div class="panel">
    <div class="body notitle">
      <div>
        <div class="product_topchanger">
          <table id="top_changers_up" class="top_changers">
            <tr>
              <th>Change</th>
              <th>Rank</th>
              <th>Signature</th>
            </tr>
            {% for result in topchangers|dictsort|reverse %}
            {% with changer = result[1][0] %}
            <tr>
              <td>
                <div class="trend up">{{ changer.changeInRank }}</div>
              </td>
              <td>{{ changer.currentRank }}</td>
              {% if versions|count > 1 %}
              <td><a class="signature" href="/report/list?range_value={{ duration }}&range_unit=days&signature={{ changer.signature }}&version={{ product }}" title="View reports with this crasher.">{{ changer.signature }}</a></td>
              {% else %}
              <td><a class="signature" href="/report/list?range_value={{ duration }}&range_unit=days&signature={{ changer.signature }}&version={{ product }}:{{ versions[0] }}" title="View reports with this crasher.">{{ changer.signature }}</a></td>
              {% endif %}
            </tr>
            {% endwith %}
            {% endfor %}
          </table>
        </div>
        <br class="clear">
      </div>
    </div>
  </div>
</div>
{% endblock %}
