{% extends "crashstats_base.html" %}
{% block site_css %}
  {{ super() }}
  {{ css('topcrash_css') }}
{% endblock %}
{% block content %}
    <div id="mainbody">
        <div class="page-heading">
            <h2>Top Crashers for <span id="current-product">{{ product }}</span> <span id="current-version">{{ version }}</span></h2>
            <ul class="options">
                <li><a href="/topcrasher/byversion/{{ product }}/{{ version }}" class="selected">By Signature</a></li>
            </ul>
        </div>

        <div class="panel">
            <div class="body notitle">
            <div>
                Top 300 Crashing Signatures.
                <time class="start-date">{{ tcbs.start_date }}</time> through
                <time class="end-date">{{ tcbs.end_date }}</time>.
                <p>The report covers <span class="percentage" title="{{ tcbs.totalPercentage }}">{{ (tcbs.totalPercentage * 100) | round(2) }}</span> of all {{ tcbs.totalNumberOfCrashes }} crashes during this period. Graphs below are dual-axis, having <strong>Count</strong> (Number of Crashes) on the left X axis and <strong>Percent</strong> of total of Crashes on the right X axis.</p>
                <ul class="tc-duration-type tc-filter">
                <li class="tc-duration-heading">Type:</li>
                {% for c in ['all', 'browser', 'plugin', 'content'] %}
                <li><a href="/topcrasher/byversion/{{ product }}/{{ version }}/{{ days }}/{{ c }}" {% if crash_type == c %} class="selected" {% endif %} >{{ c|capitalize }}</a></li>
                {% endfor %}
            </ul>
            <ul class="tc-duration-days tc-filter">
                <li class="tc-duration-heading">Days:</li>
                {% for d in [1, 3, 7, 14, 28] %}
                <li><a href="/topcrasher/byversion/{{ product }}/{{ version }}/{{ d }}/browser" {% if days == d %} class="selected" {% endif %}>{{ d }}</a></li>
                {% endfor %}
            </ul>
            <ul class="tc-per-platform tc-filter">
                <li class="tc-per-platform-heading">OS:</li>
                <li><a href="/topcrasher/byversion/{{ product }}/{{ version }}/{{ days }}/browser" {% if os_name == None %} class="selected" {% endif %}>All</a></li>
                {% for os in ['Windows', 'Linux', 'Mac OS X'] %}
                <li><a href="/topcrasher/byos/{{ product }}/{{ version }}/{{ os }}/{{ days }}/browser" {% if os_name == os %} class="selected" {% endif %}>{{ os }}</a></li>
                {% endfor %}
            </ul>
            <table id="signatureList" class="tablesorter data-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th title="The percentage of crashes against overall crash volume">%</th>
                        <th title="The change in percentage since the {{ tcbs.start_date }} report">Diff</th>
                        <th>Signature</th>
                        <th title="Crashes across platforms">Count</th>
                        <th>Win</th>
                        <th>Mac</th>
                        <th>Lin</th>
                        <th>Ver</th>
                        <th>First Appearance</th>
                        <th class="bugzilla_numbers">Bugzilla IDs</th>
                        <th title="Does not imply Causation">Correlation</th>
                    </tr>
                </thead>
                <tbody>
{% for crash in tcbs.crashes %}
                    <tr>
                        <td class="rank">
                            {{ crash.currentRank + 1 }}
                            {% if crash.changeInRank != 'new' and crash.changeInRank not in [-1,0,1] %}
                            <span {% if crash.changeInRank > 1 %} class="moving-up" {% elif crash.changeInRank < -1 %} class="moving-down" {% endif %} title="Movement in rank since the {{ tcbs.start_date }} report">{{ crash.changeInRank }}</span>
                            {% endif %}
                        </td>
                        <td>{{ (crash.percentOfTotal * 100) | round(2) }}%</td>
                        {% if crash.changeInPercentOfTotal == 'new' %}
                        <td title="This is a new signature">new</td>
                        {% else %}
                        <td title="A change of {{ (crash.changeInPercentOfTotal * 100) | round(2) }}% from {{ (crash.previousPercentOfTotal * 100) | round(2) }}%">{{ (crash.changeInPercentOfTotal * 100) | round(2) }}%</td>
                        {% endif %}
                        <td>
                            <a class="signature" href="/report/list?range_value=7&amp;range_unit=days&amp;date={{ tcbs.end_date }}&amp;signature={{ crash.signature }}&amp;version={{ product }}%3A{{ version }}" title="{{ crash.signature }}">{{ crash.signature|truncate(length=80) }}</a>
                            <div class="signature-icons">
                                <img src="/media/img/3rdparty/fatcow/application16x16.png" width="16" height="16" alt="Browser Crash" title="Browser Crash" class="browser" />
                                <a href="#" title="Load graph data"><img src="/media/img/3rdparty/silk/chart_curve.png" width="16" height="16" alt="Graph this" class="graph-icon" /></a>
                            </div>
                            <div class="sig-history-legend"></div>
                            <p class="graph-close hide"><a href="javascript:void" title="Close graph">close x</a></p>
                            <div class="sig-history-graph"></div>
                            <input type="hidden" class='ajax-signature' name="ajax-signature-1" value="{{ crash.signature }}" />
                        </td>
                        <td>{{ crash.count }}</td>
                        <td>{{ crash.win_count }}</td>
                        <td>{{ crash.mac_count }}</td>
                        <td>{{ crash.linux_count }}</td>
                        <td><span title="{{ crash.versions }}">{{ crash.versions|count}}</span></td>
                        <td title="This crash signature first appeared at {{ crash.first_report_exact }}" >{{ crash.first_report }}</td> 
                        <td class="bug_ids_more">
                            {% for bug in crash.bugs %}
                            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.id }}"
                                title="Find more information in Bugzilla"
                                class="bug-link" >{{ bug.id }}</a>
                            {% endfor %}
                                <div class="bug_ids_expanded_list">
                                <h3>Bugs for <code>{{ crash.signature }}</code></h3>
                                <ul class="bug_ids_expanded full_bug_ids popup">
                                    {% for bug in crash.bugs %}
                                    <li><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.id }}"
                                           title="Find more information in Bugzilla"
                                           class="bug-link" >{{ bug.id }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td class="correlation-cell">
                            <div id="correlation-panel1">
                                <div class="top"><span></span></div><a class="correlation-toggler" href="#">Show More</a>
                                <div class="complete">
                                    <h3>Based on <span class='osname'>Windows NT</span> crashes</h3>
                                    <div class="correlation-module"><h3>CPU</h3><div class="cpus"></div></div>
                                    <div class="correlation-module"><h3>Add-ons</h3><div class="addons"></div></div>
                                    <div class="correlation-module"><h3>Modules</h3><div class="modules"></div></div>
                                </div>
                            </div>
                        </td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
{% block site_js %}
  {{ super() }}
  <!--[if IE]><script type="text/javascript" src="/media/js/flot-0.7/excanvas.pack.js"></script><![endif]-->
  {{ js('crashstats_flot') }}
  {{ js('crashstats_topcrash') }}
  {{ js('crashstats_bugzilla') }}
  {{ js('crashstats_correlation') }}

<script type="text/javascript">//<![CDATA[
var SocAjax = '/topcrasher/plot_signature/{{ product }}/{{ version }}/';
var SocAjaxStartEnd = '/{{ tcbs.start_date }}/{{ tcbs.end_date }}/';
var SocImg = '/img/';
var SocReport = {
    base: '/correlation/bulk_ajax/',
    path: '/{{ product }}/{{ version }}/',
    loading: 'Loading <img src="/media/img/loading.png" width="16" height="17" />'
};
//]]>
</script>
{% endblock %}
                <p>Want to slice and dice? <a href="?format=csv">CSV-Formatted Raw Data</a></p>
            </div>
        </div>
    </div>
{% endblock %}
