{% extends "crashstats_base.html" %}
{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>Top Changers for {{ product }} {{ versions|join(', ') }}</h2>
    <ul class="options">
    {% for d in request.possible_days %}
      <li><a href="?days={{ d }}" {% if days == d %}class="selected"{% endif %}>{{ d }} days</a></li>
    {% endfor %}
    </ul>
  </div>

  <div class="panel">
    <div class="body notitle">
      <div>
        <div class="product_topchanger">
          <table id="top_changers_up" class="top_changers">
            <tr>
              <th>Change</th>
              <th>Rank</th>
              <th>Signature</th>
            </tr>
            {% for result in topchangers|dictsort|reverse %}
            {% with changer = result[1][0] %}
            <tr>
              <td>
                <div class="trend up">{{ changer.changeInRank }}</div>
              </td>
              <td>{{ changer.currentRank }}</td>
              <td><a class="signature"
                {% if versions %}
                  href="{{ url('crashstats.report_list') }}?range_value={{ days }}&amp;range_unit=days&amp;signature={{ changer.signature|urlencode }}&amp;version={{ product }}"
                {% else %}
                  href="{{ url('crashstats.report_list') }}?range_value={{ days }}&amp;range_unit=days&amp;signature={{ changer.signature|urlencode }}&amp;version={{ product }}:{{ versions[0] }}"
                {% endif %}
                title="View reports with this crasher.">{{ changer.signature }}</a></td>
            </tr>
            {% endwith %}
            {% endfor %}
          </table>
        </div>
        <br class="clear">
      </div>
    </div>
  </div>
</div>
{% endblock %}
