# development libs
mock==0.8.0
# check.py doesn't specify which version of pep8
pep8>=1.4.5
-e git://github.com/jbalogh/check.git#egg=check
pyquery==1.2.6


# production libs
requests==0.13.0
python-memcached==1.48
isodate==0.4.7
ordereddict==1.1
raven==3.1.16
# for django-compressor
BeautifulSoup==3.2.1
django-ratelimit==0.3.0
django-waffle==0.9.1

# vendor
django-sha2==0.4
commonware==0.4.2
jingo==0.4
tower==0.3.4
-e git://github.com/jsocol/jingo-minify.git@b7405d3f936#egg=jingo-minify
django-nose==0.1.3
-e git://github.com/jbalogh/test-utils.git@9fa5b26730e#egg=test-utils
-e git://github.com/fwenzel/django-mozilla-product-details.git@f5a3c3c846#egg=django-mozilla-product-details
-e git://github.com/mozilla/nuggets.git@4ce86351c940a1985d1357e1f1159379a4d862fe#egg=nuggets
bleach==1.2.1
django-session-csrf==0.5
django-mobility==0.1
django-multidb-router==0.5
-e git://github.com/jezdez/django_compressor.git@90966edf97#egg=django_compressor
django-appconf==0.5

# vendor-local
-e git@github.com:peterbe/django-jingo-offline-compressor.git@282cb4a0ce#egg=jingo-offline-compressor

# compiled libs
Jinja2==2.5.5
psycopg2==2.4.5
py-bcrypt==0.3
