{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list pipeline %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; Management pages
      &rsaquo; Graphics devices
    </div>
  {% endblock %}
{% endif %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css"%}">
  <style type="text/css">
    table.data-table th {
      width: 250px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-main">
    <h2>Graphics device file upload</h2>
    <form class="upload" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ upload_form }}
        <tr>
          <th>&nbsp;</th>
          <td>
            This takes files from
            <a href="https://pci-ids.ucw.cz/" title="See link to latest pci.ids file">The PCI ID Repository</a>.
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            <input type="submit" value="Upload">
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
