{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list pipeline %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; Management pages
            &rsaquo; Graphics devices
        </div>
    {% endblock %}
{% endif %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css"%}">
    <style type="text/css">
        table.data-table th {
            width: 250px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-main">
        <h2>Edit or Add a Graphic Device</h2>
            <form class="edit" action="" method="post" data-lookup-url="{% url 'siteadmin:graphics_devices_lookup'  %}">
            {% csrf_token %}
            <table>
                {{ form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>

        <h2>CSV Upload</h2>
        <form class="upload" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <table>
                {{ upload_form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>Either the file format has to be that of
                        <a href="http://www.pcidatabase.com/reports.php?type=tab-delimeted">PCIDatabase.com's format</a> or that of <a href="https://pci-ids.ucw.cz/" title="See link to latest pci.ids file">The PCI ID Repository</a>.</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Upload">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% javascript 'siteadmin:graphics_devices' %}
{% endblock %}
