{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css"%}">
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; Management pages
      &rsaquo; Elasticsearch status
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div class="content-main">
    <h2>Elasticsearch status</h2>
    <div class="body">
      <h3>Indices</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          {% for item in indices %}
            <tr><td>{{ item.name }}</td><td>{{ item.start_date }}</td><td>{{ item.count }}</td>
          {% endfor %}
        </tbody>
      </table>

      <h3>Mapping ({{ latest_index }})</h3>
      <pre>{{ mapping }}</pre>
    </div>
  </div>
{% endblock %}
