h1 {
	color: #000;
	font-size: 1.90em;
	font-weight: bold;
}

#daily_content {
	color: #000;
	font-family: Arial;
    margin-top: 1em;
}

/**
 * Search
 */
div.daily_search, div.daily_graph {
    float: left;
}

div.daily_graph {
    width: 60%;
}

div.daily_search {
    width: 30%;
}

div.daily_graph {
    margin-left: 1em;
}

#daily_search_version {
    border-bottom: 1px solid #999;
}

#daily_search_version,
#daily_search_os {
	margin: 0px;
	padding-bottom: 5px;
}
#daily_search h3 {
	margin-bottom: 5px;	
}
#daily_search h3 a {
	color: #488AC7;
	font-weight: bold;
	text-decoration: none;
}

table.by_version {
	border: 0;
	padding: 4px 0;
}

table.by_version tr {
}

table.by_version th {
	padding: 4px 0;
	width: 60px;
}

table.by_version td {
	border: 0;
	padding: 4px 0;
}

input.submit {
	font-weight: bold;
	margin-top: 3px;
}

input.date {
	width: 80px;
}

input.version {
	margin-right: 5px;
	width: 45px;
}

span.title {
	width: 50px;
	min-width: 50px;
}
span.option {
	left: 50px;
}
span.os {
	margin-right: 10px;
}

/**
 * Crash Graph
 */
#daily_crash_graph {
	background-color: #eee;
	border: 1px solid #999;	
	float: left;
	margin: 0 0 20px 20px;
	width: 550px;
}

table.graph {
	border: 1px solid #999;	
	padding: 3px;
}

#daily_crash_graph h2 {
	background-color: #ddd;
	margin: 0;
	padding: 3px;
}
#sig-history-graph { 
	width: 550px; 
	height: 300px; /* position: absolute; top: 100px; left: 100px; */
	float: left;
}
#sig-history-legend { 
	float: left;
}
p.adu-chart-help {
    font-size: 0.85em;
    margin-top: 15px;    
}

/**
 * Crash Data
 */
#crash_data {
    clear: both;
	color: #000;
	font-family: Helvetica;
	margin-top: 20px;
}
#crash_data h2 {
    float: left;
	margin-bottom: 5px;
}
#crash_data span.csv {
	margin-left: 10px;
	margin-top: 3px;
}
#crash_data span.csv a {
	font-weight: bold;
	text-decoration: none;
}

table.crash_data th {
	background-color: #ddd;
	border: 1px solid #999;
	padding: 4px;
	text-align: center;
}
table.crash_data th.version0, table.crash_data th.os0,
table.crash_data th.version1, table.crash_data th.os1,
table.crash_data th.version2, table.crash_data th.os2,
table.crash_data th.version3, table.crash_data th.os3 {
	font-weight: strong;
	width: 206px;
}
table.crash_data th.version0,
table.crash_data th.os0 {
	color: #EDC240;
}
table.crash_data th.version1,
table.crash_data th.os1 {
	color: #AFD8F8;
}
table.crash_data th.version2,
table.crash_data th.os2 {
	color: #CB4B4B;
}
table.crash_data th.version3,
table.crash_data th.os3 {
	color: #4DA74D;
}
table.crash_data th.date {
	text-align: left;
	width: 55px;
}
table.crash_data th.stat {
	font-size: 0.8em;
}
table.crash_data td {
	border: 1px solid #999;
	font-size: 0.8em;
	padding: 4px;
	text-align: right;
}
table.crash_data td.date {
	background-color: #eee;
	text-align: left;	
}
table.crash_data td.stat {
	background-color: #eee;
	text-align: right;
}
br.clear {
    clear:both;
}

