body {
  background: #fff url(../img/background-feature.jpg) repeat-x top left;
  margin: 0;
  padding: 0;
}

#header {
  background: #eee url(../img/header_bg.png) no-repeat top left;
  border-bottom: 1px solid #000;
  min-height: 1.2em;
  padding: .5em .7em .5em 65px;
}

#header h1 {
  border: none;
  color: #000;
  font-family: verdana, arial, sans-serif;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}

#header p {
  font-size: smaller;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#header ul {
  list-style-type: none;
  margin: -21px 0 0 150px;
  padding: 0;
}

#header ul li {
  display: inline;
  float: right;
}

#header ul li a {
  background-color: #fff;
  border: 1px outset #ccc;
  color: #33c;
  display: block;
  font-size: smaller;
  font-weight: bold;
  margin: 0 7px;
  padding: 3px;
  text-decoration: none;
}

#header ul li a:hover {
  background-color: #fff;
  border: 1px inset #ccc;
}

#menu {
}

#quickfind {
  display: inline;
  float: right;
  font-size: smaller;
}

#content {
  clear: both;
  padding: 1em;
}

#report-header {
  float: left;
}

#report-header-details {
  float: right;
  font-size: smaller;
}

#report-header-details span {
  font-weight: bold;
}

#report-index {
  clear: both;
}

#footer {
  border-top: 1px solid #000;
  background: #fff url(../img/footer_bg.png) repeat-x top left;
  clear: both;
  min-height: 4em;
}

#footer ul {
  float: left;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

#footer ul li {
  float: left;
}

#footer ul li a {
  color: #000;
  display: block;
  font-size: smaller;
  margin: 4px;
}

#top {
  display: none;
}

.hidden {
  display: none;
}

h1.loading {
  background: transparent url(../img/loading.png) no-repeat left;
  padding-left: 25px;
}

.crash-plot-label{ margin-left: 20px;}

div.server-plot-label{ margin-left: 55px; margin-bottom: 10px; width: 700px;}

#buildid-graph{ width: 200px; height: 200px; }
.crashes-by-platform{ width: 200px; float: left; }
.crash-frequency{width: 600px; float: left;}

#at-a-glance, #graphs { 
    float: left; 
}
#at-a-glance dl {
    padding: 0 12px;
}
#toc { margin-left: 10px; }
#server-status-graph-comb,
#server-status-graph-jobs-wait,
#server-status-graph-proc-count,
#server-status-graph-avg-proc,
#server-status-graph-avg-wait {
    width: 800px;
    height: 300px;
}
#server-stats { clear: both; }
#graph-chooser-container { text-align: right; float: right; }
