body { 
    font: 13px/1.231 helvetica, arial, sans-serif;
    color: #333;
}

body, ul, li, h1, h2, h3, h4, h5, dl {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

#page { 
	width: 100%;
}

/* HEADER
-------------------------------------------------------------- */

#header {
    background: url(../img/slate/header-bg.png) repeat-x;
    background-color: #333;
    margin: 0 0 10px 0;
    width: 100%;
    height: 33px;
}

#header h1 {
    margin: 0px 10px;
    float: left;
}

#header h1 a img {
    border: 0;
}

#header ul {
    list-style: none;
}

#header ul#dev-links {
/*    float: right; 
    margin-right: 15px; */
    position: absolute;
    right: 15px;
    width: auto;
    z-index: 2;
}

#header ul li {
    text-align: right;
}

#header #subnav {
    position: relative;
    top: -4px;
    padding: 0.4em;
    margin-top: 0px;
    border: solid 1px #CCC;
    
}

/* MAIN BODY
-------------------------------------------------------------- */

#mainbody {
    margin: 0 auto 25px;
    padding: 0 0 0 10px;
    width: 970px;
}

#mainbody h2 { 
	margin: 0;
}

/* SEARCH FORM
-------------------------------------------------------------- */

#searchform { 
	width: 65%;
	margin: 0 0 10px 0;
	float: left;
}

#searchform select {
	width: 180px;
	font-size: 100%;
}

#searchform fieldset { 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #efefef;
	border: 1px solid #ddd;
	padding: 10px 10px 10px 20px;
}

#searchform ul { 
	list-style: none;
}

#searchform label { 
	font-weight: bold;
	display: block;
	font-size: 125%;
}

#searchform ul li { 
	float: left;
	margin-right: 10px;
}

#searchform #advfilter select {
	width: 100px;
}

#advfiltertoggle { 
	margin: 10px 0;
	padding-left: 15px;
	display: block;
	color: #000;
}

.not-toggled { 
	background: url(../img/slate/disclosure.png) no-repeat 0 2px;	
}

.toggled { 
	background: url(../img/slate/disclosure-down.png) no-repeat 0 2px;
}

#advfilter select { 
	font-size: 80%;
	width: 85px !important;
}

#occurs, #stack { 
	border-left: 1px dotted  #bbb;
	margin-left: 10px;
	padding-left: 20px;
}

ul#occurs li, ul#stack li { 
	float: none;
}

#occurs-date, #date, .wrong-name { 
	width: 100px;
	font-style: italic;
	color: #aaa;
	margin-bottom: 10px;
	text-align: center;
}

#occurs_calendar, .dp-choose-date, .wrong-name { 
	padding-right: 20px;
	background: url(../img/slate/calendar.png) no-repeat 2px -1px;
}

#within, #range_value, .wrong-name { 
	width: 25px;
	text-align: center;
}
/* Bugzilla in query results */
.bug_ids_more, .bug_ids_expanded_list { display: none; }
.bug_ids_expanded_list { background-color: #FFF; border: solid 1px #CCC; margin-top: 1em; padding: 1em; position: absolute; max-width: 300px; top: 0px; left: 0px; -moz-border-radius: 3px; }
.sorted_bug_ids dt { clear: left; }
.full_bug_ids li {float: left; list-style-type: none;  margin: auto 0.5em 0.5em auto; }
.full_bug_ids { margin-left: 1.5em; }

#stack_sig, #query, .wrong-name { 
	width: 150px;
}

#gofilter { 
	width: 100%;
	clear: left;
	text-align: right;
}
.strike { text-decoration: line-through; }
.button {
    -moz-border-radius: 11px;
   	-webkit-border-radius: 11px;
    -moz-box-sizing: content-box;
    border: 0;
    cursor: pointer;    
    padding: 5px 12px;
    color: #fff;
	background: url(../img/slate/button-grad.png) repeat-x;
	font-size: 90%;
}

.button:hover { 
	background: url(../img/slate/button-grad-active.png) repeat-x;
}

/* TOP CRASHERS
-------------------------------------------------------------- */

.topcrashers { 
	width: 25%;
	float: left;
	margin: 0 10px;
}

.topcrashers div { 
	border: 1px solid #c3c3c3;
}

.topcrashers h3 { 
	clear: both;
	color: #fff;
	padding: 2px 6px;
	background: #a3a3a3 url(../img/slate/topcrashhead-bg.png) repeat-x;
	font-size: 100%;
	cursor: pointer;
}

.topcrashers h3 { 
	margin: 0;
}

.topcrashers .first { 
	margin-top: 0;
}

.topcrashers .last { 
	margin-bottom: 0;
}

.topcrashers dl { 
	margin-bottom: 10px;
	padding-left: 6px;
}

.topcrashers dl dt { 
	float: left;
	clear: left; 
	width: 65%;
	margin: 3px 0;
}

.topcrashers dl dd { 
	width: 20px;
	float: left; 
}

/* CRASH TABLES
-------------------------------------------------------------- */

#crashtables { 
	clear: left;
}

#buildid-graph{ width: 200px; height: 200px; }
#server-status-graph-comb,
#server-status-graph-jobs-wait,
#server-status-graph-proc-count,
#server-status-graph-avg-proc,
#server-status-graph-avg-wait {
    width: 800px;
    height: 300px;
}
#server-status-graph-comb,
#server-status-graph-jobs-wait,
#server-status-graph-proc-count,
#server-status-graph-avg-proc,
#server-status-graph-avg-wait {
    width: 800px;
    height: 300px;
}
h2.mtbf-graph{ float: left; }
.mtbf-nav-panel{
  margin-left: 400px;
}
.mtbf-nav-panel ul li{
  list-style: none;
  display: inline;
}
.mtbf-nav-panel h6{ float: left; margin-top: 5px; }
#mtbf-graph{
   width: 800px; 
   height: 400px;
    clear: left;
}
#overviewLegend {
/*  position: absolute;
  left: 830px;
  margin-top: 20px;*/
  float: right;
  margin-top: 20px;
  padding-right: 50px;    
}
.legendLabel{ width: 90px; overflow: hidden; }

#subnav{
  background-color: #FFF;
  position: relative;
  border: solid 1px #CCC;
}
*|*:-moz-any-link:focus {
    outline-width: 0px;
}

/* copied from layout.css */
#footer {
  border-top: 1px solid #000;
  background: #fff url(../img/footer_bg.png) repeat-x top left;
  clear: both;
  min-height: 4em;
  text-align: center;
}

#footer div ul {
  float: left;
  list-style-type: none;
  margin: 0 0 0 1em;
  padding: 0;
}

#footer div ul li {
  float: left;
}

#footer div ul li a {
  color: #000;
  display: block;
  font-size: smaller;
  margin: 4px;
}

#footer-links {
  width: 320px;
  margin: 0.2em auto;
}

/* end copied from layot.css */

/* Yes I will burn in CSS Hell */
#vertical-furniture{ float:right; width: 0px; height: 600px;}

/* may not need htis if we don't float query form left */
#query-results-h{ clear: left; }

.topcrash-links{ clear: left; list-style-type: none; margin-left: 6px; }
a.full-report{ display: block; clear: left; margin-left: 12px; }

.expandable-menu{ padding-left: 6px; border: solid 1px #CCC; }

a.disabled{ text-decoration: none; color: #999; }
.topcrashers.first { clear: left; }
.topcrashers dt { white-space: nowrap; overflow: hidden; }

div.expandable-menu, div.each-sparkline { margin-left: 12px; border: none; }

.tcburl-toggler {
  display: inline;
  color: white;
  background-color: #AAA;
  font-size: 1.4em;
  padding: 0em 0.3em;
  margin: 0em 0.1em 0em 0em;
  border: solid 1px #666;
}
.ui-tabs-nav { float: left; }
.ui-tabs-panel { clear: left; } 
table.tablesorter tbody tr td.in1 {padding-left: 15px;}
table.tablesorter tbody tr td.in2 {padding-left: 30px;}
td.in1 ul, td.in2 ul{ padding-left: 15px; }

/* server/status */
#at-a-glance, #graphs { 
    float: left; 
}

#at-a-glance dl {
    padding: 0 12px;
}
#toc { margin-left: 10px; }
#server-status-graph-comb,
#server-status-graph-jobs-wait,
#server-status-graph-proc-count,
#server-status-graph-avg-proc,
#server-status-graph-avg-wait {
    width: 700px;
    height: 300px;
}
#graphs{ width: 700px; }
#server-stats { clear: left; }
#graph-chooser-container { text-align: right; float: right; }
/* end server/status */

/* A CRASH REPORT */
.list tr:nth-child(2n+1) {
  background-color: #ddd;
}
.list tr:nth-child(2n) {
  background-color: #eee;
}
.list tr:hover {
  background-color: #fff;
}
.list {
  margin-top:.5em;
}
.list tr td {
  padding:.2em;
  text-align:left;
}
.list td label {
  border-bottom:1px dashed #999;
  font-weight:normal;
}
.list th {
  background: #ddd;
  border: 1px solid #000;
  font-weight: bold;
  padding: 2px;
}
.list th a {
  display: block;
  padding:.2em 1.2em .2em .2em;
  text-align: left;
}
.list th a:hover {
  background-color: #fff;
}
.record th {
  text-align: right;
}
div.code {
  background-color: #eee;
  border: 1px solid #ccc;
  font-family: monospace;
  width: 640px;
  height: 480px;
  white-space: pre;
  overflow: auto;
}

th a.expand {
  display: inline;
  font-size: smaller;
}
/* END A CRASH REPORT */

/* about/throttling */
#prose { width: 500px; margin: auto;}