/**
 * Styles that are not a part of page layout.
 *
 * For example:
 *  Fonts
 *  Sizes
 *  Decoration
 *  Separators
 */
body * {
  font-family: verdana, arial, sans-serif;
}

h1.first {
  margin-top: 0;
  padding-top: 0;
}

#header h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h1 span, h2 span {
  color: #33c;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

/*  lists  */
.list tr:nth-child(2n+1) {
  background-color: #ddd;
}
.list tr:nth-child(2n) {
  background-color: #eee;
}
.list tr:hover {
  background-color: #fff;
}
.list {
  margin-top:.5em;
}
.list tr td {
  padding:.2em;
  text-align:left;
}
.list td label {
  border-bottom:1px dashed #999;
  font-weight:normal;
}
.list th {
  background: #dfd;
  border: 1px solid #000;
  font-weight: bold;
  padding: 2px;
}
.list th a {
  display: block;
  padding:.2em 1.2em .2em .2em;
  text-align: left;
}
.list th a:hover {
  background-color: #fff;
}
.record th {
  text-align: right;
}

div.code {
  background-color: #eee;
  border: 1px solid #ccc;
  font-family: monospace;
  width: 640px;
  height: 480px;
  white-space: pre;
  overflow: auto;
}

th a.expand {
  display: inline;
  font-size: smaller;
}

dt {
  font-weight: bold;
}

.caption { font-weight: bold; font-size: smaller }
.server-status { font-weight: bold; }
.happy{ color: green; }
.grumpy{ color: orange; }
.deathly{ color: red; }


#mtbf-data-details li{   
    list-style: none;
    margin-bottom: 0.75em;
}
.nav.current{text-decoration: none; font-weight: 600; }

.message{
  margin: 3em;
  padding: 1em;
  border: solid 2px #CCC;
  width: 25em;
}

.tcburl-toggler {
  display: inline;
  color: white;
  background-color: #AAA;
  font-size: 1.4em;
  padding: 0em 0.3em;
  margin: 0em 0.1em 0em 0em;
  border: solid 1px #666;
}
/* specificity to beat flora tablesorter */

table.tablesorter tbody td.url-crash-count{ font-weight: 600; color: #444; }
table.tablesorter tbody td.domain-crash-count{ font-weight: 900; color: #000; }
.url-spacer{ display: inline; margin-left: 20px; }