import socorro.lib.ConfigurationManager as cm
import datetime
import re

try:
  from config.commonconfig import databaseHost
  from config.commonconfig import databaseName
  from config.commonconfig import databaseUserName
  from config.commonconfig import databasePassword
except ImportError:
  from commonconfig import databasehost
  from commonconfig import databaseName
  from commonconfig import databaseUserName
  from commonconfig import databasePassword

day = cm.Option()
day.doc = 'the date to dump (YYYY-MM-DD)'
day.default = datetime.date.today().isoformat()
day.fromStringConverter = cm.dateTimeConverter

outputPath = cm.Option()
outputPath.doc = 'file system location to put the output csv file'
outputPath.default = '.'

product = cm.Option()
product.doc = 'the name of the product to track (leave blank for all)'
product.default = 'Firefox'

version = cm.Option()
version.doc = 'the name of the version to track (leave blank for all)'
version.default = ''

logFilePathname = cm.Option()
logFilePathname.doc = 'full pathname for the log file'
logFilePathname.default = './dailyUrl.log'

logFileMaximumSize = cm.Option()
logFileMaximumSize.doc = 'maximum size in bytes of the log file'
logFileMaximumSize.default = 1000000

logFileMaximumBackupHistory = cm.Option()
logFileMaximumBackupHistory.doc = 'maximum number of log files to keep'
logFileMaximumBackupHistory.default = 50

logFileLineFormatString = cm.Option()
logFileLineFormatString.doc = 'python logging system format for log file entries'
logFileLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

logFileErrorLoggingLevel = cm.Option()
logFileErrorLoggingLevel.doc = 'logging level for the log file (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
logFileErrorLoggingLevel.default = 20

stderrLineFormatString = cm.Option()
stderrLineFormatString.doc = 'python logging system format for logging to stderr'
stderrLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

stderrErrorLoggingLevel = cm.Option()
stderrErrorLoggingLevel.doc = 'logging level for the logging to stderr (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
stderrErrorLoggingLevel.default = 40

