# This is the common configuration file for the Socorro DBFeeder.
#
# Parameters are consist of three or four lines of Python code.  The first line
# defines the parameter:

# someParameter = cm.Option()

# The second line provides one line of documentation about the parameter.
# This line is also used to as the text in the '--help' option invoked from the
# command line.

# someParameter.doc = 'this is what this parameter is about'

# The third line is the default value for the parameter.  Adjust this line as
# necessary.  This value will be overridden if the user specifies a different
# value on the command line.

# someParameter.default = '00:00:30'

# The option fourth line specifies a Python function (or callable) that will
# serve to take a text version of the parameter value and turn it into the
# proper type.  This is useful for things like taking a textual datetime value
# and turning them into a real datetime value.  The ConfigurationManager module
# offers a number of converters:  dateTimeConverter, timeDeltaConverter,
# booleanConverter.  If the value of 'default' is a fundamental type like int
# or float, it is not necessary to provide a fromStringConverter.

# someParameter.fromStringConverter = ConfigurationManager.dateTimeConverter
#-------------------------------------------------------------------------------

import socorro.lib.ConfigurationManager as cm
import datetime
import re
import stat

#---------------------------------------------------------------------------
# imported config

from config.commonconfig import databaseHost
from config.commonconfig import databaseName
from config.commonconfig import databaseUserName
from config.commonconfig import databasePassword

#---------------------------------------------------------------------------
# HBase storage system
from config.commonconfig import hbaseHost
from config.commonconfig import hbasePort
from config.commonconfig import hbaseTimeout
from config.commonconfig import hbaseRetry
from config.commonconfig import hbaseRetryDelay

#---------------------------------------------------------------------------
# local feeder config

numberOfThreads = cm.Option()
numberOfThreads.doc = 'the number of threads to use'
numberOfThreads.default = 4

#---------------------------------------------------------------------------
# Logging

syslogHost = cm.Option()
syslogHost.doc = 'syslog hostname'
syslogHost.default = 'localhost'

syslogPort = cm.Option()
syslogPort.doc = 'syslog port'
syslogPort.default = 514

syslogFacilityString = cm.Option()
syslogFacilityString.doc = 'syslog facility string ("user", "local0", etc)'
syslogFacilityString.default = 'user'

syslogLineFormatString = cm.Option()
syslogLineFormatString.doc = 'python logging system format for syslog entries'
syslogLineFormatString.default = 'Socorro DBFeeder (pid %(process)d): %(asctime)s %(levelname)s - %(threadName)s - %(message)s'

syslogErrorLoggingLevel = cm.Option()
syslogErrorLoggingLevel.doc = 'logging level for the log file (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
syslogErrorLoggingLevel.default = 10

stderrLineFormatString = cm.Option()
stderrLineFormatString.doc = 'python logging system format for logging to stderr'
stderrLineFormatString.default = '%(asctime)s %(levelname)s - %(threadName)s - %(message)s'

stderrErrorLoggingLevel = cm.Option()
stderrErrorLoggingLevel.doc = 'logging level for the logging to stderr (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
stderrErrorLoggingLevel.default = 10

