import socorro.lib.ConfigurationManager as cm
import datetime as dt

from config.commonconfig import databaseHost
from config.commonconfig import databaseName
from config.commonconfig import databaseUserName
from config.commonconfig import databasePassword

numberOfTablesAtOnce = cm.Option()
numberOfTablesAtOnce.doc = 'number of tables to move simultaneously'
numberOfTablesAtOnce.default = 1

startDate = cm.Option()
startDate.doc = 'migrate dumps beginning with this date (automatically adjusts to closest Monday in the past)'
startDate.default = str(dt.datetime.now())[:10]
startDate.fromStringConverter = cm.dateTimeConverter

endDate = cm.Option()
endDate.doc = 'migrate dumps ending with this date (automatically adjusts to closest Monday in the past)'
endDate.default = str(dt.datetime.now())[:10]
endDate.fromStringConverter = cm.dateTimeConverter

logFilePathname = cm.Option()
logFilePathname.doc = 'full pathname for the log file'
logFilePathname.default = './migratedumps.log'

logFileMaximumSize = cm.Option()
logFileMaximumSize.doc = 'maximum size in bytes of the log file'
logFileMaximumSize.default = 10000000

logFileMaximumBackupHistory = cm.Option()
logFileMaximumBackupHistory.doc = 'maximum number of log files to keep'
logFileMaximumBackupHistory.default = 50

logFileLineFormatString = cm.Option()
logFileLineFormatString.doc = 'python logging system format for log file entries'
logFileLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

logFileErrorLoggingLevel = cm.Option()
logFileErrorLoggingLevel.doc = 'logging level for the log file (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
logFileErrorLoggingLevel.default = 10

stderrLineFormatString = cm.Option()
stderrLineFormatString.doc = 'python logging system format for logging to stderr'
stderrLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

stderrErrorLoggingLevel = cm.Option()
stderrErrorLoggingLevel.doc = 'logging level for the logging to stderr (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
stderrErrorLoggingLevel.default = 40


