import socorro.lib.ConfigurationManager as cm
import datetime

from config.commonconfig import databaseHost
from config.commonconfig import databaseName
from config.commonconfig import databaseUserName
from config.commonconfig import databasePassword

debug = cm.Option()
debug.doc = 'do debug output and routines'
debug.default = False
debug.singleCharacter = 'D'
debug.fromStringConverter = cm.booleanConverter

slotSizeMinutes = cm.Option()
slotSizeMinutes.doc = 'number of minutes per processing slot'
slotSizeMinutes.default = 60*24 #minutes per day
slotSizeMinutes.singleCharacter = 's'

slotEnd = cm.Option()
slotEnd.doc = 'Datetime that ends the processing slot'
slotEnd.default = datetime.date.today()
slotEnd.fromStringConverter = cm.dateTimeConverter
slotEnd.singleCharacter = 'e'

processingDay = cm.Option()
processingDay.doc = 'Day to process in (YYYY-MM-DD) format'
processingDay.default = (datetime.date.today() - datetime.timedelta(1)).isoformat() # yesterday
processingDay.singleCharacter = 'd'

startDate = cm.Option()
startDate.fromStringConverter = cm.dateTimeConverter
startDate.doc = 'Datetime to begin processing, in (YYYY-MM-DD [hh:mm]) format'

endDate = cm.Option()
endDate.fromStringConverter = cm.dateTimeConverter
endDate.doc = 'First datetime moment not to process, in (YYYY-MM-DD [hh:mm]) format'

logFilePathname = cm.Option()
logFilePathname.doc = 'full pathname for the log file'
logFilePathname.default = './mtbf.log'

logFileMaximumSize = cm.Option()
logFileMaximumSize.doc = 'maximum size in bytes of the log file'
logFileMaximumSize.default = 1000000

logFileMaximumBackupHistory = cm.Option()
logFileMaximumBackupHistory.doc = 'maximum number of log files to keep'
logFileMaximumBackupHistory.default = 50

logFileLineFormatString = cm.Option()
logFileLineFormatString.doc = 'python logging system format for log file entries'
logFileLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

logFileErrorLoggingLevel = cm.Option()
logFileErrorLoggingLevel.doc = 'logging level for the log file (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
logFileErrorLoggingLevel.default = 10

stderrLineFormatString = cm.Option()
stderrLineFormatString.doc = 'python logging system format for logging to stderr'
stderrLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

stderrErrorLoggingLevel = cm.Option()
stderrErrorLoggingLevel.doc = 'logging level for the logging to stderr (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
stderrErrorLoggingLevel.default = 40


