import socorro.lib.ConfigurationManager as cm

from config.commonconfig import debug

from config.commonconfig import databaseHost
from config.commonconfig import databaseName
from config.commonconfig import databaseUserName
from config.commonconfig import databasePassword

from config.commonconfig import startWindow
from config.commonconfig import endWindow
from config.commonconfig import deltaWindow
from config.commonconfig import defaultDeltaWindow
defaultDeltaWindow.default = '00:12:00'

from config.commonconfig import startDate
from config.commonconfig import endDate
from config.commonconfig import deltaDate
from config.commonconfig import initialDeltaDate
initialDeltaDate.default = '96:00:00'

product = cm.Option()
product.doc = 'the name of the product to restrict to (leave blank for all)'
product.default = 'Firefox'

version = cm.Option()
version.doc = 'the name of the version to restrict to (leave blank for all)'
version.default = ''

#---------------------------------------------------------------------------
# Logging

syslogHost = cm.Option()
syslogHost.doc = 'syslog hostname'
syslogHost.default = 'localhost'

syslogPort = cm.Option()
syslogPort.doc = 'syslog port'
syslogPort.default = 514

syslogFacilityString = cm.Option()
syslogFacilityString.doc = 'syslog facility string ("user", "local0", etc)'
syslogFacilityString.default = 'user'

syslogLineFormatString = cm.Option()
syslogLineFormatString.doc = 'python logging system format for syslog entries'
syslogLineFormatString.default = 'Socorro TopCrashesBySignature (pid %(process)d): %(asctime)s %(levelname)s - %(threadName)s - %(message)s'

syslogErrorLoggingLevel = cm.Option()
syslogErrorLoggingLevel.doc = 'logging level for the log file (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
syslogErrorLoggingLevel.default = 10

stderrLineFormatString = cm.Option()
stderrLineFormatString.doc = 'python logging system format for logging to stderr'
stderrLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

stderrErrorLoggingLevel = cm.Option()
stderrErrorLoggingLevel.doc = 'logging level for the logging to stderr (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
stderrErrorLoggingLevel.default = 40


