{% extends "crashstats_base.html" %}

{% block page_title %}Your Profile{% endblock %}

{% block site_css %}
  {{ super() }}
  <link rel="stylesheet" href="/static/profile/css/profile.min.css">
{% endblock %}

{% block content %}
  <div id="mainbody">
    <div class="page-heading">
      <h2>Your Profile</h2>
    </div>

    <div class="panel">
      <div class="body">
        <ul class="links left">
          <li><a href="{{ url('tokens:home') }}">API Tokens</a></li>
        </ul>
        <ul class="links right">
          <li>{{ request.user.email }}</li>
        </ul>
      </div>
    </div>

    <div class="panel page-section">
      <div class="title">
        <h2>Your Permissions</h2>
      </div>
      <div class="body">
        {% if request.user.is_superuser %}
          <p>
            You are a <b>superuser</b> with access to everything.
          </p>
        {% else %}
          <table class="data-table">
            <thead>
              <tr>
                <th>Permission</th>
                <th>You</th>
              </tr>
            </thead>
            <tbody>
              {% for permission in permissions %}
                <tr>
                  <td>{{ permission.name }}</td>
                  <td>
                    {% if request.user.has_perm('crashstats.' + permission.codename) %}
                      Yes!
                    {% else %}
                      No
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
