/* This file skins tableSorter */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #CCC;
	padding-right: 17px;
	border: 1px solid #FFF;
	font-size: 8pt;
}
table.tablesorter thead tr .header {
	background-image: url(/static/crashstats/css/flora/i/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr {
  background-color: #fff;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/static/crashstats/css/flora/i/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/static/crashstats/css/flora/i/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #AAA;
}
table.tablesorter td.report-date {
  width: 12em;
}
