[Unit]
Description=Socorro Middleware

[Service]
Environment=VENV=/data/socorro/socorro-virtualenv
ExecStart=/bin/bash -c "echo No more middleware"
Restart=no

[Install]
WantedBy=multi-user.target
