[Unit]
Description=Socorro Crashmover

[Service]
User=socorro
WorkingDirectory=/home/socorro
Environment=VENV=/data/socorro/socorro-virtualenv
ExecStart=/bin/bash -c "/usr/bin/envconsul -upcase=false -prefix socorro/common -prefix socorro/crashmover $VENV/bin/socorro crashmover"
Restart=always

[Install]
WantedBy=multi-user.target
