<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../includes/site.html" />
  <xi:include href="../includes/common.html" />
<head>
  <title>Top Crashers for the ${c.branch} Branch</title>
  ${ h.javascript_include_tag('/js/jquery/jquery-1.2.1.js') }
  ${ h.javascript_include_tag('/js/jquery/plugins/ui/jquery.tablesorter.min.js') }
  ${ h.stylesheet_link_tag('/css/flora/flora.tablesorter.css') }
  <script type="text/javascript">
  <![CDATA[
  $(document).ready(function() 
      { 
          $('#signatureList').tablesorter(); 
      } 
  ); 
  ]]>
  </script>
</head>

<body>

<div id="content" py:choose="len(c.tc)">
 <h1 class="first">Top Crashers for the ${c.branch} Branch</h1>
  <p py:when="0">No results were found.</p>
  <div py:otherwise="">Below are the top 100 crashers over the last 2 weeks.
   ${list_by_signature(c.tc, c.params)}
  </div>
</div>
<!-- end content -->

</body>
</html>
