<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">

<?python
from socorro.lib.platforms import platformList
?>

<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
 <xi:include href="includes/site.html" />
 <xi:include href="includes/common.html" />
 <head>
  <title>Crash Reports</title>
  ${ h.stylesheet_link_tag("/css/datePicker.css") }
  ${ h.javascript_include_tag("/js/jquery/jquery-1.2.1.js") }
  ${ h.javascript_include_tag("/js/jquery/date.js") }
  ${ h.javascript_include_tag("/js/jquery/plugins/ui/jquery.datePicker.js") }
  <script type="text/javascript">
  $(function()
  {
    Date.format='yyyy-mm-dd';
    $('.date-pick').datePicker();
    $('.date-pick').dpSetStartDate('2007-01-01');
  });
  </script>
 </head>
 <body>
  <div id="content">

  <h1 class="first">Search Crash Reports</h1>
  <form name="query" method="GET" action="${h.url_for(action='query')}">
   <input type="hidden" name="do_query" value="1" />

   <p>
    <label for="product">Product: </label>
    <select name="product" size="4" multiple="multiple">
     <option py:for="(product,) in c.products"
             value="${product}"
             selected="${(product in c.params.products) and 'selected' or ''}">
      ${product}
     </option>
    </select>

    <label for="branch">Branch: </label>
    <select name="branch" size="4" multiple="multiple">
     <option py:for="(branch,) in c.branches"
             value="${branch}"
             selected="${(branch in c.params.branches) and 'selected' or ''}">
      ${branch}
     </option>
    </select>

    <label for="version">Version: </label>
    <!-- Want some fancy AJAX goodness here! -->
    <select name="version" size="4" multiple="multiple">
     <option py:for="(product, version) in c.prodversions"
             value="${product}:${version}"
             selected="${ ((product, version) in c.params.versions) and 'selected' or ''}">
      ${product} ${version}
     </option>
    </select>

    <label for="platform">Platform: </label>
    <select name="platform" size="${len(platformList)}" multiple="multiple">
     <option py:for="platform in platformList"
             value="${str(platform)}"
             selected="${ (platform in c.params.platforms) and 'selected' or ''}">
      ${platform.name()}
     </option>
    </select>
   </p>

   <p>
    <select name="query_search">
     <option value="signature" selected="${c.params.getQuerySearch() == 'signature' and 'selected' or ''}">
      Stack Signature
     </option>
     <option value="stack" selected="${c.params.getQuerySearch() == 'stack' and 'selected' or ''}">
      Top 10 Stack Frames
     </option>
    </select>
    <select name="query_type">
     <option py:for="(value, desc) in (('contains', 'contains'),
                                       ('exact', 'is exactly'))"
             value="${value}"
             selected="${c.params.getQueryType() == value and 'selected' or ''}">
      ${desc}
     </option>
    </select>
    <input type="text" name="query" value="${c.params.query}" size="40" />
   </p>

   <p>
    <label for="date">Occuring before date (default: now, format yyyy-mm-dd HH:MM:SS): </label>
    <input type="text" name="date" size="20" class="date-pick" value="${c.params.date}" />
    <br />
    <label for="range_value">Date range: </label>
    <input type="text" name="range_value" value="${c.params.getRange()[0]}" size="2" /><select name="range_unit">
      <option py:for="interval in ('hours', 'days', 'weeks', 'months')"
              value="${interval}"
              selected="${c.params.getRange()[1] == interval and 'selected' or ''}">
       ${interval}
      </option>
    </select>
   </p>

   <input type="submit" />
  </form>

  <py:if test="request.params.get('do_query', None)">
   <h2>Query Results</h2>

   <p>${str(c.params)}</p>

   ${list_by_signature(c.reports, c.params)}

  </py:if>

  </div>
  <!-- end content --> 

 </body>
</html>
