<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
 "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
 <head>
   <title>Breakpad Crash Report: ${c.report.uuid}</title>
   <style>
     table {
       border-top: 1px solid grey;
       border-left: 1px solid grey;
     }
     td,th {
       font-size: 11px;
       border-bottom: 1px solid grey;
       border-right: 1px solid grey;
       padding: 2px;
       margin: none;
     }
   </style>
 </head>
 <body>
    <p>
    <b>${c.report.product} ${c.report.version}</b> <br/>
    ID: ${c.report.uuid} <br/>
    Time: ${c.report.date} <br/>
    Build ID: ${c.report.build} <br/>
    OS: ${c.report.os_name} <br/>
    OS Version: ${c.report.os_version} <br/>
    CPU: ${c.report.cpu_name} <br/>
    CPU Info: ${c.report.cpu_info} <br/>
    Crash Reason: ${c.report.crash_reason} <br/>
    Crash Address: ${c.report.crash_address} <br/>
    </p>
    <py:if test="len(c.report.frames) > 0">
      <b>Stack of Crashing Thread:</b><br/>
      <table cellspacing="0" width="1200">
        <tr>
          <th>frame</th>
          <th>module</th>
          <th>function</th>
          <th>source</th>
          <th>line</th>
          <th>instruction</th>
        </tr>
        <tr py:for="frame in c.report.frames">
          <td>${frame.frame_num}</td>
          <td>${frame.module_name}</td>
          <td>${frame.function}</td>
          <td>${frame.source}</td>
          <td>${frame.source_line}</td>
          <td>${frame.instruction}</td>
        </tr>
      </table>
    </py:if>
    <pre py:if="len(c.report.dumps) == 1">${c.report.dumps[0].data}</pre>
 </body>
</html>
