---
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types: ["major", "minor", "patch"]
        # NOTE(bdanforth): This can be removed once CRINGE-125 is done.
        exclude-patterns: ["django"]
      development-dependencies:
        dependency-type: "development"
        update-types: ["major", "minor", "patch"]
  - package-ecosystem: "docker"
    directories:
      - "/docker"
      - "/docker/images/*"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: python
        versions: [">=3.12"]

  # Set update schedule for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    rebase-strategy: "disabled"
    open-pull-requests-limit: 10
    groups:
      all-dependencies:
        update-types: ["major", "minor", "patch"]
