---
version: 2
updates:
  - package-ecosystem: "uv"

    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      production-dependencies:
        dependency-type: "production"
        update-types: ["major", "minor", "patch"]
      development-dependencies:
        dependency-type: "development"
        update-types: ["major", "minor", "patch"]
  - package-ecosystem: "docker"
    directories:
      - "/docker"
      - "/docker/images/*"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: python
        versions: [">=3.12"]

  # Set update schedule for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    rebase-strategy: "disabled"
    open-pull-requests-limit: 10
    groups:
      all-dependencies:
        update-types: ["major", "minor", "patch"]
