{% extends "crashstats_base.html" %}

{% block site_js %}
    {{ super() }}
    {% javascript 'socorro_utils' %}
    {% javascript 'home' %}
{% endblock %}

{% block page_title %}
Crash Data for {{ product }}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2 id="homepage-heading">{{ product }} Crash Data</h2>
    </div>

    <div class="panel"
        id="homepage-data-panel"
        data-versions="{{ versions | to_json }}"
        data-product="{{ product }}"
    >
        <div class="title">
            <h2>Crash Reports</h2>
        </div>

        <div class="body">
            <div id="release_channels">
                {% for version in versions %}
                <div class='release_channel'>
                    <h4>{{product}} {{version}}</h4>
                    <ul>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(
                                product=product,
                                version=version,
                                days=days,
                            ) }}">
                                Top Crashers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(
                                product=product,
                                version=version,
                                process_type='plugin',
                                days=days,
                                ) }}">
                                Top Plugin Crashers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(
                                product=product,
                                version=version,
                                process_type='content',
                                days=days,
                                ) }}">
                                Top Content Crashers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(
                                product=product,
                                version=version,
                                process_type='gpu',
                                days=days,
                                ) }}">
                                Top GPU Crashers
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <br class="clear" />
        </div>
    </div>
    <br class="clear" />
</div>

{% endblock %}
