{% extends "crashstats_base.html" %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'metricsgraphics' %}
{% endblock %}

{% block site_js %}
    {{ super() }}
    {% javascript 'd3' %}
    {% javascript 'metricsgraphics' %}
    {% javascript 'socorro_utils' %}
    {% javascript 'home' %}
{% endblock %}

{% block page_title %}
Crash Data for {{ product }}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2 id="homepage-heading">{{ product }} Crash Data</h2>

        <nav>
            <ul id="duration" class="options">
            {% for day in [3, 7, 14] %}
                <li>
                    <a  href="{{ change_query_string(days=day) }}"
                        data-duration="{{ day }}"
                        class="days-{{ day }}{% if day == days %} selected{% endif %}"
                    >{{ day }} days</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>

    <div id="homepage-graph" class="panel">
        <div class="title">
            <h2>Crashes per 100 Active Daily Installs</h2>
        </div>

        <div
            class="body"
            id="homepage-graph-container"
            data-supersearch-api="{{ url('api:model_wrapper', model_name='SuperSearch') }}"
            data-product-build-types-api="{{ url('api:model_wrapper', model_name='ProductBuildTypes') }}"
            data-adi-api="{{ url('api:model_wrapper', model_name='ADI') }}"
            data-product="{{ product }}"
            data-versions="{{ versions | to_json }}"
            data-platforms="{{ platforms | to_json }}"
            data-duration="{{ days }}"
            data-es-shards-per-index="{{ es_shards_per_index }}"
        >
            <div class="message error hide"></div>
            <div id="homepage-graph-graph"></div>
            <div id="homepage-graph-legend" class="homepage-graph-legend"></div>
        </div>
    </div>


    <div class="panel">
        <div class="title">
            <h2>Crash Reports</h2>
        </div>

        <div class="body">
            <div id="release_channels">
                {% for version in versions %}
                <div class='release_channel'>
                    <h4>{{product}} {{version}}</h4>
                    <ul>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(
                                product=product,
                                version=version,
                                days=days,
                            ) }}">
                                Top Crashers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(
                                product=product,
                                version=version,
                                process_type='plugin',
                                days=days,
                            ) }}">
                                Top Plugin Crashers
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <br class="clear" />
        </div>
    </div>
    <br class="clear" />
</div>

{% endblock %}
