{% extends "crashstats_base.html" %}
{% block page_title %}Search - Mozilla Crash Reports{% endblock %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'select2' %}
    {% stylesheet 'jquery_ui' %}
    {% stylesheet 'search' %}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>Super Search</h2>

        <nav>
            <ul class="options">
                <li><a href="{{ url('supersearch.search') }}" class="selected">Search by fields</a></li>
                {% if not waffle.switch('supersearch-custom-query-disabled') and request.user.has_perm('crashstats.run_custom_queries') %}
                <li><a href="{{ url('supersearch.search_custom') }}">Custom query</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <section id="search-form">
        <form method="get" action="{{ url('supersearch.search') }}"
            data-fields-url="{{ url('supersearch.search_fields') }}"
            data-results-url="{{ url('supersearch.search_results') }}"
            data-custom-url="{{ url('supersearch.search_custom') }}"
            data-public-api-url="{{ url('api:model_wrapper', 'SuperSearch') }}"
        >
            <header>
                <button type="submit" id="search-button">Search</button>
                <button class="new-line">New line</button>
                {% if not waffle.switch('supersearch-custom-query-disabled') and request.user.has_perm('crashstats.run_custom_queries') %}
                <button class="customize">Customize</button>
                {% endif %}

                <h4>Search filters</h4>
            </header>

            <!-- Simplified search UI -->
            <div id="simple-search">
                <fieldset>
                    {% for field, field_data, examples in simple_search_data %}
                    <div>
                        <label for="simple-{{ field }}">
                            {{ field | replace('_', ' ') | capitalize }}
                        </label>
                        <select name="{{ field }}" id="simple-{{ field }}"
                            multiple="multiple"
                            placeholder="{{ ', '.join(examples) }}..."
                        >
                            {% for opt in field_data %}
                            <option value="{{ opt[0] }}">{{ opt[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                </fieldset>
            </div>


            <!-- Advanced search UI -->
            <div id="advanced-search">

                <fieldset id="search-params-fieldset"></fieldset>

                <p><em>Note: by default, the date will be a range between now and a week ago. You can override the lower bound, the upper bound, or both. </em></p>
            </div>

            <fieldset class="options">
                <h4>More options... <span class="show">click to show</span><span class="hide">click to hide</span></h4>
                <div>
                    <p>
                        <label for="_facets">Facet on:</label>
                        <input type="text" name="_facets" id="_facets" value="{{ facets | join(', ') }}">
                    </p>
                    <p>
                        <label for="_columns_fake">Show columns:</label>
                        <input type="text" name="_columns_fake" id="_columns_fake" value="{{ columns | join(', ') }}">
                        <input type="hidden" name="_columns" value="{{ columns | join(', ') }}">
                    </p>
                    <p>
                        <label for="_sort">Sort by:</label>
                        <input type="text" name="_sort" id="_sort" value="{{ sort | join(', ') }}">
                    </p>

                    <div class="public-api-url">
                        Public API URL: (<a href="{{ url('documentation:supersearch_home') }}">Super Search API Documentation</a>)
                        <input type="text" name="_public_api_url">
                    </div>
                </div>
            </fieldset>
        </form>
    </section>

    <div class="panel">
        <div class="title">
            <h2>Search results</h2>
        </div>

        <div class="body" id="search_results">
            <p>Run a search to get some results. </p>
        </div>
    </div>
</div>
{% endblock %}

{% block site_js %}
    {{ super() }}

<script>
var COLUMNS = {{ possible_columns | json_dumps }};
var FACETS = {{ possible_facets | json_dumps }};
var BASE_URL = location.protocol + '//' + location.host;
</script>
    {% javascript 'select2' %}
    {% javascript 'jquery_ui' %}
    {% javascript 'jquery_tablesorter' %}
    {% javascript 'dynamic_form' %}
    {% javascript 'socorro_utils' %}
    {% javascript 'bugzilla' %}
    {% javascript 'search' %}
{% endblock %}
