rules:
  linebreak-style:
    - 2
    - unix
  no-console:
    - 1
  max-len: "off" # Use prettier default line length
env:
  browser: true
  jquery: true
parserOptions:
  ecmaVersion: 7
globals:
  $: false
  Analytics: false
  browser: false
  moment: false
  Qs: false
extends:
  - eslint:recommended
  - plugin:prettier/recommended
