rules:
  linebreak-style:
    - 2
    - unix
  no-console:
    - 1
env:
  browser: true
  jquery: true
globals:
  $: false
  Analytics: false
  browser: false
  moment: false
  Qs: false
extends:
  - eslint:recommended
  - plugin:prettier/recommended
