rules:
  linebreak-style:
    - 2
    - unix
  no-console:
    - 1
env:
  browser: true
  jquery: true
globals:
  $: false
  alert: true
  Analytics: false
  BugLinks: true
  d3: false
  DateFilters: false
  ga: false
  location: true
  MG: false
  moment: false
  PaginationUtils: true
  Promise: false
  Qs: false
  SignatureReport: false
  socorro: false
  window: false
extends:
  - eslint:recommended
  - plugin:prettier/recommended
