# exclude config overrides to prevent accidental check-ins
*.py[co]
*.sw[po]
*.log
exploitable/
*~
coverage.xml
.coverage
cover/
node_modules
pip-cache
pip-log.txt
build
.DS_Store
webapp-django/media/
socorro.egg-info/
dist/
webapp-django/.env
.pytest_cache
symbols/

# docker things
.docker-build*
.devcontainer-build
.cache/
.env

# docs things
docs/_build/

# exclude generated crashdata
crashids.txt
crashdata

# ides
.vscode
