# exclude config overrides to prevent accidental check-ins
socorro/unittest/config/*.py
*.py[co]
*.sw[po]
*.log
distribute*.tar.gz
breakpad/
breakpad.tar.gz
depot_tools/
nosetests.xml
scripts/config/*.py
socorro/unittest/config/*.py
socorro-virtualenv
socorro/unittest/database/logs/
socorro/unittest/testlib/logs/
stackwalk/
exploitable/
*~
coverage.xml
.coverage
cover/
socorro/cron/crontabber.json
/config/*.ini
node_modules
pip-cache
pip-log.txt
build
.DS_Store
webapp-django/media/
minidump-stackwalk/*.o
minidump-stackwalk/stackwalker
minidump-stackwalk/dumplookup
minidump-stackwalk/get-minidump-instructions
minidump-stackwalk/jit-crash-categorize
socorro.egg-info/
dist/
socorro-*.rpm
webapp-django/.env
webapp-django/webpack-stats.json
webapp-django/webpack_bundles/

# exclude filesystem storage directories
primaryCrashStore/
processedCrashStore/
/tags
e2e-tests/.cache/

# docker things
.docker-build
.docker-build3
.cache/
docker-compose.override.yml
my.env

# docs things
docs/_build/
docs/tests/e2e_readme.md
