# docker-compose for Socorro development.
#
# Note: Requires docker-comopse 1.10+.
version: "2"
services:
  # Socorro app image
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    image: local/socorro_app
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - my.env
    volumes:
      - .:/app

  # For development

  # For running tests
  test:
    image: local/socorro_app
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - docker/config/test.env
    depends_on:
      - statsd
      - localstack
      - postgresql
      - elasticsearch
    volumes:
      - .:/app

  # For running tests in CI
  test-ci:
    image: local/socorro_app
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - docker/config/test.env
    depends_on:
      - statsd
      - localstack
      - postgresql
      - elasticsearch

  processor:
    image: local/socorro_app
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - my.env
    depends_on:
      - statsd
      - localstack
      - elasticsearch
    command: ["processor"]
    volumes:
      - .:/app

  crontabber:
    image: local/socorro_app
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - my.env
    depends_on:
      - statsd
      - postgresql
      - elasticsearch
    command: ["crontabber"]
    volumes:
      - .:/app

  webapp:
    image: local/socorro_app
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - my.env
    depends_on:
      - statsd
      - localstack
      - postgresql
      - elasticsearch
      - memcached
      - oidcprovider
    links:
      - "oidcprovider:oidcprovider.127.0.0.1.nip.io"
    command: ["webapp", "--dev"]
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  # https://hub.docker.com/r/mozilla/oidc-testprovider
  oidcprovider:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.oidcprovider
    image: local/socorro_oidcprovider
    ports:
      - "8080:8080"

  # Docs building container
  docs:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.docs
    image: local/socorro_docs
    volumes:
      - .:/app

  # -----------------------------
  # External services
  # -----------------------------

  # https://hub.docker.com/r/mozilla/socorro_collector/
  #
  # This pulls the latest Antenna and treats it as an external service.
  #
  # This uses the development ./bin/run_web.sh script from the Antenna
  # container since that creates a bucket before running Antenna.
  collector:
    image: mozilla/socorro_collector:latest
    env_file:
      - docker/config/local_dev.env
      - docker/config/never_on_a_server.env
      - my.env
    depends_on:
      - localstack
      - statsd
    expose:
      - 8000
    ports:
      - "8888:8000"
    volumes:
      - .:/socorro

  # https://hub.docker.com/r/hopsoft/graphite-statsd/
  statsd:
    image: hopsoft/graphite-statsd
    ports:
      - "8081:80"
      - "2003-2004:2003-2004"
      - "2023-2024:2023-2024"
      - "8125:8125/udp"
      - "8126:8126"

  # https://hub.docker.com/_/elasticsearch/
  # Note: This image is deprecated, but the new one requires fiddling.
  elasticsearch:
    image: mozilla/socorro_elasticsearch:1.4.5
    ports:
      - "9200:9200"
      - "9300:9300"

  # https://www.docker.elastic.co/
  elasticsearch7:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.1.0
    environment:
      - discovery.type=single-node
    ports:
      - "9201:9200"
      - "9301:9300"

  # https://hub.docker.com/_/postgres/
  postgresql:
    image: postgres:9.6
    ports:
      - "8574:5432"
    environment:
      # Create the superuser account
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=aPassword
      - POSTGRES_DB=breakpad

  # https://hub.docker.com/r/localstack/localstack/
  # localstack running a fake AWS S3 and SQS
  localstack:
    image: localstack/localstack:0.10.8
    environment:
      - SERVICES=s3:4572,sqs:4576
      - DEFAULT_REGION=us-east-1
      - HOSTNAME=localstack
      - HOSTNAME_EXTERNAL=localstack
    ports:
      - "4572:4572"
      - "4576:4576"

  # https://hub.docker.com/_/memcached/
  memcached:
    image: memcached:1.5.1
    ports:
      - "11211:11211"
