---
# define volumes in docker-compose.override.yml so that can be ignored in CI
services:
  app:
    volumes:
      - .:/app
      - /app/.venv
      - /app/webapp/node_modules
      - /app/webapp/static

  test:
    volumes:
      - .:/app
      - /app/.venv
      - /app/webapp/node_modules
      - /app/webapp/static

  processor:
    volumes:
      - .:/app
      - /app/.venv

  crontabber:
    volumes:
      - .:/app
      - /app/.venv

  webapp:
    volumes:
      - .:/app
      - /app/.venv
      - /app/webapp/node_modules
      - /app/webapp/static

  stage_submitter:
    volumes:
      - .:/app
      - /app/.venv

  collector:
    volumes:
      - .:/socorro

  fakecollector:
    volumes:
      - .:/app
      - /app/.venv

  symbolsserver:
    volumes:
      - .:/app
      - /app/.venv
