# These are requirements that you can only install if you're on Linux.
# Basically, all the other requirements in `requirements.txt` should
# work on all platforms.

pyinotify==0.9.6 \
    --hash=sha256:9c998a5d7606ca835065cdabc013ae6c66eb9ea76a00a1e3bc6e0cfe2b4f71f4
