[tool.ruff]
line-length = 88

# NOTE(willkg): Need to keep using Python 3.8 until socorro-siggen drops
# support for it
target-version = "py38"

[tool.ruff.lint]
# Enable pycodestyle (E), pyflakes (F), and bugbear (B) rules
select = ["E", "F", "B"]

# Ignore line length violations
ignore = ["E501"]

[tool.ruff.lint.flake8-quotes]
docstring-quotes = "double"


[tool.release]
github_user = "mozilla-services"
github_project = "socorro"
bugzilla_product = "Socorro"
bugzilla_component = "Infra"
main_branch = "main"
tag_name_template = "v%Y.%m.%d"


[tool.paul-mclendahand]
github_user = "mozilla-services"
github_project = "socorro"
main_branch = "main"


[tool.service-status]
main_branch = "main"
hosts = [
    "stage=https://crash-reports.allizom.org",
    "stage=https://crash-stats.allizom.org",
    "prod=https://crashstats-submitter-version-prod.s3-us-west-2.amazonaws.com",
    "prod=https://crash-reports.mozilla.com",
    "prod=https://crash-stats.mozilla.org"
]
