attrs==24.3.0
boltons==24.1.0
click==8.1.8
contextlib2==21.6.0
datadog==0.50.2
django-cors-headers==4.6.0
django_csp==3.8
django-jinja==2.11.0
django-npm==1.0.0
django-pipeline==4.0.0
django-ratelimit==4.1.0
djangorestframework==3.15.2
dj-database-url==2.3.0
dockerflow==2024.4.2
enforce-typing==1.0.0.post1
everett==3.4.0
fillmore==2.1.0
freezegun==1.5.1
glom==24.11.0
google-cloud-pubsub==2.27.1
google-cloud-storage==2.19.0
gunicorn==23.0.0
honcho==2.0.0
humanfriendly==10.0
inotify_simple==1.3.5
isodate==0.7.2
isoweek==1.3.3
jinja2==3.1.5
jsonschema==4.23.0
lxml==5.2.2
markus[datadog]==5.1.0
markdown-it-py==3.0.0
more-itertools==10.5.0
mozilla-django-oidc==4.0.1
oauth2client==4.1.3
pip-tools==7.4.1
psycopg2-binary==2.9.9
pygments==2.19.0
pymemcache==4.0.0
pyquery==2.0.1
pytest==8.3.4
pytest-django==4.9.0
pytest-env==1.1.5
python-decouple==3.8
PyYAML==6.0.2
requests==2.32.3
requests-mock==1.12.1
ruff==0.9.1
semver==3.0.2
sentry-sdk==2.17.0
Sphinx==8.1.3
sphinx_rtd_theme==3.0.2
statsd==4.0.1
urlwait==1.0
werkzeug==3.1.3
whitenoise==6.8.2


# NOTE(willkg): Don't need to update this. We don't really use it and we should
# remove it.
django-waffle==2.3.0

# NOTE(willkg): We stick with LTS releases and the next one is 5.2 (2025).
django==4.2.17

# NOTE(relud): Need to keep elasticsearch and elasticsearch-dsl at versions compatible with the
# cluster we're using
elasticsearch==8.15.1
elasticsearch-dsl==8.15.3
# via docker/set_up_legacy_es_requirements.sh and legacy-es-requirements.txt
# NOTE(relud): these dependencies are installed separately via legacy-es-requirements.txt and
# docker/set_up_legacy_es_requirements.sh, relocated, and patched to reference the new location (aka
# shaded), so that they can be installed at the same time as newer versions
# elasticsearch==1.9.0
# elasticsearch-dsl==0.0.11
# NOTE(relud): specify transitive dependencies that are not shaded
python-dateutil # via elasticsearch-dsl==0.0.11
six # via elasticsearch-dsl==0.0.11
urllib3>=1.8, <2.0 # via elasticsearch==1.9.0

# Mozilla obs-team libraries that are published to GAR instead of pypi
--extra-index-url https://us-python.pkg.dev/moz-fx-cavendish-prod/cavendish-prod-python/simple/
obs-common==2025.1.9
