{% extends "manage/base.html" %}

{% block page_title %}{{ super() }} - API Tokens{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="{{ static('crashstats/js/moment.min.js') }}"></script>
  {% compress js %}
  <script type="text/javascript" src="{{ static('manage/js/pagination_utils.js') }}"></script>
  {% endcompress %}
  {% compress js %}
  <script type="text/javascript" src="{{ static('manage/js/api_tokens.js') }}"></script>
  {% endcompress %}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ static('manage/css/api_tokens.css') }}">
  {% endcompress %}
{% endblock %}

{% block admin_title %}{{ super() }} - API Tokens{% endblock %}

{% block mainbody %}

  <div class="panel">
    <div class="body notitle">

      <p class="pleasewait">
        <img src="{{ static('img/loading.png') }}" alt="Loading animation" />
        Loading...
      </p>

      <h3 class="count"><b></b> API Tokens found
        <span class="page-wrapper">(page <span class="page"></span>)</span>
      </h3>

      <p class="pagination">
        <a href="" class="previous">&larr; Previous</a>
        <a href="" class="next">Next &rarr;</a>
      </p>

      <form action="" id="tokens"
        data-data-url="{{ url('manage:api_tokens_data') }}"
        data-delete-url="{{ url('manage:api_tokens_delete') }}">
        <input type="hidden" name="page">
        <table class="data-table vertical">
          <thead>
            <tr>
              <th>User</th>
              <th style="width:260px">Key</th>
              <th>Expires</th>
              <th>Permissions</th>
              <th class="notes">Notes</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td><input type="text" name="user" placeholder="Filter by email"></td>
              <td><input type="text" name="key" placeholder="Filter by key"></td>
              <td>
                {{ filter_form.expired }}
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><input type="submit" value="Filter">
                  <input type="button" class="reset" value="Reset">
              </td>
            </tr>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </form>

      <hr>

      <h3>
        Create new API Token
      </h3>

      <form action="{{ url('manage:api_tokens') }}" id="create" method="post"
            data-users-url="{{ url('manage:users_data') }}">
        {{ csrf() }}
        <table class="data-table">
          {{ form }}
          <tr>
            <th>&nbsp;</th>
            <td><input type="submit" value="Save"></td>
          </tr>
        </table>
      </form>

    </div>
  </div>

{% endblock %}
