# This file is for settings that are specific to your docker local development
# environment. Since these are specific to your local development environment,
# don't check them in.

# ---------------------------------------------
# Webapp Google auth settings
# ---------------------------------------------

# Google auth credentials from setting up a project
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=

# ---------------------------------------------
# crash-stats.mozilla.com settings
# ---------------------------------------------

# API token from crash-stats.mozilla.com that has access to download
# raw dumps
# SOCORRO_API_TOKEN=

# API token from crash-stats.mozilla.com that has access to reprocess
# crashes
# SOCORRO_REPROCESS_API_TOKEN=
