{% extends "crashstats_base.html" %}

{% block site_css %}
    {{ super() }}

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ static('crashstats/css/lib/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('crashstats/css/metricsgraphics_custom.css') }}">
    {% endcompress %}
{% endblock %}

{% block page_title %}
Crash Data for {{ product }} {% if version %}{{ version }}{% endif %}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2 id="homepage-heading">{{ product }} {% if version %}{{ version }}{% endif %} Crash Data</h2>
        <ul id="duration" class="options">
        {% for day in possible_days %}
            <li><a href="{{ change_query_string(days=day) }}" {% if days == day %} class="selected" {% endif %}>{{ day }} days</a></li>
        {% endfor %}
        </ul>

        {% if has_builds %}
        <ul id="date-range-type" class="options">
            <li>Date Range:</li>
            <li><a href="{{ change_query_string(date_range_type='report') }}"{% if default_date_range_type == 'report' %} class="selected"{% endif %}>By Crash Date</a></li>
            <li><a href="{{ change_query_string(date_range_type='build') }}"{% if default_date_range_type == 'build' %} class="selected"{% endif %}>By Build Date</a></li>
        </ul>
        {% endif %}
    </div>

    <div id="homepage-graph" class="panel">
        <div class="title">
            <h2>Crashes per 100 Active Daily Installs</h2>
        </div>

        <div class="body">
            <div id="homepage-graph-graph"></div>
            <div id="homepage-graph-legend" class="homepage-graph-legend"></div>
        </div>
    </div>


    <div class="panel">
        <div class="title">
            <h2>Crash Reports</h2>
        </div>

        <div class="body">
            <div id="release_channels">
                {% for version in currentversions %}
                {% if version.product == product and version.featured %}
                <div class='release_channel'>
                    <h4>{{product}} {{version.version}}</h4>
                    <ul>
                        <li>
                            <a href="{{ url(
                                'crashstats:topcrasher',
                                product=product,
                                versions=version.version,
                                date_range_type=default_date_range_type,
                            ) }}?days={{days}}">
                                Top Crashers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url(
                                'crashstats:topchangers',
                                product=product,
                                versions=version.version,
                            ) }}?days={{days}}">
                                Top Changers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url(
                                'crashstats:topcrasher',
                                product=product,
                                versions=version.version,
                                date_range_type=default_date_range_type,
                                crash_type='plugin',
                            ) }}?days={{days}}">
                                Top Plugin Crashers
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br class="clear" />
        </div>
    </div>
    <br class="clear" />
</div>

{% endblock %}
{% block site_js %}
    {{ super() }}
    {% compress js %}
    <script src="{{ static('crashstats/js/lib/d3.min.js') }}"></script>
    <script src="{{ static('crashstats/js/lib/metricsgraphics.min.js') }}"></script>
    {% endcompress %}

    {% compress js %}
    <script src="{{ static('crashstats/js/socorro/utils.js') }}"></script>
    <script src="{{ static('crashstats/js/socorro/dashboard_graph.js') }}"></script>
    <script src="{{ static('crashstats/js/socorro/daily.js') }}"></script>
    {% endcompress %}
{% endblock %}
