version: 2
jobs:
  build:
    docker:
      - image: docker:stable
    working_directory: /
    steps:
      - run:
          name: Install essential packages
          command: |
            apk update
            apk add --update --no-cache \
                    ca-certificates \
                    build-base \
                    bash \
                    make \
                    git \
                    openssh \
                    docker \
                    py-pip
            pip install docker-compose

      - checkout:
          path: /socorro

      - run:
          name: Create version.json
          working_directory: /socorro
          command: |
            # create a version.json per https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
            printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
            "$CIRCLE_SHA1" \
            "$CIRCLE_TAG" \
            "$CIRCLE_PROJECT_USERNAME" \
            "$CIRCLE_PROJECT_REPONAME" \
            "$CIRCLE_BUILD_URL" > /socorro/version.json

      - store_artifacts:
          path: /socorro/version.json

      - setup_remote_docker

      - run:
          name: Build Docker images
          working_directory: /socorro
          command: |
            docker info
            make build

      - run:
          name: Run eslint
          working_directory: /socorro
          command: docker run --workdir="/app/webapp-django" local/socorro_webapp /webapp-frontend-deps/node_modules/.bin/eslint /app/webapp-django

      - run:
          name: Run tests
          working_directory: /socorro
          command: make test

      - run:
          name: Push to Dockerhub
          working_directory: /socorro
          command: |
            # set DOCKER_DEPLOY=true in Circle UI to push to Dockerhub
            DOCKER_DEPLOY="${DOCKER_DEPLOY:-false}"
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              scripts/deploy-dockerhub.sh "$CIRCLE_SHA1"
            fi
            if [ -n "${CIRCLE_TAG}" ]; then
              scripts/deploy-dockerhub.sh "$CIRCLE_TAG"
            fi

workflows:
  version: 2

  # workflow jobs are _not_ run in tag builds by default
  # we use filters to whitelist jobs that should be run for tags

  # workflow jobs are run in _all_ branch builds by default
  # we use filters to blacklist jobs that shouldn't be run for a branch

  # see: https://circleci.com/docs/2.0/workflows/#git-tag-job-execution

  build-test-push:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
