version: 2
jobs:
  build:
    docker:
      - image: docker:stable
    working_directory: /
    steps:
      - run:
          name: Install essential packages
          command: |
            apk update
            apk add --update --no-cache \
                    ca-certificates \
                    build-base \
                    bash \
                    make \
                    git \
                    openssh \
                    docker \
                    py-pip
            pip install docker-compose

      - checkout:
          path: /socorro

      - run:
          name: Create version.json
          working_directory: /socorro
          command: |
            # create a version.json per https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
            printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
            "$CIRCLE_SHA1" \
            "$CIRCLE_TAG" \
            "$CIRCLE_PROJECT_USERNAME" \
            "$CIRCLE_PROJECT_REPONAME" \
            "$CIRCLE_BUILD_URL" > /socorro/version.json

      - store_artifacts:
          path: /socorro/version.json

      - setup_remote_docker

      - run:
          name: Build Docker images
          working_directory: /socorro
          command: |
            docker info
            make build

      - run:
          name: Lint
          working_directory: /socorro
          command: docker run local/socorro_webapp ./docker/run_lint.sh

      - run:
          name: Run tests
          working_directory: /socorro
          command: make test

#      - run:
#          name: Run tests in Python 3
#          working_directory: /socorro
#          command: make dockertest3

      - run:
          name: Push to Dockerhub
          working_directory: /socorro
          command: |
            function retry {
              set +e
              local n=0
              local max=3
              while true; do
              "$@" && break || {
                if [[ $n -lt $max ]]; then
                  ((n++))
                  echo "Command failed. Attempt $n/$max:"
                else
                  echo "Failed after $n attempts."
                  exit 1
                fi
              }
              done
              set -e
            }

            export DOCKER_TAG="${CIRCLE_SHA1}"
            if [ -n "${CIRCLE_TAG}" ]; then
              export DOCKER_TAG="${CIRCLE_TAG}"
            fi
            # push on master or git tag
            if [ "${CIRCLE_BRANCH}" == "master" ] || [ -n "${CIRCLE_TAG}" ]; then
              echo "${DOCKER_PASSWORD}" | docker login -u="${DOCKER_USERNAME}" --password-stdin
              for image in "socorro_processor" "socorro_webapp" "socorro_crontabber"; do
                retry docker tag "local/${image}:latest" "mozilla/${image}:${DOCKER_TAG}"
                retry docker push "mozilla/${image}:${DOCKER_TAG}"
              done
            fi

workflows:
  version: 2

  # workflow jobs are _not_ run in tag builds by default
  # we use filters to whitelist jobs that should be run for tags

  # workflow jobs are run in _all_ branch builds by default
  # we use filters to blacklist jobs that shouldn't be run for a branch

  # see: https://circleci.com/docs/2.0/workflows/#git-tag-job-execution

  build-test-push:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
