.errorlist {
    color: red;
}

textarea {
    height: 60px;
    width: 400px;
}

code, pre {
    background-color: #efefef;
    border: 1px solid #ccc;
}
p.code code {
    font-size: 1.5em;
    padding: 6px;
    display: flex;
    float: left;
}
p.example code,
pre.example {
    font-size: 1.2em;
    padding: 4px;
}
pre {
    line-height: 1.3em;
}
p.code .rest-hidden {
    display: none;
}

div.token {
    border-bottom: 1px solid #ccc;
    padding: 25px 5px;
}

/* The `p.code code` selector, defined above, is a `display:flexbox`
   so that each element within gets bunched up to each other without
   any whitespace padding.
   Then to make this button appear "to the right" of this, we have to
   hack its position. */
div.token button {
    position: relative;
    top: -8px;
}

table.meta-data th {
    vertical-align: top;
}
table.meta-data th,
table.meta-data td {
    padding: 2px 6px;
    border: 0;
}
.is-expired {
    color: red;
    font-weight: bold;
    font-size: 110%;
    margin: 5px;
}
