server {
    listen 80;
    server_name crash-reports;

    # crash-reports needs to accept potentially large minidumps
    client_max_body_size 20m;

    location / {
        uwsgi_pass unix:/var/run/uwsgi/socorro/socorro-collector.sock;
        include uwsgi_params;
    }
}
