{% extends "crashstats_base.html" %}
{% block page_title %}{{ signature }} - Signature report - Mozilla Crash Reports{% endblock %}

{% block site_css %}
    {{ super() }}
    {% compress css %}
<link href="{{ static('crashstats/js/lib/select2/select2.css') }}" type="text/css" rel="stylesheet">
<link href="{{ static('crashstats/css/lib/metricsgraphics.css') }}" type="text/css" rel="stylesheet">
<link href="{{ static('crashstats/css/metricsgraphics_custom.css') }}" type="text/css" rel="stylesheet">
    {% endcompress %}

    {% compress css %}
<link href="{{ static('supersearch/css/search.less') }}" type="text/less" rel="stylesheet">
<link href="{{ static('signature/css/signature_report.less') }}" type="text/less" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>Signature report for <em>{{ signature }}</em></h2>
        <a href="{{ url('crashstats:report_list') }}?signature={{ signature | urlencode }}&amp;{{ report_list_query_string }}">
            See the equivalent Report list page
        </a>
    </div>

    <section id="search-form">
        <a href="#" class="toggle-filters show">Show</a>
        <h4>Search filters</h4>

        <form method="get" action="{{ url('signature:signature_report') }}"
            data-fields-url="{{ url('supersearch.search_fields') }}?exclude=signature"
            data-signature="{{ signature }}"
        >
            <button type="submit" id="search-button">Search</button>
            <button class="new-line">new line</button>
            <fieldset id="search-params-fieldset"></fieldset>

            <div class="clear"></div>
        </form>
    </section>

    <nav id="panels-nav">
        <ul class="tabs">
            <li><a href="#graphs" class="graphs" data-tab-name="graphs">Graphs</a></li>
            <li><a href="#reports" class="reports" data-tab-name="reports">Reports</a></li>
            <li><a href="#aggregations" class="aggregations" data-tab-name="aggregations">Aggregations</a></li>
            <li><a href="#comments" class="comments" data-tab-name="comments">Comments</a></li>
            <li><a href="#graph" class="graph" data-tab-name="graph">Graph</a></li>
        </ul>
    </nav>

    <!-- Loading panel.
        Shows a loading bar, is displayed by default when the page is
        loading initial data.
    -->
    <section class="panel tab-panel" id="loading-panel">
        <header class="title">
            <h2>Loading&hellip;</h2>
        </header>

        <div class="body">
            <div class="loader"></div>
        </div>
    </section>
</div>
{% endblock %}


{% block site_js %}
    {{ super() }}

<script>
var SOURCE_URLS = {
        'graphs': "{{ url('signature:signature_report') }}graphs/",
        'reports': "{{ url('signature:signature_reports') }}",
        'aggregations': "{{ url('signature:signature_report') }}aggregation/",
        'comments': "{{ url('signature:signature_comments') }}",
        'graph': "{{ url('signature:signature_report') }}graphdata/"
    };
var BASE_URL = location.protocol + '//' + location.host;
var FIELDS = {{ fields | json_dumps }};
var CHANNELS = {{ channels | json_dumps }}
var COLUMNS = {{ columns | join(', ') | json_dumps }};
var DEFAULT_CHANNEL = '{{ channel }}';
</script>

<script src="{{ static('crashstats/js/lib/d3.min.js') }}"></script>
<script src="{{ static('crashstats/js/lib/metricsgraphics.min.js') }}"></script>

{% compress js %}
<script src="{{ static('crashstats/js/jquery/plugins/jquery-ui.js') }}"></script>
<script src="{{ static('crashstats/js/jquery/plugins/jquery.tablesorter.js') }}"></script>
{% endcompress %}

    {% compress js %}
<script src="{{ static('crashstats/js/lib/select2/select2.js') }}"></script>
<script src="{{ static('supersearch/js/lib/dynamic_form.js') }}"></script>
<script src="{{ static('crashstats/js/socorro/utils.js') }}"></script>
    {% endcompress %}

    {% compress js %}
<script src="{{ static('signature/js/signature_report.js') }}"></script>
<script src="{{ static('signature/js/signature_tab.js') }}"></script>
<script src="{{ static('signature/js/signature_tab_graphs.js') }}"></script>
<script src="{{ static('signature/js/signature_tab_reports.js') }}"></script>
<script src="{{ static('signature/js/signature_tab_aggregations.js') }}"></script>
<script src="{{ static('signature/js/signature_tab_comments.js') }}"></script>
<script src="{{ static('signature/js/signature_tab_graph.js') }}"></script>
<script src="{{ static('signature/js/signature_panel.js') }}"></script>
    {% endcompress %}

{% endblock %}
