/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
/* Bugzilla entries found within query results */
th.bugzilla_numbers {
  width: 140px;
}
.bug_ids_expanded_list {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  margin-top: 1em;
  padding: 1em 1.5em;
  border: solid 1px var(--light-grey);
  min-width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.bug_ids_expanded_list h3 {
  margin-bottom: 0.3em;
  font-size: 100%;
}
.bug_ids_expanded_list h3 code {
  word-wrap: break-word;
}
.bug_ids_expanded_list .bug-summary {
  word-wrap: break-word;
  margin-left: 3px;
}
.sorted_bug_ids dt {
  clear: left;
}
.full_bug_ids.popup li {
  word-break: break-all;
}
.sorted_bug_ids.full dd {
  margin-left: 0px;
}
.strike {
  text-decoration: line-through !important;
}
.full_bug_ids {
  width: 100%;
}
.full_bug_ids li {
  margin: auto 0.5em 0.5em auto;
  list-style-type: none;
}
#bugzilla h2 {
  margin-top: 1em;
}
#bugzilla .bug_ids_expanded_list {
  position: inherit;
  display: block;
  margin-bottom: 0.7em;
  max-width: 100%;
}
