{% extends "crashstats_base.html" %}
{% block site_css %}
    {{ super() }}

    {% stylesheet 'topcrashers' %}
{% endblock %}

{% block site_js %}
    {{ super() }}
    {% javascript 'jquery_tablesorter' %}
    {% javascript 'bugzilla' %}
    {% javascript 'correlation' %}
    {% javascript 'topcrashers' %}
{% endblock %}

{% block page_title %}
Top Crashers for {{ product }} {{ ', '.join(query.versions) }}
{% endblock %}

{% block content %}
    <div id="mainbody"
        data-correlations-base="{{ url('crashstats:correlations_json') }}"
        data-correlations-sig-base="{{ url('crashstats:correlations_signatures_json') }}"
        data-product="{{ product }}"
        data-version="{{ version }}"
        data-loading-img="{{ static('img/loading.png') }}"
        >
        <div class="page-heading">
            <h2>
                Top Crashers for <span id="current-product">{{ product }}</span>
                <span id="current-version">{{ ', '.join(query.versions) }}</span>
            </h2>
        </div>

        <div class="panel">
        <div class="body">

            {% if total_crashing_signatures %}
            <div>
                Top {{ total_crashing_signatures }} Crashing Signatures.
                {{ query.start_date | time_tag }} through
                {{ query.end_date | time_tag }}.
                <p>The report covers <span class="percentage">{{ number_of_crashes }} ({{ total_percentage | round(2) }}%)</span> of all {{ total_number_of_crashes }} crashes during this period. </p>
            </div>
            {% endif %}

            <div class="tc-filters-block">
                <ul class="tc-filter">
                    <li class="tc-selector-heading">Report Date:</li>
                    <li>
                        <a
                            href="{{ change_query_string(_tcbs_mode=None) }}"
                            {% if query.mode == 'realtime' %} class="selected"{% endif %}
                        >Most Recent</a>
                    </li>
                    <li>
                        <a
                            href="{{ change_query_string(_tcbs_mode='byday') }}"
                            {% if query.mode == 'byday' %} class="selected"{% endif %}
                        >By Day</a>
                    </li>
                </ul>

                {% if versions_have_builds %}
                <ul class="tc-filter">
                    <li class="tc-selector-heading">Range Type:</li>
                    <li>
                        <a
                            href="{{ change_query_string(_range_type=None) }}"
                            {% if query.range_type == 'report' %} class="selected"{% endif %}
                        >By Report Date</a>
                    </li>
                    <li>
                        <a
                            href="{{ change_query_string(_range_type='build') }}"
                            {% if query.range_type == 'build' %} class="selected"{% endif %}
                        >By Build Date</a>
                    </li>
                </ul>
                {% endif %}
            </div>

            <ul class="tc-duration-type tc-filter">
                <li class="tc-selector-heading">Type:</li>
                {% for c, label in process_type_values %}
                <li>
                    <a href="{{ change_query_string(process_type=c) }}" {% if crash_type == c %} class="selected" {% endif %} >
                        {{ label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="tc-duration-days tc-filter">
                <li class="tc-selector-heading">Days:</li>
                {% for day in possible_days %}
                <li><a href="{{ change_query_string(days=day) }}" {% if days == day %} class="selected" {% endif %}>{{ day }}</a></li>
                {% endfor %}
            </ul>
            <ul class="tc-per-platform tc-filter">
                <li class="tc-selector-heading">OS:</li>
                <li><a href="{{ change_query_string(platform=None) }}" {% if not os_name %} class="selected" {% endif %}>All</a></li>
                {% for os in platform_values %}
                <li><a href="{{ change_query_string(platform=os) }}" {% if os_name == os %} class="selected" {% endif %}>{{ os }}</a></li>
                {% endfor %}
            </ul>
            <ul class="tc-result-count tc-filter">
                <li class="tc-selector-heading">Result Count:</li>
                {% for res_count in result_counts %}
                <li><a href="{{ change_query_string(_facets_size=res_count) }}" {% if result_count == res_count %} class="selected" {% endif %}>{{ res_count }}</a></li>
                {% endfor %}
            </ul>

            {% if total_crashing_signatures %}
            <table id="{% if not os_name %}signature-list{% else %}peros-tbl{% endif %}" class="data-table tablesorter">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th title="The percentage of crashes against overall crash volume" scope="col">%</th>
                        <th title="The change in percentage since the {{ query.start_date }} report" scope="col">Diff</th>
                        <th scope="col">Signature</th>
                        {% if not os_name %}
                        <th title="Crashes across platforms" scope="col">Count</th>
                        <th title="Number of crashes on Windows" scope="col">Win</th>
                        <th title="Number of crashes on Mac OS" scope="col">Mac</th>
                        <th title="Number of crashes on Linux" scope="col">Lin</th>
                        {% else %}
                        <th title="Number of crashes on {{ os_name }}" scope="col">{{ os_name }}</th>
                        {% endif %}
                        <th title="Number of distinct install times (approximation)" scope="col">Installs</th>
                        <th title="Number of crashes happening during garbage collection" scope="col">Is GC</th>
                        <th title="First appearance date of the signature" scope="col">First Appearance</th>
                        <th class="bugzilla_numbers" scope="col">Bugzilla IDs</th>
                        <th title="Does not imply Causation" scope="col">Correlation</th>
                    </tr>
                </thead>
                <tbody>
                {% for crash in tcbs %}
                    <tr>
                        <td class="rank">
                            {{ crash.rank }}
                            {% if crash.rank_diff != 'new'
                               and crash.rank_diff >= 5
                               or crash.rank_diff <= -5 %}
                            <span {% if crash.rank_diff > 1 %} class="moving-up" {% elif crash.rank_diff < -1 %} class="moving-down" {% endif %} title="Movement in rank since the {{ query.start_date }} report">{{ crash.rank_diff }}</span>
                            {% endif %}
                        </td>
                        <td>{{ crash.percent | round(2) }}%</td>
                        {% if crash.diff == 'new' %}
                        <td title="This is a new signature">new</td>
                        {% else %}
                        <td title="A change of {{ crash.diff | round(2) }}% from {{ crash.previous_percent | round(2) }}%">{{ crash.diff | round(2) }}%</td>
                        {% endif %}
                        <td class="signature-column">
                            <a class="signature"
                                href="{{ url('signature:signature_report') }}?{{ make_query_string(
                                    product=product,
                                    signature=crash.signature,
                                    version=version,
                                    date=['<' + query.end_date.isoformat(), '>=' + query.start_date.isoformat()],
                                ) }}" title="{{ crash.signature }}"
                            >
                                {{ crash.signature }}
                            </a>
                            <div class="sig-history-container hide">
                                <input type="hidden" class='ajax-signature' name="ajax-signature-1" value="{{ crash.signature }}" />
                            </div>
                            <div class="signature-icons">
                                {% if crash.startup_count > 0 %}
                                {% if crash.startup_count == crash.count %}
                                <img src="{{ static('img/3rdparty/silk/flag_red.png') }}"
                                    alt="red flag"
                                    title="Startup Crash, all crashes happened during startup"
                                    class="startup" height="16" width="16"
                                />
                                {% else %}
                                <img src="{{ static('img/3rdparty/silk/flag_yellow.png') }}"
                                    alt="yellow flag"
                                    title="Potential Startup Crash, {{ crash.startup_count }} out of {{ crash.count }} crashes happened during startup"
                                    class="startup" height="16" width="16"
                                />
                                {% endif %}
                                {% endif %}

                                {% if crash.startup_crash %}
                                <img
                                    src="{{ static('img/icons/rocket_fly.png') }}"
                                    alt="rocket"
                                    title="Potential Startup Crash, more than half of the crashes happened during the first minute after launch"
                                    class="startup" height="16" width="16"
                                />
                                {% endif %}

                                {% if crash.hang_count > 0 %}
                                <img src="{{ static('img/3rdparty/fatcow/stop16x16.png') }}" alt="stop sign" title="Hanged Crash" class="hang" height="16" width="16">
                                {% endif %}

                                {% if crash.plugin_count > 0 %}
                                <img src="{{ static('img/3rdparty/fatcow/brick16x16.png') }}" alt="brick" title="Plugin Crash" class="plugin" height="16" width="16">
                                {% else %}
                                <img src="{{ static('img/3rdparty/fatcow/application16x16.png') }}" width="16" height="16" alt="application" title="Browser Crash" class="browser" />
                                {% endif %}
                            </div>
                        </td>
                        {% if not os_name %}
                        <td>{{ crash.count }}</td>
                        <td>{{ crash.win_count }}</td>
                        <td>{{ crash.mac_count }}</td>
                        <td>{{ crash.lin_count }}</td>
                        {% elif os_name == 'Windows' %}
                        <td>{{ crash.win_count }}</td>
                        {% elif os_name == 'Linux' %}
                        <td>{{ crash.lin_count }}</td>
                        {% elif os_name == 'Mac OS X' %}
                        <td>{{ crash.mac_count }}</td>
                        {% endif %}
                        <td>{{ crash.installs_count }}</td>
                        <td>{{ crash.is_gc_count }}</td>
                        {% if crash.first_report %}
                        <td title="This crash signature first appeared at {{ crash.first_report }}" >
                            <time datetime="{{ crash.first_report }}">
                                {{ crash.first_report.date() }}
                            </time>
                        </td>
                        {% else %}
                        <td title="No known first appearance date">-</td>
                        {% endif %}
                        <td class="bug_ids_more">
                            {% for bug in crash.bugs %}
                            {{ show_bug_link(bug) }}
                            {% endfor %}
                                <div class="bug_ids_expanded_list">
                                <h3>Bugs for <code>{{ crash.signature }}</code></h3>
                                <ul class="bug_ids_expanded full_bug_ids popup">
                                    {% for bug in crash.bugs %}
                                    <li>{{ show_bug_link(bug) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td class="correlation-cell">
                            <div class="correlation-panel">
                                <div class="top"><span></span></div><a class="correlation-toggler" href="#">Show More</a>
                                <div class="complete">
                                    <h3>Based on <span class="osname">{{ crash.correlation_os }}</span> crashes</h3>
                                    <div class="correlation-module"><h3>CPU</h3><div class="core-counts"></div></div>
                                    <div class="correlation-module"><h3>Add-ons</h3><div class="interesting-addons"></div></div>
                                    <div class="correlation-module"><h3>Modules</h3><div class="interesting-modules"></div></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% elif not versions_have_builds %}
            <p class="no-results">
                Some versions do not support the by build date range option.
                <a href="{{ change_query_string(_range_type=None) }}">Range by Report Date instead?</a>
            </p>
            {% else %}
            <p class="no-results">
                No crashing signatures found for the period
                {{ query.start_date | time_tag }} to
                {{ query.end_date | time_tag }}.
            </p>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}
