*-all.css
*-all.js
*-min.css
*-min.js
*.mo
*.py[co]
*.sw[po]
*/settings/local.py
*~
.coverage
.DS_Store
.noseids
build
build.py
docs/_gh-pages
pip-log.txt
settings/local.py
settings_local.py
tmp/*

/static/
