<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Things to monitor</title>
</head>

<body>
    <ul>
        <li><a href="{{ url('monitoring:crash_analysis_health') }}">Crash Analysis health</a></li>
        <li><a href="{{ url('monitoring:crontabber_status') }}">Crontabber Status</a></li>
        <li><a href="{{ url('monitoring:healthcheck') }}">Healthcheck</a></li>
        <li><a href="{{ url('monitoring:healthcheck') }}?elb=true">Healthcheck (for ELB)</a></li>
    </ul>
</body>

</html>
