/**
 * Styles that are not a part of page layout.
 *
 * For example:
 *  Fonts
 *  Sizes
 *  Decoration
 *  Separators
 */
body * {
  font-family: verdana, arial, sans-serif;
}

h1.first {
  margin-top: 0;
  padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #eee;
  color: #400;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

/*  lists  */
.list {
  margin-top:.5em;
}
.list tr td {
  padding:.2em;
  text-align:left;
}
.list td label {
  border-bottom:1px dashed #999;
  font-weight:normal;
}
.list th {
  background: #ccf;
  border: 1px solid #000;
  font-weight: bold;
  padding: 2px;
}
.list th a {
  display: block;
  padding:. 2em 1.2em .2em .2em;
  text-align: left;
}
.list th a:hover {
  background-color: #fff;
}
.row1 {
  background-color: #eee;
}
.row2 {
  background-color: #ddd;
}
.row1:hover, .row2:hover {
  background-color: #fff;
}

.record th {
  text-align: right;
}
