{% extends "crashstats_base.html" %}

{% block page_title %}Admin{% endblock %}

{% block product_nav_filter %}&nbsp;{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>{% block admin_title %}Admin{% endblock %}</h2>

        <nav>
            <ul class="options">
                <li><a href="{{ url('manage:home') }}"
                    {% if request.path_info == url('manage:home') %}class="selected"{% endif %}>Home</a></li>
            </ul>
        </nav>
    </div>
    {% block mainbody %} {% endblock %}

</div>
{% endblock %}
