{% extends "crashstats_base.html" %}

{% block page_title %}Admin{% endblock %}

{% block product_nav_filter %}&nbsp;{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>{% block admin_title %}Admin{% endblock %}</h2>

        <nav>
            <ul class="options">
                <li><a href="{{ url('manage:home') }}"
                    {% if request.path_info == url('manage:home') %}class="selected"{% endif %}>Home</a></li>
                <li><a href="{{ url('manage:analyze_model_fetches') }}"
                    {% if url( 'manage:analyze_model_fetches') in request.path_info %}class="selected"{% endif %}>Analyze Model Fetches</a></li>
                <li><a href="{{ url('manage:graphics_devices') }}"
                    {% if url( 'manage:graphics_devices') in request.path_info %}class="selected"{% endif %}>Graphics Devices</a></li>
                <li><a href="{{ url('manage:supersearch_fields_missing') }}"
                    {% if url( 'manage:supersearch_fields_missing') in request.path_info %}class="selected"{% endif %}>Super Search Fields</a></li>
            </ul>
        </nav>
    </div>
    {% block mainbody %} {% endblock %}

</div>
{% endblock %}
