{% extends "manage/base.html" %}
{% block page_title %}{{ super() }} - {{ page_title }}{% endblock %}

{% block site_css %}
{{ super() }}
<style type="text/css">
    table.data-table th {
        width: 250px;
    }
</style>
{% endblock %}

{% block admin_title %}{{ super() }} - {{ page_title }}{% endblock %}

{% block site_js %}
{{ super() }}
{% javascript 'manage:graphics_devices' %}
{% endblock %}

{% block mainbody %}

<div class="panel">
    <div class="body">

        <h3>Edit or Add a Graphic Device</h3>
        <form class="edit" action="" method="post" data-lookup-url="{{ url('manage:graphics_devices_lookup') }}">
            {% csrf_token %}
            <table class="data-table">
                {{ form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>

        <h3>CSV Upload</h3>
        <form class="upload" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <table class="data-table">
                {{ upload_form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>Either the file format has to be that of
                        <a href="http://www.pcidatabase.com/reports.php?type=tab-delimeted">PCIDatabase.com's format</a> or that of <a href="https://pci-ids.ucw.cz/" title="See link to latest pci.ids file">The PCI ID Repository</a>.</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Upload">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

{% endblock %}
