{% extends "manage/base.html" %}

{% block page_title %}Admin{% endblock %}

{% block admin_title %}Admin Home{% endblock %}

{% block site_css %}
{{ super() }}
{% stylesheet 'manage:home' %}
{% endblock %}

{% block mainbody %}

<div class="panel">
    <div class="body">
        <h3>Data</h3>
        <ul>
            <li><a href="{{ url('manage:products') }}">
                <span class="fa fa-cubes fa-5x"></span>
                Products
            </a></li>
            <li><a href="{{ url('manage:releases') }}">
                <span class="fa fa-rocket fa-5x"></span>
                Releases
            </a></li>
            <li><a href="{{ url('manage:graphics_devices') }}">
                <span class="fa fa-desktop fa-5x"></span>
                Graphics Devices
            </a></li>
            <li><a href="{{ url('manage:symbols_uploads') }}">
                <span class="fa fa-database fa-5x"></span>
                Symbols Uploads
            </a></li>
            <li><a href="{{ url('manage:reprocessing') }}">
                <span class="fa fa-refresh fa-5x"></span>
                Reprocessing
            </a></li>
            <li><a href="{{ url('manage:supersearch_fields_missing') }}">
                <span class="fa fa-th-list fa-5x"></span>
                Super Search Fields
            </a></li>
        </ul>

        <h3>Users</h3>
        <ul>
            <li><a href="{{ url('manage:users') }}">
                <span class="fa fa-user fa-5x"></span>
                Users
            </a></li>
            <li><a href="{{ url('manage:groups') }}">
                <span class="fa fa-users fa-5x"></span>
                Groups
            </a></li>
            <li><a href="{{ url('manage:api_tokens') }}">
                <span class="fa fa-ticket fa-5x"></span>
                API Tokens
            </a></li>
        </ul>

        <h3>Tools</h3>
        <ul>
            <li><a href="{{ url('manage:events') }}">
                <span class="fa fa-calendar fa-5x"></span>
                Events
            </a></li>
            <li><a href="{{ url('manage:status_message') }}">
                <span class="fa fa-bullhorn fa-5x"></span>
                Status Message
            </a></li>
            <li><a href="{{ url('manage:crash_me_now') }}">
                <span class="fa fa-bomb fa-5x"></span>
                Crash Me Now
            </a></li>
            <li><a href="{{ url('manage:analyze_model_fetches') }}">
                <span class="fa fa-dashboard fa-5x"></span>
                Analyze Model Fetches
            </a></li>
        </ul>
    </div>
</div>

{% endblock %}
