{% extends "manage/base.html" %}

{% block page_title %}Admin{% endblock %}

{% block admin_title %}Admin Home{% endblock %}

{% block site_css %}
{{ super() }}
{% stylesheet 'manage:home' %}
{% endblock %}

{% block mainbody %}

<div class="panel">
    <div class="body">
        <h3>Data</h3>
        <ul>
            <li><a href="{{ url('manage:graphics_devices') }}">
                <span class="fa fa-desktop fa-5x"></span>
                Graphics Devices
            </a></li>
        </ul>
    </div>
</div>

{% endblock %}
