{% extends "manage/base.html" %}

{% block page_title %}{{ super() }} - Reprocessing{% endblock %}

{% block admin_title %}{{ super() }} - Reprocessing{% endblock %}

{% block mainbody %}
<div class="panel">
    <div class="body notitle">

        <h3>
            Put a Crash ID back in for reprocessing
        </h3>

        {% if crash_id %}
        <p>
            <a href="{{ url('crashstats:report_index', crash_id) }}">
                Report Index for
                <code>{{ crash_id }}</code>
            </a>
        </p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <table class="data-table">
                {{ form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Reprocess">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

{% endblock %}
