{% extends "manage/base.html" %}

{% from "macros/pagination.html" import pagination %}

{% block page_title %}{{ super() }} - Status Message{% endblock %}
{% block admin_title %}{{ super() }} - Status Message{% endblock %}

{% block mainbody %}
<div class="panel">
    <div class="body notitle">

        <h3>Current Active Status Messages</h3>

        {{ pagination(pagination_data, pagination_data.current_url, pagination_data.page) }}
        <table class="data-table vertical">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Severity</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                <tr>
                    <td {% if not status.enabled %}class="strike" title="Disabled"{% endif %}>{{ status.message }}</td>
                    <td>{{ status.severity }}</td>
                    <td>
                        {% if status.enabled %}
                        <a href="{{ url('manage:status_message_disable') }}?id={{ status.id }}">Disable</a>
                        {% else %}
                        disabled
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ pagination(pagination_data, pagination_data.current_url, pagination_data.page) }}

        <h3>Create new Status Message</h3>

        <form action="{{ url('manage:status_message') }}" id="create" method="post">
            {% csrf_token %}
            <table class="data-table">
                {{ form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

{% endblock %}
