{% extends "manage/base.html" %}

{% block page_title %}{{ super() }} - User {{ edit_user.email }}{% endblock %}

{% block admin_title %}{{ super() }} - User {{ edit_user.email }}{% endblock %}

{% block mainbody %}

<div class="panel">
    <div class="body">

        <form class="edit" action="" method="post">
            {% csrf_token %}
            <table class="data-table">
                <tr>
                    <th>
                        <label>Email:</label>
                    </th>
                    <td>
                        <code class="email">{{ edit_user.email }}</code>
                    </td>
                </tr>
                {{ form }}
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

{% endblock %}
