[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
mozlog = "*"
PyPOM = "*"
pytest = "*"
pytest-base-url = "*"
pytest-html = "*"
pytest-metadata = "*"
pytest-selenium = "*"
pytest-variables = "*"
pytest-xdist = "*"
selenium = "*"
requests = "*"
future = "*"
