import socorro.lib.ConfigurationManager as cm
import datetime

databaseDSN = cm.Option()
databaseDSN.doc = 'the string used to connect to the database'
databaseDSN.default = 'host=hostname dbname=databasename user=username password=password'

debug = cm.Option()
debug.doc = 'do debug output and routines'
debug.default = False
debug.singleCharacter = 'D'
debug.fromStringConverter = cm.booleanConverter

initMode = cm.Option()
initMode.doc = 'Use this the first time you run the script.'
initMode.default = False
initMode.singleCharacter = 'I'
initMode.fromStringConverter = cm.booleanConverter

processingInterval = cm.Option()
processingInterval.doc = 'interval of how often to process reports in seconds'
processingInterval.default = 43200

timezoneUTCOffset = cm.Option()
timezoneUTCOffset = 'timezone offset from UTC'
timezoneUTCOffset = -7

logFilePathname = cm.Option()
logFilePathname.doc = 'full pathname for the log file'
logFilePathname.default = './topcrashes.log'

logFileMaximumSize = cm.Option()
logFileMaximumSize.doc = 'maximum size in bytes of the log file'
logFileMaximumSize.default = 1000000

logFileMaximumBackupHistory = cm.Option()
logFileMaximumBackupHistory.doc = 'maximum number of log files to keep'
logFileMaximumBackupHistory.default = 50

logFileLineFormatString = cm.Option()
logFileLineFormatString.doc = 'python logging system format for log file entries'
logFileLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

logFileErrorLoggingLevel = cm.Option()
logFileErrorLoggingLevel.doc = 'logging level for the log file (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
logFileErrorLoggingLevel.default = 10

stderrLineFormatString = cm.Option()
stderrLineFormatString.doc = 'python logging system format for logging to stderr'
stderrLineFormatString.default = '%(asctime)s %(levelname)s - %(message)s'

stderrErrorLoggingLevel = cm.Option()
stderrErrorLoggingLevel.doc = 'logging level for the logging to stderr (10 - DEBUG, 20 - INFO, 30 - WARNING, 40 - ERROR, 50 - CRITICAL)'
stderrErrorLoggingLevel.default = 40


