{% extends "error.html" %}

{% block page_title %}Internal Server Error{% endblock %}

{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>Internal Server Error</h2>
  </div>
  <div class="panel">
    <div class="title">
      <h2>Something went wrong, it is not you it's me.</h2>
    </div>

    <div class="body">
      <p>
        Please file an <a class="bugzilla-link" href="https://bugzilla.mozilla.org/enter_bug.cgi?{{ make_query_string(product='Socorro', component='Webapp') }}">issue in Bugzilla</a>
        describing what happened, and please include the URL for this page.
      </p>
    </div>
  </div>
</div>
{% endblock %}
