{% from "macros/pagination.html" import pagination %}
<!DOCTYPE html>
<html lang="en-US" class="production">
  <head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}Crash Data for {{ product.name }}{% endblock %}</title>

    {% block summary_tags %}
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Mozilla Crash Stats">

      {% block summary_page_tags %}
        <meta property="og:title" content="Mozilla Crash Stats">
        <meta property="og:description" content="Mozilla Crash Stats site for viewing and searching crash reports.">
        <meta name="description" content="Mozilla Crash Stats site for viewing and searching crash reports.">
      {% endblock %}
    {% endblock %}

    {% block site_css %}
      <link rel="stylesheet" href="/static/crashstats/css/crashstats-base.min.css" />
    {% endblock %}
  </head>

  <body>
    <div class="page-header">
      <a class="title" href="/"><span>Mozilla Crash Stats</span></a>

      <form id="simple_search" method="get" action="{{ url('crashstats:quick_search') }}" data-no-csrf>
        <label for="q" class="visually-hidden">Search</label>
        <input type="text" id="q" name="query" placeholder="Find Crash ID or Signature">
        <input type="submit" class="hidden">
      </form>

      <div class="user-info">
        {% if request.user and request.user.is_active %}
          <button class="user-info-button">
            <span class="user-email">{{ request.user.email }}</span>
            <img class="menu-icon" src="{{ static('img/menu.svg') }}" >
          </button>
          <ul class="user-info-menu">
            <li>
              <a href="{{ url('profile:profile') }}" title="You are logged in as {{ request.user.email }}">Your Profile</a>
            </li>
            <li>
              <a href="{{ url('tokens:home') }}">API Tokens</a>
            </li>
            {% if request.user.is_staff %}
              <li>
                <a href="{{ url('admin:index') }}">Admin</a>
              </li>
            {% endif %}
            <li>
              <form class="logout-form" action="{{ url('oidc_logout') }}" method="POST">
                {% csrf_token %}
                <button class="logout-button" type="submit">Log out</button>
              </form>
            </li>
          </ul>
        {% else %}
          <a class="signup-link" href="{{ url("documentation:home") }}">Sign up</a>
          |
          <a class="login-link" href="{{ url('oidc_authentication_init') }}?{{ make_query_string(next=request.get_full_path()) }}">Log in</a>
        {% endif %}
      </div>
    </div>

    <h1>Product Navigation</h1>

    <div class="version-nav">
      {% block product_nav_filter %}
        <input type="hidden" id="url_base" name="url_base" value="/products/{{ product.name }}" />
        <input type="hidden" id="url_site" name="url_site" value="/" />

        <span class="quick-nav-title">Quick Navigation</span>
        <ul class="filter">
          <li>
            <label for="products_select" class="visually-hidden">Select Product</label>
            <select id="products_select">
              {% for p in products %}
                <option value="{{ p.name }}" {% if p.name == product.name %}selected{% endif %}>{{ p.name }}</option>
              {% endfor %}
            </select>
          </li>
          <li class="version_select">
            <label for="product_version_select" class="visually-hidden">Select Version:</label>
            <select id="product_version_select" >
              <optgroup label="Featured">
                <option value="Current Versions">Current Versions</option>
                {% set pvs = filter_featured_versions(active_versions[product.name]) %}
                {% if pvs %}
                  {% for pv in pvs %}
                    <option value="{{ pv.version }}" {% if pv.version == version %}selected{% endif %}>{{ pv.version }}</option>
                  {% endfor %}
                {% endif %}
              </optgroup>

              {% set pvs = filter_not_featured_versions(active_versions[product.name]) %}
              {% if pvs %}
                <optgroup label="All versions">
                  {% for pv in pvs %}
                    <option value="{{ pv.version }}" {% if pv.version == version %}selected{% endif %}>{{ pv.version }}</option>
                  {% endfor %}
                </optgroup>
              {% endif %}
            </select>
          </li>
          <li>
            <label for="report_select" class="visually-hidden">Report:</label>
            <select id="report_select">
              <option value="products"
                      data-url-product="{{ url('crashstats:product_home', '__PRODUCT__') }}"
                      data-url-version="{{ url('crashstats:product_home', '__PRODUCT__') }}?version=__VERSION__"
                      {% if report == 'products' %}selected{% endif %}
                      >Overview</option>
              <option value="topcrasher"
                      data-url-product="{{ url('topcrashers:topcrashers') }}?product=__PRODUCT__"
                      data-url-version="{{ url('topcrashers:topcrashers') }}?product=__PRODUCT__&amp;version=__VERSION__"
                      {% if report == 'topcrasher' %}selected{% endif %}
                      >Top Crashers</option>
            </select>
          </li>
        </ul>
      {% endblock %}

      <div class="nav-links">
        <a href="{{ url('documentation:home') }}">Help</a>
        |
        <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Socorro">File a bug</a>
        |
        <a href="{{ url('supersearch:search') }}?product={% if product %}{{ product.name }}{% endif %}{% if version and version != 'ALL' %}&amp;version={{ version }}{% endif %}&amp;_dont_run=1">Super Search</a>
      </div>
    </div>

    {% for status in status_messages %}
      <div class="status-message severity-{{ status.severity }}">
        {{ status.message | escape | replace_bugzilla_links }}
        <small>({{ status.created_at | time_tag }})</small>
      </div>
    {% endfor %}

    {% if messages %}
      {% for message in messages %}
        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

    <div id="footer" class="page-footer">
      {% include "footer_nav.html" %}

      <br class="clear" />
    </div>

    {% block site_js %}
      {% javascript 'crashstats_base' %}
    {% endblock %}
  </body>
</html>
