<!DOCTYPE html>
<html lang="en-US" class="production">
  <head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}Error{% endblock %}</title>
    <link rel="stylesheet" href="/static/crashstats/css/crashstats-base.min.css" />
  </head>
  <body>
    <div class="page-header">
      <a class="title" href="/"><span>Mozilla Crash Stats</span></a>
    </div>
    {% block content %}{% endblock %}
    <div id="footer" class="page-footer">
      {% include "footer_nav.html" %}
    </div>
    {% block site_js %}
    {% javascript 'error' %}
    {% endblock %}
  </body>
</html>
