/* apply a natural box layout model to all elements */
.box-sizing (@model: border-box) {
    -moz-box-sizing: @model;
    -webkit-box-sizing: @model;
    box-sizing: @model;
}
.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.rounded-corners (@top-left, @top-right, @bottom-right: 0, @bottom-left: 0) {
    -webkit-border-radius: @arguments;
    -moz-border-radius: @arguments;
    border-radius: @arguments;
}
.shadow (@x, @y, @blur, @spread, @color) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}
/* apply a natural box layout model to elements */
.border-sizing(@model) {
    -webkit-box-sizing: @model;
    -moz-box-sizing: @model;
    box-sizing: @model;
}
.transition(@prop, @duration: 1s) {
    -webkit-transition: @prop @duration;
    -moz-transition: @prop @duration;
    transition: @prop @duration;
}
.rotate(@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    transform: rotate(@deg);
}
.transformOrigin(@top, @left) {
    -webkit-transform-origin: @top @left;
    -moz-transform-origin: @top @left;
    transform-origin: @top @left;
}
.button() {
    background-color: rgb(46, 93, 116);
    color: #fff;
    padding: .5em .5em;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    .rounded-corners(.5em);
}
.notification {
    background-color: #fff;
    margin: 1rem;
    padding: .5rem;
    .rounded-corners(6px);
}
/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.accessibly-hidden() {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
// Gradients
#gradient {
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); /* Konqueror */
    background-image: -moz-linear-gradient(@startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(@startColor, @endColor); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(@startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(@startColor, @endColor); /* Opera 11.10 */
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor); /* IE8+ */
    background-image: linear-gradient(@startColor, @endColor); /* the standard */
  }
}