@import "mixins.less";

@font-face {
    font-family: 'icons';
    src: url('/static/crashstats/fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('/static/crashstats/fonts/icons.woff?2013') format('woff'),
         url('/static/crashstats/fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    position: relative;
    margin: 1rem 2rem;
    /* current footer stick solution in screen.css */
    min-height: 44rem;
}
header {
    margin: 30px 20px 0;
}
.bug-signatures {
    background-color: white;
    margin: 1% 2% 0;
    padding: .7rem;
    border: 1px solid #999;
    .rounded-corners(6px);
    label {
        font-size: 1.2rem;
    }
    input[type="text"] {
        margin: 0 1%;
        padding: .5rem;
        width: 81%;
    }
}
table.tcr-signature {
    margin: 1.5% 2% 0;
    width: 96%;
    a {
        font-size: 1.1rem;
    }
    [data-icon]:before {
        margin-right: .3rem;
        font-family: icons;
        font-size: 2.2rem;
        content: attr(data-icon);
        line-height: .5;
        speak: none;
    }
    .toggle-sig-details {
        float: right;
        display: inline-block;
        padding-bottom: 6px;
        width: 25px;
        text-decoration: none;
    }
    .expander-icon {
        display: inline-block;
        -webkit-transform-origin: 50% 50%;
        .transformOrigin(50%, 50%);
        .rotate(90deg);
        .transition(all, .1s);
    }
    .expanded {
        .rotate(0deg);
    }
}
