@import "@{root-path}/base/variables.less";

html {
    background: @off-white;
    color: @dark-grey;
    font-family: @base-font;
    font-size: @base-font-size;
    line-height: @base-line-height;
    margin: 0;
    padding: 0;

    &.production {
        margin: 0;
        body > h1 {
            display: none;
        }
        .page-heading {
            margin: 4em 2em 2em;
            display: flex;
            align-items: center;

            h2 {
                flex-grow: 1;
                margin: 0;
            }
        }
        .panel {
            margin: 20px;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-header {
    position: relative;
    min-height: 64px;
    height: 64px;
    background-color: @primary-dark;
    a {
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: 1em;

        &,
        &:link {
            text-decoration: none;
        }
    }

    .title {
        border: none;
        color: @white;
        display: block;
        text-decoration: none;
        font-size: 2em;
        font-weight: 200;
        letter-spacing: 0.03em;
    }

    form {
        label {
            color: @white;
        }
        input {
            position: absolute;
            background: @white url("@{image-path}/2.0/search.png") no-repeat 5px center;
            border: none;
            right: 1rem;
            top: 20px;
            width: 212px;
            padding: 3px 4px 4px 28px;
            font-size: 12px;
            color: @dark-grey;
            .rounded-corners(2px);
        }
        input:-moz-placeholder {
            color: @light-grey;
        }
    }
}

.page-heading {
    h2 {
        display: inline;
        font-size: 21px;
    }
    p.old-new-report-link {
        float: right;
    }
}

.threecol {
    overflow: auto;
    .col {
        float: left;
        width: 33%;
        border-left: 1px dotted @light-grey;
        .col-inner {
            padding: 0 20px;
        }
        h3 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
    .col:first-child {
        border-left: 0;
        .col-inner {
            padding-left: 10px;
        }
    }
}

#product-cards {
    list-style: none;
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 940px;

    > li {
        background: #ccc;
        background: linear-gradient(to bottom, #ddd, #bbb);
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: inline-block;
        margin: 0 8px 20px;
        min-height: 156px;
        padding: 30px 1px 1px 1px;
        position: relative;
        width: 290px;
        word-wrap: break-word;
        z-index: 1;

        text-align: center;

        &:before {
            background: #fff;
            border-radius: 5px;
            bottom: 1px;
            content: '';
            left: 1px;
            position: absolute;
            right: 1px;
            top: 1px;
            z-index: -1;
        }

        > a {
            display: block;
            padding: 20px;
            text-decoration: none;
        }
    }

    a,
    a:visited {
        color: @base-link-color;
        display: block;
    }

    .productname {
        font-size: 22px;
    }

    /* Clearfix */
    .cf {
        &:before,
        &:after {
            display: table;
            content: "";
            // Fixes Opera/contenteditable bug:
            // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
            line-height: 0;
        }
        &:after {
            clear: both;
        }
    }
}
