
table {
    thead,
    tbody {
        tr {
            z-index: 50;
            th,
            td {
                border: solid 1px @grey;
            }
        }
    }
    th {
        font-weight: bold;
        padding: 0 .25em;
        a.expand {
            display: inline;
            font-size: smaller;
        }
    }

    /* standard table styles for data tables */
    &.data-table,
    &.zebra {
        width: 100%;
        tr {
            &:nth-child(even) {
                background-color: @grey-90-a10;
            }
            &:nth-child(odd) {
                background-color: @grey-90-a025;
            }
            &:hover {
                background-color: @light-grey;
            }
        }
    }
    th {
        background-color: @dark-tan;
    }
    th,
    td {
        padding: .5em;
    }
    tbody {
        background-color: @white;
        tr {
            &.truncated-frame {
                background-color: @jsonview-prop;
                a {
                    color: @dark-grey;
                }
            }
            &.missingsymbols {
                &,
                &:hover,
                & td {
                    background-color: @red;
                    color: @white;
                    border-top: 2px solid @white;
                }
            }
        }
    }

    &.vertical {
        th {
            border: 1px solid @black;
            font-weight: bold;
        }
    }

    &.hardwrapped {
        td {
            overflow-wrap: anywhere;
        }
    }

}

.tablesorter {
    margin: 0 !important;
    thead {
        font-size: .9rem;
    }
}
