div.page-section {
    display: inline-block;
    vertical-align: top;
    width: 46%;
}
.page-section + .page-section {
    float: right;
}

.panel .links li {
    display: inline-block;
    font-size: 1.1em;
    margin: 10px;
}

ul.links.left {
    float: left;
}

ul.links.right {
    float: right;
}
