{% extends "crashstats_base.html" %}
{% block site_css %}
    {{ super() }}
    {% stylesheet 'jquery_ui' %}
    {% stylesheet 'metricsgraphics' %}
    {% stylesheet 'crashes_per_day' %}
{% endblock %}

{% block page_title %}
Crashes per Day for {{ product }}
{% endblock %}

{% block content %}
<div id="mainbody">

<div class="page-heading">
    <h2>Crashes per Day for {{ product }}</h2>
</div>

{% if errors %}
<div class="message error">
    <p>
        <b>Warning:</b>
        Our database is experiencing troubles, the data you see might
        be wrong. The team has been notified of the issue.
    </p>

    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="panel daily_search">
    <div class="title daily_search_title">
        <h2>Options</h2>
    </div>

    <div class="body daily_search_body">
        <div class="daily_search_version">
            <form name="daily_search_version_form" action="">
                <p>
                  All ADI ratios are generated per 100 ADIs, not per single ADI.
                  "3.5 crashes/ADI" means that there are 3.5 crashes per 100
                  installations, not per installation. This ratio also does
                  not distinguish between installs who crash multiple times
                  and multiple crashing installs.
                </p>

                <table class="by_version">
                    <tr>
                        <th>Product</th>
                        <td>
                            <label class="visually-hidden" for="daily_search_version_form_products">Select Product</label>
                            <select id="daily_search_version_form_products" name="p">
                            {% for product_name in products %}
                                <option value="{{ product_name }}" {% if product == product_name %}selected{% endif %}>{{ product_name }}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>

                    {% for i in range(4)|reverse %}
                    <tr>
                        {% if loop.first %}
                        <th rowspan="4">Versions</th>
                        {% endif %}

                        <td>
                          <label class="visually-hidden" for="version{{ i }}">Select Version</label>
                            <select id="version{{ i }}" name="v">
                                {% for version in available_versions %}
                                    <option value="{{ version }}" {% if version == versions[i] %} selected {% endif %}>{{ version }}</option>
                                {% endfor  %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <th>Type</th>
                        <td>
                          <fieldset>
                            <legend class="visually-hidden">Hang Types</legend>
                            <span class="radio-item">
                              <label for="hang_type_any">
                                <input type="radio" id="hang_type_any" name="hang_type" value="any" {% if hang_type == 'any' %} checked="checked" {% endif %} /> Any
                              </label>
                            </span>

                            <span class="radio-item">
                              <label for="hang_type_crash">
                                <input type="radio" id="hang_type_crash" name="hang_type" value="crash" {% if hang_type == 'crash' %} checked="checked" {% endif %} /> Crash
                              </label>
                            </span>

                            <span class="radio-item">
                              <label for="hang_type_hang-p">
                                <input type="radio" id="hang_type_hang-p" name="hang_type" value="hang-p" {% if hang_type == 'hang-p' %} checked="checked" {% endif %} /> Plugin Hang
                              </label>
                            </span>
                          </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <th>OS</th>
                        <td>
                          <fieldset>
                            <legend class="visually-hidden">Operating Systems</legend>
                            <label for="os_Windows_check">
                              <input id="os_Windows_check" type="checkbox" name="os" value="Windows" {% if 'Windows' in platforms %}checked="checked"{% endif %}/> Windows
                            </label>

                            <label for="os_Mac_check">
                              <input id="os_Mac_check" type="checkbox" name="os" value="Mac OS X" {% if 'Mac OS X' in platforms %}checked="checked"{% endif %}/> Mac OS X
                            </label>

                            <label for="os_Linux_check">
                              <input id="os_Linux_check" type="checkbox" name="os" value="Linux" {% if 'Linux' in platforms %}checked="checked"{% endif %}/> Linux
                            </label>
                          </fieldset>
                        </td>
                    </tr>

                    {#

                      This is deliberately commented out because the numbers
                      we get are so different from the numbers you get in the
                      old legacy PG-based "Crashes per ADI" (aka. daily report)

                    <tr>
                        <th>Date Range</th>
                        <td>
                          <fieldset>
                              <legend class="visually-hidden">Date Range Type</legend>
                              <span class="radio-item">
                                  <label for="by_build">
                                      <input type="radio" name="date_range_type" id="by_build" value="build" {% if date_range_type == 'build' %} checked="checked" {% endif %}/> Build Date
                                  </label>
                              </span>
                              <span class="radio-item">
                                  <label for="crash">
                                      <input type="radio" name="date_range_type" id="crash" value="report" {% if date_range_type == 'report' %} checked="checked" {% endif %}/> Crash Date
                                  </label>
                              </span>
                            </fieldset>
                          </td>
                    </tr>
                    #}

                    <tr class="datepicker-daily">
                        <th>Date</th>
                        <td>
                          <label class="visually-hidden" for="when_date_start">Start Date</label>
                          <input class="date" id="when_date_start" type="text" name="date_start" value="{{ start_date }}" />
                          &nbsp; to &nbsp;
                          <label class="visually-hidden" for="when_date_end">End Date</label>
                          <input class="date" id="when_date_end" type="text" name="date_end" value="{{ end_date }}" />
                        </td>
                    </tr>
                </table>

                <input id="daily_search_version_form_submit" type="submit" name="submit" value="Generate">
            </form>
        </div>
    </div>
</div>

    <div class="panel daily_graph">
        <div class="title">
            <h2>Crashes per 100 ADIs</h2>
        </div>

        <div class="body">
                <div id="crashes-per-adi-graph"></div>
                <div id="crashes-per-adi-legend" class="crashes-per-adi-legend"></div>
            <p class="adu-chart-help">This graph uses an approximate <a href="https://wiki.mozilla.org/Socorro/SocorroUI/Branches_Admin#Throttle">throttle value</a> for each version, which may not be completely accurate for the entire time period.</p>
            </div>
    </div>


    <br class="clear" />

    <div class="panel daily_">
        <div class="title">
            <h2>Crashes per ADI</h2>
            <div class="choices">
                <ul>
                    <li><a href="{{ change_query_string(format='csv') }}">csv</a></li>
                </ul>
            </div>
        </div>

        <div class="body">
          {% if data_table.dates %}
            <table class="data-table crash_data zebra"
               data-throttle-title="The throttle rate is the effective throttle rate - the combined throttle rate for client-side throttling and server-side throttling.">
                <tr>
                    <th class="date" rowspan="2">Date</th>
                  {% for version in versions %}
                    <th class="version" colspan="4">{{ version }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  {% for version in versions %}
                    <th class="stat">Crashes</th>
                    <th class="stat">ADI</th>
                    <th class="stat throttle">Throttle</th>
                    <th class="stat">Ratio</th>
                  {% endfor %}
                </tr>
                {% for crash_date in dates %}
                <tr>
                  <td>{{ crash_date }}</td>
                    {% if crash_date in data_table.dates %}
                      {% for version in versions %}
                        {% set foundversion = [] %}
                        {% for crash_info in data_table.dates[crash_date] %}
                          {% if crash_info.version == version %}
                      <td>{{ crash_info.report_count | digitgroupseparator }}</td>
                      <td>{{ crash_info.adi | digitgroupseparator }}</td>
                      <td class="throttle"
                      >{% if crash_info.throttle %}{{ crash_info.throttle * 100 }}%{% else %}-{% endif %}</td>
                      <td>{{ '%.3f' % crash_info.ratio }}</td>
                            {% do foundversion.append(1) %}
                          {% endif %}
                        {% endfor %}
                        {% if not foundversion %}
                      <td>-</td>
                      <td>-</td>
                      <td class="throttle">-</td>
                      <td>-</td>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {% for version in versions %}
                      <td>-</td>
                      <td>-</td>
                      <td class="throttle">-</td>
                      <td>-</td>
                      {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
          {% else %}
          <p>
            No data is available for this query.
          </p>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block site_js %}
    {{ super() }}

    {% javascript 'd3' %}
    {% javascript 'jquery_ui' %}
    {% javascript 'metricsgraphics' %}
    {% javascript 'crashes_per_day' %}
    <script>
    var DATA = {{ graph_data | json_dumps }};
    window.socGraphByReportType = false;
    </script>
{% endblock %}
