{% extends "crashstats_base.html" %}

{% block page_title %}Crontabber State{% endblock %}


{% block site_css %}
  {{ super() }}
  {% stylesheet 'jquery_ui' %}
  {% stylesheet 'crontabber_state' %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {% javascript 'd3' %}
  {% javascript 'jquery_tablesorter' %}
  {% javascript 'crontabber_state' %}
{% endblock %}


{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>Crontabber State</h2>
    </div>

    <div class="panel">
        <div id="crontabber-chart" class="body">
        </div>
    </div>

    <div class="panel ongoing">
        <div class="title">
            Ongoing jobs right now
        </div>
        <div id="ongoing-table" class="body">
        </div>
    </div>

    <div class="panel">
        <div class="title">
            Job Specifics
        </div>
        <div id="crontabber-table" class="body">
        </div>
    </div>

    <div class="panel failing">
        <div class="title">
            Failing Jobs
        </div>
        <div id="failing" class="body">
        </div>
    </div>

</div>
{% endblock %}
