{% extends "crashstats_base.html" %}

{% block page_title %}
  Crash Stats Homepage
{% endblock %}

{% block content %}
  <div id="mainbody">
    <div class="panel product-grid">
      {% for product in products %}
        <div class="product">
          <div class="product-name"><a href="{{ url('crashstats:product_home', product=product.name) }}">{{ product.name }}</a></div>
          {% if product.description %}
          <div class="product-description">{{ product.description }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="tip">
      Want to see your Mozilla product here?
      <a href="https://socorro.readthedocs.io/en/latest/products.html">See our product documentation.</a>
    </div>
  </div>
{% endblock %}
