{% extends "crashstats_base.html" %}

{% block site_css %}
    {{ super() }}
    {% stylesheet 'metricsgraphics' %}
{% endblock %}

{% block page_title %}
Crash Data for {{ product }} {% if version %}{{ version }}{% endif %}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2 id="homepage-heading">{{ product }} {% if version %}{{ version }}{% endif %} Crash Data</h2>

        <nav>
            <ul id="duration" class="options">
            {% for day in possible_days %}
                <li><a href="{{ change_query_string(days=day) }}" {% if days == day %} class="selected" {% endif %}>{{ day }} days</a></li>
            {% endfor %}
            </ul>
        </nav>

        {% if has_builds %}
        <nav>
            <ul id="date-range-type" class="options">
                <li>Date Range:</li>
                <li><a href="{{ change_query_string(date_range_type='report') }}"{% if default_date_range_type == 'report' %} class="selected"{% endif %}>By Crash Date</a></li>
                <li><a href="{{ change_query_string(date_range_type='build') }}"{% if default_date_range_type == 'build' %} class="selected"{% endif %}>By Build Date</a></li>
            </ul>
        </nav>
        {% endif %}
    </div>

    <div id="homepage-graph" class="panel">
        <div class="title">
            <h2>Crashes per 100 Active Daily Installs</h2>
        </div>

        <div class="body">
            <div id="homepage-graph-graph" data-frontpage-json-url="{{ url('crashstats:frontpage_json') }}"></div>
            <div id="homepage-graph-legend" class="homepage-graph-legend"></div>
        </div>
    </div>


    <div class="panel">
        <div class="title">
            <h2>Crash Reports</h2>
        </div>

        <div class="body">
            <div id="release_channels">
                {% for version in versions %}
                <div class='release_channel'>
                    <h4>{{product}} {{version}}</h4>
                    <ul>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?product={{ product }}&amp;version={{ version }}&amp;days={{days}}">
                                Top Crashers
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('topcrashers:topcrashers') }}?product={{ product }}&amp;version={{ version }}&amp;process_type=plugin&amp;days={{days}}">
                                Top Plugin Crashers
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            <br class="clear" />
        </div>
    </div>
    <br class="clear" />
</div>

{% endblock %}
{% block site_js %}
    {{ super() }}
    {% javascript 'd3' %}
    {% javascript 'metricsgraphics' %}
    {% javascript 'daily' %}
    {% javascript 'socorro_utils' %}
    {% javascript 'home' %}
{% endblock %}
