{% extends "crashstats_base.html" %}

{% block page_title %}
  Crash Stats Homepage
{% endblock %}

{% block content %}
  <div id="mainbody">
    <div class="panel product-grid">
      {% for product_name in products %}
        <a class="product" href="{{ url('crashstats:product_home', product=product_name) }}">{{ product_name }}</a>
      {% endfor %}
    </div>
    <div class="tip">
      Want to see your Mozilla product here?
      <a href="https://socorro.readthedocs.io/en/latest/products.html">See our product documentation.</a>
    </div>
  </div>
{% endblock %}
