{% extends "crashstats_base.html" %}

{% block site_css %}
{{ super() }}
{% stylesheet 'product_home' %}
{% endblock %}

{% block page_title %}
  Crash Data for {{ product.name }}
{% endblock %}

{% block content %}
  <div id="mainbody">
    <div class="page-heading">
      <h2 id="homepage-heading">{{ product.name }} Crash Data</h2>
    </div>

    <div class="panel">
      <div class="title">
        <h2>Crash Reports</h2>
      </div>

      <div class="body">
        <div id="release_channels">
          {% if versions %}
            {% for version in versions %}
              <div class="release_channel">
                <h4>{{ product.name }} {{ version }}</h4>
                <ul>
                  <li>
                    <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(product=product.name, version=version) }}">Top Crashers</a>
                  </li>
                  <li>
                    <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(product=product.name, version=version, process_type='plugin') }}">Top Plugin Crashers</a>
                  </li>
                  <li>
                    <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(product=product.name, version=version, process_type='content') }}">Top Content Crashers</a>
                  </li>
                  <li>
                    <a href="{{ url('topcrashers:topcrashers') }}?{{ make_query_string(product=product.name, version=version, process_type='gpu') }}">Top GPU Crashers</a>
                  </li>
                </ul>
              </div>
            {% endfor %}
          {% else %}
            <div class="release_channel">
              No version information available.
            </div>
          {% endif %}
        </div>
        <br class="clear" />
      </div>

      {% if product.product_home_links %}
        <div class="title">
          <h2>Other links</h2>
        </div>
        <div class="body">
          <div id="release_channels">
            <div class="release_channel">
              <ul>
                {% for text, link in product.product_home_links %}
                  <li><a href="{{ link }}">{{ text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <br class="clear" />
        </div>
      {% endif %}
    </div>
    <div class="tip">
      Are the featured versions wrong?
      <a href="https://github.com/mozilla-services/socorro/tree/main/product_details">Read the product_details README</a>.
    </div>
    <br class="clear" />
  </div>
{% endblock %}
