{% extends "crashstats_base.html" %}

{% block page_title %}
Crash Reports in {{ signature }}
{% endblock %}

{% block content %}
<div id="mainbody">
    <div class="panel">
        <header class="title">
            <h2><img src="{{ static('img/3rdparty/silk/error.png') }}"> Deprecation notice</h2>
        </header>

        <div class="body">
            <p>
                Dear user, this page is deprecated and will be removed soon.
                We encourage you to start using
                <strong><a href="{{ url('signature:signature_report') }}?{{ super_search_query_string }}">Signature report</a></strong> instead.
                For more information, please read
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1274288">bug 1274288</a>.
            </p>
        </div>
    </div>

    <div class="page-heading">
        <p class="old-new-report-link">
            <a href="{{ url('signature:signature_report') }}?{{ super_search_query_string }}">
                See the equivalent <i>Signature report</i> page
            </a>
        </p>

        <h2>Crash Reports for {{ signature }}</h2>

        <nav>
            <ul class="options">
              {% for day in [3, 7, 14, 28] %}
              <li>
                <a href="{{ change_query_string(range_value=day, range_unit='days') }}" {% if day == current_day %} class="selected" {% endif %}>{{ day }} days</a>
              </li>
              {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="panel">
        <div class="body">
            <p>
                Results within {{ current_day }} days of {{ end_date }}{% if selected_products %}, and the product is {{ product }} {% if product_versions %} and
                the version is one of {{ product_versions|join(', ') }}{% endif %}{% endif %} and the crashing process was of any
                type (including unofficial release channels).
            </p>
            {% block report %}
            {% endblock %}
       </div>
    </div>
<!-- end content -->
</div>
{% endblock %}
