{% if selected_products or product_versions %}

<p>
    The signature summary report is for
    {% if selected_products %} {{ product }} {% if product_versions %}
    with the version being one of <b>{{ product_versions|join(', ') }}</b>{% endif %}{% endif %}.

    <a href="{{ url('crashstats:report_list') }}?signature={{ signature | urlencode }}&amp;range_value={{ current_day }}&amp;range_unit=days&amp;date={{ end_date }}">View ALL products and versions for this signature.</a>

</p>
{% endif %}

<div class="signature-summary"></div>
