{% extends "crashstats_base.html" %}

{% block page_title %}Sign up{% endblock %}

{% block content %}
  <div id="mainbody">
    <div class="page-heading">
      <h2>Signing up for an account on Crash Stats</h2>
    </div>

    <div class="panel">
      <div class="body">
        <div class="title"><h2>Accounts on Crash Stats<h2></div>
        <p>
          Sign up if you require one of the following:
        </p>
        <ul class="list-inside list-disc">
          <li>
            <b>Protected data access.</b> See
            <a href="{{ url('documentation:protected_data_access') }}">protected data access documentation</a>
            for details
          </li>
          <li>
            <b>API tokens.</b>
          </li>
        </ul>
        <p>
          If you don't need one of those things, then signing up doesn't help you.
        </p>

        <div class="title"><h2>Creating an account</h2></div>
        <p>
          Crash Stats accounts are created the first time you log in. You can log in using
          the "Log in" link in the upper right hand corner.
        </p>
        <p>
          If you are a Mozilla Corporation employee, please log in using your LDAP account.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
