{% extends "crashstats_base.html" %}

{% block page_title %}
Page Not Found
{% endblock %}

{% block product_nav_filter %}&nbsp;{% endblock %}

{% block content %}
<div id="mainbody">
  <div class="page-heading">
    <h2>Page not Found</h2>
  </div>
  <div class="panel">
    <div class="body notitle">
      <p>The requested page could not be found.</p>
      <p>If you followed a dead link on the website, please file an <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Socorro&component=General&bug_file_loc=http%3A%2F%2Fcrash-stats-dev.allizom.org%2Fasdf">issue in Bugzilla</a> describing what happened, and please include the URL for this page.</p>
    </div>
  </div>
</div>

{% endblock %}
