<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="production">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

        {% block site_css %}
            {% compress css %}
            <link href="{{ static('crashstats/css/base.less') }}" type="text/less" rel="stylesheet">
	    <link href="{{ static('auth/css/persona-button.css') }}" type="text/less" rel="stylesheet">
            {% endcompress %}
        {% endblock %}
        <link href="{{ static('img/favicon.ico') }}" rel="icon" type="image/png" />
        <title>{% block title %}Crash Stats{% endblock %}</title>
    </head>
    <body>
    <div class="page-header">
        <h1>
            <a href="/">
                <span class="icon"></span>
                <span class="title">Mozilla Crash Reports</span>
            </a>
        </h1>

        <form id="simple_search" method="get" action="{{ url('crashstats.query') }}">
            <input type="hidden" name="query_type" value="simple">
            <input type="hidden" name="do_query" value="1">
            <input type="text" id="q" name="query" value="Find Crash ID or Signature">
            <input type="submit" class="hidden">
        </form>
    </div>


    <h1>Product Navigation</h1>
    <div class="version-nav">
        {% block product_navigation %}
        <ul class="filter">
        <li></li>
        </ul>
        {% endblock %}
    </div>

            {% if messages %}
                {% for message in messages %}
                  <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                  </div>
                {% endfor %}
            {% endif %}


        {% block content %}{% endblock %}
        <div id="footer" class="page-footer">
            <div class="nav">
            <div class="about">
                <strong>Mozilla Crash Reports</strong> - Powered by <a href="https://github.com/mozilla/socorro">Socorro</a> - All dates are UTC
            </div>
            <ul>
                <li><a href="/status">Server Status</a></li>
                <li><a href="http://socorro.readthedocs.org/">Project Info</a></li>
                <li><a href="https://github.com/mozilla/socorro">Source Code</a></li>
                <li><a href="http://wiki.mozilla.org/Breakpad">Breakpad Wiki</a></li>
                <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">Privacy Policy</a></li>
            </ul>
        </div>


        <div class="login">
            <ul>
                <li>
                    {% if request.user.is_active %}
                      {{ request.user.email }}
                      |
                      <a href="/admin">Admin</a>
                      |
                      <a href="{{ url('auth:logout') }}">Sign out</a>
                    {% else %}
                      <a href="#" class="persona-button dark" id="browserid"
                         title="Sign in with Persona">
                        <span>Sign in</span>
                      </a>
                      <form method="post" action="{{ url('auth:mozilla_browserid_verify') }}">
                        {{ csrf() }}
                        {{ browserid_form.as_p() }}
                      </form>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% block site_js %}
    {% compress js %}
    <script src="{{ static('crashstats/js/jquery/jquery-1.6.4.min.js') }}"></script>
    <script src="{{ static('crashstats/js/jquery/plugins/jquery.cookies.2.2.0.js') }}"></script>
    <script src="{{ static('crashstats/js/socorro/nav.js') }}"></script>
    {% endcompress %}
    {% if not request.user.is_active %}
      {{ browserid_form.media }}
    {% endif %}
    {% endblock %}
  </body>
</html>
