{% macro pagination(report, url) %}
      <div class="pagination">
        <span class="totalItems">{{ report.total_count }}</span> Results
        {% if report.total_pages > 1 %}
        &hellip;
        {% if current_page > 1 %}
        <a href="{{ current_url }}&amp;page={{ current_page - 1 }}">&larr; Prev</a>
        {% endif %}
        {% for page in range(1, report.total_pages + 1) %}
          {% if page == current_page %}
            <strong>{{ page }}</strong>
          {% elif page > 2 and page < (report.total_pages - 2) %}
            {% if current_page < 3 and page == 7 %}
              &hellip;
            {% elif current_page > 6 and page == 3 %}
              &hellip;
            {% elif page > (current_page - 3) and page < (current_page + 3) %}
              <a href="{{ current_url }}&amp;page={{ page }}">{{ page }}</a>
            {% elif page == (report.total_pages - 3) %}
              &hellip;
            {% endif %}
          {% else %}
            <a href="{{ current_url }}&amp;page={{ page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
        {% if report.total_pages > current_page %}
          <a href="{{ current_url }}&amp;page={{ current_page + 1 }}">Next &rarr;</a>
        {% endif %}
        {% endif %}
      </div>
{%- endmacro %}
<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" class="production">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>{% block page_title %}Crash Data for {{ product }}{% endblock %}</title>

        {% block site_css %}
            {% compress css %}
            <link href="{{ static('crashstats/css/screen.less') }}" type="text/less" rel="stylesheet">
	    <link href="{{ static('auth/css/persona-button.css') }}" type="text/less" rel="stylesheet">
            {% endcompress %}
        {% endblock %}
        <link href="{{ static('img/favicon.ico') }}" rel="icon" type="image/png" />
    </head>
    <body>
    <div class="page-header">
        <h1>
            <a href="/">
                <span class="icon"></span>
                <span class="title">Mozilla Crash Reports</span>
            </a>
        </h1>

        <form id="simple_search" method="get" action="{{ url('crashstats.query') }}">
            <input type="hidden" name="query_type" value="simple">
            <input type="text" id="q" name="query" value="Find Crash ID or Signature">
            <input type="submit" class="hidden">
        </form>
    </div>

    <h1>Product Navigation</h1>

    <div class="version-nav">
        <input type="hidden" id="url_base" name="url_base" value="/products/{{ product }}" />
        <input type="hidden" id="url_site" name="url_site" value="/" />

	{% block product_nav_filter %}
        <ul class="filter">
            <li>
                Product:
                <select id="products_select">
                {% for p in releases %}
                    <option value="{{ p }}" {% if p == product %}selected{% endif %}>{{ p }}</option>
                {% endfor %}
                </select>
            </li>
            <li class="version_select">
                <select id="product_version_select" >
                    <optgroup label=" ">
                        <option value="Current Versions">Current Versions</option>
                    </optgroup>
                    <optgroup label=" ">
                    {% for release in releases[product] %}
                      {% if release.featured %}
                      <option value="{{ release.version }}" {% if release.version == version %}selected{% endif %}>{{ release.version }}</option>
                      {% endif %}
                    {% endfor  %}
                    </optgroup>
                    <optgroup label=" ">
                    {% for release in releases[product] %}
                      {% if not release.featured %}
                      <option value="{{ release.version }}" {% if release.version == version %}selected{% endif %}>{{ release.version }}</option>
                      {% endif %}
                    {% endfor  %}
                    </optgroup>
                </select>
            </li>
            <li>
                <label>Report:</label>
                <select id="report_select" >
                    <optgroup label=" ">
                        <option value="{{ url('crashstats.home', product) }}" {% if report == 'products' %}selected{% endif %}>Overview</option>
                    </optgroup>
                    <optgroup label=" ">
                        <option value="{{ url('crashstats.daily') }}?p={{ product }}" {% if report == 'daily' %}selected{% endif %}>Crashes per User</option>
                        <option value="{{ url('crashstats.builds', product) }}" {% if report == 'builds' %}selected{% endif %}>Nightly Builds</option>
                        <option value="{{ url('crashstats.hangreport', product) }}" {% if report == 'hangreport' %}selected{% endif %}>Hang Report</option>
                    </optgroup>
                    <optgroup label=" ">
                        <option value="{{ url('crashstats.topchangers', product) }}" {% if report == 'topchangers' %}selected{% endif %}>Top Changers</option>
                        <option value="{{ url('crashstats.topcrasher', product) }}" {% if report == 'topcrasher' %}selected{% endif %}>Top Crashers</option>
                        <option value="{{ url('crashstats.crash_trends', product) }}">Crash Trends</option>
                    </optgroup>
                </select>
            </li>
        </ul>
	{% endblock %}

        <div class="search">
            <a href="{{ url('crashstats.query') }}?product={{ product }}{% if version %}&amp;version={{ product}}:{{ version }}{% endif %}#advanced">Advanced Search</a>
        </div>
    </div>


        {% if messages %}
            {% for message in messages %}
              <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
        <div id="footer" class="page-footer">
            <div class="nav">
            <div class="about">
                <strong>Mozilla Crash Reports</strong> - Powered by <a href="https://github.com/mozilla/socorro">Socorro</a> - All dates are UTC
            </div>
            <ul>
                <li><a href="{{ url('crashstats.status') }}">Server Status</a></li>
                <li><a href="http://socorro.readthedocs.org/">Project Info</a></li>
                <li><a href="https://github.com/mozilla/socorro">Source Code</a></li>
                <li><a href="http://wiki.mozilla.org/Breakpad">Breakpad Wiki</a></li>
                <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">Privacy Policy</a></li>
            </ul>
        </div>


        <div class="login">
            <ul>
                <li>
                    {% if request.user.is_active %}
                      {{ request.user.email }}
                      |
                      <a href="/admin">Admin</a>
                      |
                      <a href="{{ url('auth:logout') }}">Sign out</a>
                    {% else %}
                      <a href="#" class="persona-button dark" id="browserid"
                         title="Sign in with Persona">
                        <span>Sign in</span>
                      </a>
                      <form method="post" action="{{ url('auth:mozilla_browserid_verify') }}">
                        {{ csrf() }}
                        {{ browserid_form.as_p() }}
                      </form>
                    {% endif %}
                </li>
	    </ul>
        </div>
    </div>
    {% block site_js %}
    {% compress js %}
    <script src="{{ static('crashstats/js/jquery/jquery-1.6.4.min.js') }}"></script>
    <script src="{{ static('crashstats/js/jquery/plugins/jquery.cookies.2.2.0.js') }}"></script>
    <script src="{{ static('crashstats/js/socorro/nav.js') }}"></script>
    {% endcompress %}
    {% if not request.user.is_active %}
      {{ browserid_form.media }}
    {% endif %}
    {% endblock %}
  </body>
</html>
