# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

##
## Copy this file to commonconfig.py
##  - then fix the values to match your test environment
##

#---------------------------------------------------------------------------
# Relational Database Section

import socorro.lib.ConfigurationManager as cm
databaseHost = cm.Option()
databaseHost.doc = 'the hostname of the database servers'
databaseHost.default = 'localhost'

databaseName = cm.Option()
databaseName.doc = 'the name of the database within the server'
databaseName.default = 'socorro_integration_test'

oldDatabaseName = cm.Option()
oldDatabaseName.doc = 'the name of the old, deprecated test database within the server'
oldDatabaseName.default = 'socorro_test'

databaseUserName = cm.Option()
databaseUserName.doc = 'the user name for the database servers'
databaseUserName.default = 'breakpad_rw'

databasePassword = cm.Option()
databasePassword.doc = 'the password for the database user'
databasePassword.default = 'aPassword'

#---------------------------------------------------------------------------
# HBase storage system

hbaseHost = cm.Option()
hbaseHost.doc = 'Hostname for hbase hadoop cluster. May be a VIP or load balancer'
hbaseHost.default = 'localhost'

hbasePort = cm.Option()
hbasePort.doc = 'hbase port number'
hbasePort.default = 9090

hbaseTimeout = cm.Option()
hbaseTimeout.doc = 'timeout in milliseconds for an HBase connection'
hbaseTimeout.default = 5000


#---------------------------------------------------------------------------
# statsd config

statsdHost = cm.Option()
statsdHost.doc = ''
statsdHost.default = ''

statsdPort = cm.Option()
statsdPort.doc = ''
statsdPort.default = 8125

statsdPrefix = cm.Option()
statsdPrefix.doc = ''
statsdPrefix.default = ''

#---------------------------------------------------------------------------
# Platforms
platforms = cm.Option()
platforms.doc = 'Array associating OS ids to full names.'
platforms.default = (
    {
        "id" : "windows",
        "name" : "Windows NT"
    },
    {
        "id" : "mac",
        "name" : "Mac OS X"
    },
    {
        "id" : "linux",
        "name" : "Linux"
    },
)
