{% extends "crashstats_base.html" %}

{% block page_title %}Debug Login{% endblock %}

{% block product_nav_filter %}&nbsp;{% endblock %}

{% block site_css %}
{{ super() }}
{% stylesheet 'debug_login' %}
{% endblock %}

{% block site_js %}
{{ super() }}
{% javascript 'debug_login' %}
{% endblock %}


{% block content %}
<div id="mainbody">
    <div class="page-heading">
        <h2>Debug Login</h2>
    </div>
    <h3>
        Trying to figure out why sign-in isn't working?
        <br> Let's see what clues we might be able to find...
    </h3>

    <div class="conclusion good">
        <h1>&#128077;</h1>
        <h3>Everything looks good!</h3>
    </div>
    <div class="conclusion bad">
        <h1>&#128078;</h1>
        <h3>There appears to be some trouble in the configuration</h3>
    </div>

    <div id="check-console">
        <p>Something went wrong during the rendering of this page. Open the web console and look for warnings and errors.</p>
    </div>

    <div class="test" id="session-cookie-secure" data-session-cookie-secure="{{ SESSION_COOKIE_SECURE | json_dumps }}" data-cookie-value="{{ cookie_value }}">
        <h4>
            <code>SESSION_COOKIE_SECURE</code>
        </h4>
        <p class="loading">Loading...</p>
    </div>

    <div class="test" id="caching" data-cache-value="{{ cache_value }}" data-cache-setting="{{ cache_setting }}">
        <h4>Caching</h4>
        <p>You are currently using
            <code>{{ cache_setting }}</code>
        </p>
        <p class="loading">Loading...</p>
    </div>
    </div>
{% endblock %}