{% extends "bixie_base.html" %}

{% block content %}
<div class="content_container">
    <h2>Error Summary</h2>
    <table>
        <thead>
            <th>Error</th>
            <th>Percentage</th>
            <th>Number of Crashes</th>
        </thead>
        <tbody>
            <tr>
                <td>Unterminated string litteral</td>
                <td>10%</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>Unterminated string litteral</td>
                <td>10%</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>Unterminated string litteral</td>
                <td>10%</td>
                <td>1000</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Error Reports for Unterminated string litteral</h2>
<table class="report_list">
    <thead>
        <th class="report_list_date">Date</th>
        <th class="report_list_version">Version</th>
        <th>Error</th>
    </thead>
    <tbody>
        <tr>
            <td>Jun 10, 2013 23:47</td>
            <td>1.1b2009.3b</td>
            <td>
                <a href="javascript:void(0)" class="jserror">
                    <span aria-hidden="true" class="expand_icon"></span>Unterminated string litteral
                </a>
<pre class="collapsed">
{
"protocol": "https",
"username": null,
"password": null,
"hostname": "localhost",
"urn": null,
"port": null,
"path": "/api/0/store/",
"fragment": null,
"duplicateQueryParameters": false
}
</pre>
            </td>
        </tr>
        <tr>
            <td>Jun 10, 2013 23:47</td>
            <td>1.1b2009.3b</td>
            <td>
                <a href="javascript:void(0)" class="jserror">
                    <span aria-hidden="true" class="expand_icon"></span>Unterminated string litteral
                </a>
<pre class="collapsed">
{
"protocol": "https",
"username": null,
"password": null,
"hostname": "localhost",
"urn": null,
"port": null,
"path": "/api/0/store/",
"fragment": null,
"duplicateQueryParameters": false
}
</pre>
            </td>
        </tr>
        <tr>
            <td>Jun 10, 2013 23:47</td>
            <td>1.1b2009.3b</td>
            <td>
                <a href="javascript:void(0)" class="jserror">
                    <span aria-hidden="true" class="expand_icon"></span>Unterminated string litteral
                </a>
<pre class="collapsed">
{
"protocol": "https",
"username": null,
"password": null,
"hostname": "localhost",
"urn": null,
"port": null,
"path": "/api/0/store/",
"fragment": null,
"duplicateQueryParameters": false
}
</pre>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
