rules:
  linebreak-style:
    - 2
    - unix
  max-len: "off" # Use prettier default line length
env:
  browser: true
  es6: true
  jest: true
parserOptions:
  ecmaVersion: 7
  sourceType: module
extends:
  - eslint:recommended
  - plugin:prettier/recommended
  - plugin:react/recommended
